<% form_for(@adjunto, :url => url, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <% if @proyecto %>
    <b>Proyecto << <%= link_to(@proyecto.titulo, proyecto_proyecto_path(@proyecto)) %></b>
  <% end %>
  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :archivo %><br />
    <%= f.file_field :archivo %>
  </p>
  <p>
    <%= f.submit 'Adjuntar' %>
  </p>
<% end %>