<% if adjuntos && !adjuntos.empty? %>
  <table class="decorated">
    <thead>
      <tr>
        <th>Descripcion</th>
        <th>Archivo</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% adjuntos.each do |adjunto| %>
        <tr>
          <td><%=h adjunto.nombre %></td>
          <td><%= link_to adjunto.archivo.url.split("/").last, adjunto %></td>
          <td><%= link_to 'Destroy', adjunto, :confirm => 'Are you sure?', :method => :delete, :class => "delete" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @adjuntos %>
    <%= will_paginate(@adjuntos) %>
  <% end %>
<% else %>
<h5>Sin adjuntos</h5>
<% end %>
<% if !defined?(not_show) %>
  <% if @proyecto %>
    <%= link_to 'Nuevo adjunto', new_proyecto_proyecto_adjunto_path(@proyecto), :class => 'new ajax' %>
  <% else %>
    <%= link_to 'Nuevo adjunto', new_adjunto_path, :class => 'new' %>
  <% end %>
<% end %>
