<table class="decorated">
  <tr>
    <th>Descripcion</th>
    <th>Archivo</th>
    <th colspan="2"></th>
  </tr>
  <% adjuntos.each do |adjunto| %>
    <tr>
      <td><%=h adjunto.nombre %></td>
      <td><%= link_to adjunto.archivo.url, adjunto %></td>
      <td><%= link_to 'Edit', edit_adjunto_path(adjunto), :class => "edit" %></td>
      <td><%= link_to 'Destroy', adjunto, :confirm => 'Are you sure?', :method => :delete, :class => "delete" %></td>
    </tr>
  <% end %>
</table>
<br />
<% if @proyecto %>
<%= link_to 'Nuevo adjunto', new_proyecto_proyecto_adjunto_path(@proyecto), :class => 'new' %>
<% else %>
<%= link_to 'Nuevo adjunto', new_adjunto_path, :class => 'new' %>
<% end %>