- form_for @proyecto/item_cobro do |f|
  = f.error_messages
  %p
    = f.label :referencia_cliente
    %br
    = f.text_field :referencia_cliente
  %p
    = f.label :referencia_cliente_cobranza
    %br
    = f.text_field :referencia_cliente_cobranza
  %p
    = f.label :fecha_limite
    %br
    = f.date_select :fecha_limite
  %p
    = f.label :honorarios
    %br
    = f.text_field :honorarios
  %p
    = f.label :gastos_administrativos
    %br
    = f.text_field :gastos_administrativos
  %p
    = f.submit
