- title "Proyecto/Item Cobros"

%table
  %tr
    %th Referencia cliente
    %th Referencia cliente cobranza
    %th Fecha limite
    %th Honorarios
    %th Gastos administrativos
  - for proyecto/item_cobro in @proyecto/item_cobros
    %tr
      %td= proyecto/item_cobro.referencia_cliente
      %td= proyecto/item_cobro.referencia_cliente_cobranza
      %td= proyecto/item_cobro.fecha_limite
      %td= proyecto/item_cobro.honorarios
      %td= proyecto/item_cobro.gastos_administrativos
      %td= link_to 'Show', proyecto/item_cobro
      %td= link_to 'Edit', edit_proyecto/item_cobro_path(proyecto/item_cobro)
      %td= link_to 'Destroy', proyecto/item_cobro, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Proyecto/Item Cobro", new_proyecto/item_cobro_path
