- title "Proyecto/Tipo Instruccion"

%p
  %strong Nombre:
  = @tipo_instruccion.nombre
  %strong Sigla:
  = @tipo_instruccion.sigla

%p
  = link_to "Editar", edit_proyecto_tipo_instruccion_path(@tipo_instruccion), :class=>'edit'
  |
  = link_to "Eliminar", @tipo_instruccion, :confirm => 'Are you sure?', :method => :delete, :class=>'delete'
  |
  = link_to "Listado", proyecto_tipo_instrucciones_path
