<% semantic_form_for @agente do |agente| %>

  <%= agente.input :pais, :as => :select, :collection => Pais.find(:all) %>
  <%= agente.input :nombre, :label => 'Nombre', :input_html => { :size => 70 } %>
  <%= agente.input :direccion, :label => 'Dirección', :as => :text, :input_html => { :rows => 3, :cols => 45 } %>
  <%= agente.input :email, :label => 'Email central' %>
  <%= agente.input :telefono, :label => 'Teléfono' %>
  <%= agente.input :fax, :label => 'Fax' %>
  <%= agente.input :pagina_web, :label => 'Página web' %>
<p>
<%=  agente.submit 'Salvar' %>
</p>
<% end %>
   
