%p
  %strong Nombre:
  = @area.nombre
%p
  %strong Sigla:
  = @area.sigla

%p
  = link_to "Editar", edit_proyecto_area_path(@area)
  |
  = link_to "Eliminar", @area, :confirm => 'Esta usted seguro?', :method => :delete
  |
  = link_to "Listado", proyecto_areas_path
