- title "Proyecto/Area"

%p
  %strong Nombre:
  = @area.nombre
%p
  %strong Sigla:
  = @area.sigla

%p
  = link_to "Edit", edit_proyecto_area_path(@area)
  |
  = link_to "Destroy", @area, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", proyecto_areas_path
