<div class="subder">
  <% unless contactos.blank? %>
    <% contactos.each do |contacto| %>
      <%= link_to 'Editar', edit_contacto_path(contacto), :class => 'edit' %> 
      <p>
        <label>Nombre:</label>
        <%=h contacto.nombre %>
      </p>

      <p>
        <label>Cargo:</label>
        <%=h contacto.cargo %>
      </p>
      <p>
        <label>Teléfono:</label>
        <%=h contacto.telefono %>
      </p>

      <p>
        <label>Email:</label>
          <%=h contacto.email %>
      </p>
      <hr>
    <% end %>
  <% end %>
  <hr/>
</div>
