<h2>Lista de contactos</h2>
<%= link_to 'Editar', edit_contacto_path(@contacto), :class => 'edit' %> 
<%= link_to 'Lista', contactos_path, :class => 'list' %>
<div class="izquierda">
  <p>
    <label>Nombre:</label>
    <%=h @contacto.nombre %>
  </p>

  <p>
    <label>Cargo:</label>
    <%=h @contacto.cargo %>
  </p>

  <p>
    <label>Teléfono:</label>
    <%=h @contacto.telefono %>
  </p>

  <p>
    <label>Email:</label>
    <%=h @contacto.email %>
  </p>

  <label for="">Relacionamiento</label>
  <%= @contacto.relacionamiento %>
</div>

