<div class="response">
  <div class="half fl">
  <p>
    <label>Nombre:</label>
    <%=h @contacto.nombre %>
  </p>

  <p>
    <label>Cargo:</label>
    <%=h @contacto.cargo %>
  </p>

  </div>
  <div class="half fl">
    <p>
      <label>Teléfono:</label>
      <%=h @contacto.telefono %>
    </p>

    <p>
      <label>Email:</label>
      <%=h @contacto.email %>
    </p>
  </div>
</div>

<%= link_to 'Editar', edit_contacto_path(@contacto), :class => 'edit' %> 
<%= link_to 'Lista', contactos_path, :class => 'list' %>
