<%= semantic_form_for(@clase) do |f| %>
  <%= f.semantic_errors %>

  <%= f.input :codigo, :label => 'Código', :hint => 'Número de código' %>
  <%= f.input :nombre, :label => 'Nombre' %>
  <%= f.input :descripcion, :label => 'Descripción', :as => :text %>

  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

