<% semantic_form_for(@clase) do |f| %>
  <%= f.error_messages %>

  <% f.inputs do %>
    <%= f.input :codigo, :label => 'Código', :hint => 'Número de código' %>
    <%= f.input :nombre, :label => 'Nombre' %>
    <<%= f.input :descripcion, :label => 'Descripción', :as => :text %>>
  <% end %>

  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

