<h1>Clases</h1>

<%= link_to 'Nueva clase', new_clase_path, :class => 'new' %>

<table>
  <tr>
    <th>Nombre</th>
    <th>Código</th>
    <th>Descripción</th>
  </tr>

<% @clases.each do |clase| %>
  <tr>
    <td><%=h clase.nombre %></td>
    <td><%=h clase.codigo %></td>
    <td><%=h clase.descripcion %></td>
    <td><%= link_to 'Ver', clase %></td>
    <td><%= link_to 'Editar', edit_clase_path(clase) %></td>
    <td><%= link_to 'Borrar', clase, :confirm => 'Esta seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>


