<h1>Clases</h1>

<%= link_to 'Nueva clase', new_clase_path, :class => 'new' %>

<%= will_paginate @clases %>

<table class="decorated nwl">
  <tr>
    <th>Nombre</th>
    <th>Código</th>
    <th>Descripción</th>
    <th></th>
  </tr>

<% @clases.each do |clase| %>
  <tr>
    <td><%=h link_to clase.nombre[6..-1], clase %></td>
    <td><%=h clase.id %></td>
    <td><%=h clase.descripcion %></td>
    <td><%= links(clase) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @clases %>
