- title "Proyecto/Instruccions"

%table
  %tr
    %th Codigo
    %th Proyecto
    %th Gerencia
    %th Referencia email
  - for proyecto/instruccion in @proyecto/instruccions
    %tr
      %td= proyecto/instruccion.codigo
      %td= proyecto/instruccion.proyecto_id
      %td= proyecto/instruccion.gerencia_id
      %td= proyecto/instruccion.referencia_email
      %td= link_to 'Show', proyecto/instruccion
      %td= link_to 'Edit', edit_proyecto/instruccion_path(proyecto/instruccion)
      %td= link_to 'Destroy', proyecto/instruccion, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Proyecto/Instruccion", new_proyecto/instruccion_path
