- title "Proyecto/Instruccion"

%p
  %strong Codigo:
  = @proyecto/instruccion.codigo
%p
  %strong Proyecto:
  = @proyecto/instruccion.proyecto_id
%p
  %strong Gerencia:
  = @proyecto/instruccion.gerencia_id
%p
  %strong Referencia Email:
  = @proyecto/instruccion.referencia_email

%p
  = link_to "Edit", edit_proyecto/instruccion_path(@proyecto/instruccion)
  |
  = link_to "Destroy", @proyecto/instruccion, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", proyecto/instruccions_path
