<form action="/busquedas" method="get", id="form_buscar" >
  </ br>
  <div style="clear:both"></div>
  <div style="clear:both"></div>
  <%= text_field_tag :busqueda, params[:busqueda], :size => 40 %>

  <div style="clear:both"></div>

  <div class="half fl">
    <label for="clases">Clases</label>
    <select id="clases" name="clases">
      <%= options_for_select(BusquedaVacia.options, params[:clases]) %>
    </select>
    <input id="oneclass" name="una_clase" type="input" value="" style="display:none"/>
  </div>


  <div class="half fl">
    <label for="">Tipo de busqueda</label>
    <label for="">
      <%= radio_button_tag "tipo_busqueda", "prev", params[:tipo_busqueda] == 'prev', :id => 'tipo_busqueda_prev' %>
      Preventiva</label>
    <label for="">
      <%= radio_button_tag "tipo_busqueda", "prep", params[:tipo_busqueda] == 'prep', :id => 'tipo_busqueda_prep' %>
      Prepublicación</label>

    <div id="fechas" style="<%= "display:none" unless params[:tipo_busqueda] == "prep" %>">
        <label for="">Fechas</label>
        <input id="fecha_ini" name="fecha_ini" type="text" class="date" value="<%= params[:fecha_ini] %>" />
        <input id="fecha_fin" name="fecha_fin" type="text" class="date" value="<%= params[:fecha_fin] %>" />
    </div>
  </div>

  <div style="clear:both"></div>

  <input type="submit" value="Buscar" />
</form>

<script type="text/javascript">
$(document).ready(function() {
  $('input[name=tipo_busqueda]').click(function() {
    if( $(this).val() == 'prep' ) {
      $('#fechas').show();
    }else{
      $('#fechas').hide();
      $('#fechas input').val('');
    }
  });

  $('#form_buscar').submit(function() {
    if( $('#busqueda').val().trim() == '' ) {
      alert('Debe ingresar un termino de busqueda');
      return false;
    }else{
      return true;
    }
  });
});
</script>

