<form action="/busquedas" method="get" id="form_buscar" >
      <div style="clear:both"></div>
  <div style="clear:both"></div>
  <div class="half fl">
    <%= label_tag "busqueda", "Busqueda" %>
    <label for="busqueda"></label>
    <%= text_field_tag :busqueda, params[:busqueda], :size => 40 %>
  </div>
  <% if show_titulares %>
    <div class="half fl">
      Buscar por
      <label for="representante_signo">
        <%= radio_button_tag "representante", "signo", params[:representante] ? params[:representante] == "signo" : false, :id => "representante_signo" %> Signo
      </label>
      <label for="representante_agente">
        <%= radio_button_tag "representante", "agente", params[:representante] ? params[:representante] == "agente" : false, :id => "representante_agente" %> Agente
      </label>
      <label for="representante_titular">
        <%= radio_button_tag  "representante", "titular", params[:representante] ? params[:representante] == "titular" : false, :id => "representante_titular" %> Titular
      </label>
    </div>
    <div class="clear"></div>
    <%= render :partial => "generic_select" %>
  <% end -%>
  <input type="submit" value="Buscar" />

</form>

<script type="text/javascript">
  $(document).ready(function() {
    $('input[name=tipo_busqueda]').click(function() {
      if( $(this).val() == 'prep' ) {
        $('#fechas').show();
      }else{
        $('#fechas').hide();
        $('#fechas input').val('');
      }
    });
    // Validacion para la busqueda
    $('#form_buscar').submit(function() {
      var txt = "";
      if($('#clases_grupos').find(':checkbox:checked').length <= 0) {
        txt += "Debe seleccionar al menos una clase para la busqueda\n";
      }
      if($('#busqueda').val().trim() == "") {
        txt += "Debe ingresar un termino de busqueda";
      }
      if(txt != ""){
        alert(txt);
        return false;
      }else{
        return true;
      }
    });
    $('#cliente').autocomplete({
      'source': '/representantes/buscar',
      'select': function(e, ui) {
        var val = $(ui).autocomplete("option").get()[0];
        $('#representante_id').val(val.item.id);
        $('span.representante_id').html(val.item.label);
      }
    });

    $('#cliente').change(function(event){
      if($(this).val() == ""){
        $('#representante_id').val(null);
        $('span.representante_id').html("");
      }
    });
  });
</script>

