<h2 class="dark">
    <% unless @busqueda.nil? %>
      <% if params[:action] != "index" %>
       Para los parametros de búsqueda: <br/> <span class="resaltado"> <%= parametros_busqueda(params[:search]) unless params[:search].nil?%>  </span><br> se obtuvieron <%= @busqueda.size %> resultados
      <% end %>
  <% end %>
</h2>
<% unless @busqueda.blank? %>
  <%= form_for @consulta, :url => consultas_path do |f| -%>
    <%= f.hidden_field :representante_id %>
    <%= f.hidden_field :parametros %>
    <%= f.hidden_field :busqueda %>
    <% if defined?(avanzado) %>
      <%= hidden_field_tag :avanzado, avanzado %>
    <% end %>
    <div id="contenido">
      <table class="decorated nolink tablesorter" id="tabla-cruce">
        <thead>
          <tr>
            <th style="width: 10px;">
              <%= check_box_tag :select_all_ckecks %>
            </th>
            <th style="width: 250px;">Nombre</th>
            <th style="width: 15px;">Cl.</th>
            <th style="width: 15px;">Tipo</th>
            <th style="width: 55px;">Nro</th>
            <th style="width: 40px;">Fecha</th>
            <th style="width: 175px;">Titulares</th>
            <th style="width: 175px;">Agentes</th>
          </tr>
        </thead>
        <tbody>
          <% index = 0 %>
          <% @busqueda.each do |marca| %>
            <tr>
              <td>
               <%= check_box_tag "consulta_detalles_attributes_#{marca.id}", 1, false, 'data-index' => index %>
              </td>
              <td><label for="marca<%= marca.id %>"><span class="<%= marca.propia! %>"><%= link_to marca.nombre, marca_path(marca), :class => 'ajax'%></span></label></td>
              <td><%= marca.clase_id %></td>
              <td><%= tipo_signo_sigla(marca.tipo_signo_id) %></td>
              <td><%= marca.numero_marca %></td>
              <td><%= lo(marca.fecha_marca, :format => "%d %b, %Y") if marca.fecha_marca %></td>
              <td><%= buscar_representante( marca.titular_ids_serial, @representantes ) %></td>
              <td><%= buscar_representante( marca.agente_ids_serial, @representantes ) %></td>
            </tr>
            <% index += 1 %>
          <% end %>
        </tbody>
      </table>
      <% if params[:select_marcas] %>
        <%= submit_tag "Seleccionar marcas", :id => 'seleccionar_ids' %>
      <% else%>
        <%= submit_tag "Crear pre reporte", :id => 'seleccionar' %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <% if params[:busqueda] %>
    <h2>Sin resultados para la busqueda</h2>
  <% end %>
<% end %>
<script>
  $("#select_all_ckecks").click(function(){
    if($(this).attr("checked")){
      var results = $("#tabla-cruce tbody :checkbox:not(:checked)");
      results.attr('checked', true)
      results.click();
      results.attr('checked', true)
    } else{
      results = $("#tabla-cruce tbody :checkbox:checked");
      results.attr('checked', false)
      results.click();
      results.attr('checked', false)
    }
  });
</script>
