#busqueda
  %h1 Búsqueda avanzada
  -form_tag '/search_results' do
    .izquierda
      = label_tag "Propiedad:"
      = select "Propia", "Propia", ["Propia", "Ajena", "Ambas"]
      %br
      %br
      
      = label_tag "Disponibilidad:"
      = select "Activa", "Activa", ["Activa", "Inactiva", "Ambas"]
      %br
      %br
      .izquierda
        = label_tag "Denominación:"
        = text_field_tag :marca

      .derecha
        = radio_button_tag "exacta","exacta"
        = label_tag "Palabra o frase EXACTA", "Palabra o frase EXACTA", :class => 'line'
        %br
        = radio_button_tag "similar", "similar"
        = label_tag "Palabra(s) dentro de una frase", "Palabra(s) dentro de una frase", :class => 'line'
      %br
      %br
      .izquierda
        = label_tag "Agentes"
        = text_field_tag :agentes

      .derecha
        = label_tag "Países"
        %ul
          %li
            =#link_to 'BO, VE, CO, PE, UY, BR', "javascript:", :""data-clases"" => "1,2,4"
            %a{:href => "javascript:", :"data-clases" => ""} BO, VE, CO, PE, UY, BR
      %br
      %br
      %br
      %br

      .izquierda
        = label_tag "Titulares"
        = text_field_tag :titulares
        %br
        %br

      .derecha
        = label_tag "Países"
        %ul
          %li
            %a{:href => "javascript:", :"data-clases" => ""} BO, VE, CO, PE, UY, BR
        %br
        %br


      = label_tag "Clases"
      #clases_grupos
        %ul#botones
          %li
            %a{:href => "javascript:", :"data-clases" => ""} 1, 2 y 4
          %li
            %a{:href => "javascript:", :"data-clases" => "3,5,10,44"} 3, 5, 10 y 44
          %li
            %a{:href => "javascript:", :"data-clases" => "6,14"} 6 y 14
          %li
            %a{:href => "javascript:", :"data-clases" => "7,8,9,11,21"} 7, 8, 9, 11 y 21
          %li
            %a{:href => "javascript:", :"data-clases" => "17,19,20,22"} 17, 19, 20 y 22
          %li
            %a{:href => "javascript:", :"data-clases" => "18,25"} 18 y 25
          %li
            %a{:href => "javascript:", :"data-clases" => "22,23,24,25,26"} 22, 23, 24, 25 y 26
          %li
            %a{:href => "javascript:", :"data-clases" => "29,30,31"} 29, 30 y 31
          %li
            %a{:href => "javascript:", :"data-clases" => "32,33"} 32 y 33
          %li
            %a{:href => "javascript:", :"data-clases" => "35,36,37,38,39,40,41,42,43,44,45"} 35 a la 45

      = label_tag "Tipo de marca:"
      = select "tipo_marca", "tipo_marca", TipoMarca.all
      %br
      %br

      = label_tag "Tipo de signo:"
      = select "tipo_signo", "tipo_signo", TipoSigno.all
      %br
      %br
      
      = label_tag "Vía instrucción:"
      = select "instruccion", "instruccion", Marca::INSTRUCCIONES
      %br
      %br
      
      = label_tag "Estado:"
      = select "estado", "estado", MarcaEstado.all
      %br
      %br

      .izquierda
        = label_tag "Descripción del diseño:"
        = text_field_tag "desc_diseno"

      .derecha   
        = radio_button_tag "desc_diseno_exacta","desc_diseno_exacta"
        = label_tag "Palabra o frase EXACTA","Palabra o frase EXACTA" , :class => 'line'
        %br
        = radio_button_tag "desc_diseno_similar", "desc_diseno_similar"
        = label_tag "Palabra(s) dentro de una frase", "Palabra(s) dentro de una frase", :class => 'line'
      %br
      %br

      .izquierda
        = label_tag "Descripción productos/servicios:"
        = text_field_tag "desc_prod_servicios"
      .derecha 
        = radio_button_tag "desc_productos_exacta","desc_productos_exacta"
        = label_tag "Palabra o frase EXACTA","Palabra o frase EXACTA" , :class => 'line'
        %br
        = radio_button_tag "desc_productos_similar", "desc_productos_similar"
        = label_tag "Palabra(s) dentro de una frase","Palabra(s) dentro de una frase" , :class => 'line'
      %br
      %br

      .izquierda
        = label_tag "Observaciones:"
        = text_field_tag "observaciones"
      .derecha 
        = radio_button_tag "observaciones_exacta","observaciones_exacta"
        = label_tag "Palabra o frase EXACTA","Palabra o frase EXACTA" , :class => 'line'
        %br
        = radio_button_tag "observaciones_similar", "observaciones_similar"
        = label_tag "Palabra(s) dentro de una frase","Palabra(s) dentro de una frase" , :class => 'line'
      %br
      %br
      
  .contenido
    .izquierda
      = label_tag "sm","SM:"
      = label_tag "de:","de:", :class => 'line'
      = text_field_tag "sm_inicio"
      = label_tag "a:","a:", :class => 'line'
      = text_field_tag "sm_fin"
      %br
      %br
      
      = label_tag "Numero publicación:"
      = label_tag "de:","de:", :class => 'line'
      = text_field_tag "publicacion_inicio"
      = label_tag "a:","a:", :class => 'line'
      = text_field_tag "publicacion_fin"
      %br
      %br

      = label_tag "Gaceta:"
      = label_tag "de:","de:", :class => 'line'
      = text_field_tag "gaceta_inicio"
      = label_tag "a:","a:", :class => 'line'
      = text_field_tag "gaceta_fin"
      %br
      %br

      = label_tag "Numero registro:"
      = label_tag "de:","de:", :class => 'line'
      = text_field_tag "registro_inicio"
      = label_tag "a:","a:", :class => 'line'
      = text_field_tag "registro_fin"
      %br
      %br

      = label_tag "sr","SR:"
      = label_tag "de:","de:", :class => 'line'
      = text_field_tag "sr_inicio"
      = label_tag "a:","a:", :class => 'line'
      = text_field_tag "sr_fin"
      %br
      %br
      
      = label_tag "Numero Renovación:"
      = label_tag "de:","de:", :class => 'line'
      = text_field_tag "renovacion_inicio"
      = label_tag "a:","a:", :class => 'line'
      = text_field_tag "renovacion_fin"
      %br
      %br
      
      = label_tag "Id:"
      = label_tag "de:","de:", :class => 'line'
      = text_field_tag "id_inicio"
      = label_tag "a:","a:", :class => 'line'
      = text_field_tag "id_fin"
      %br
      %br

    .derecha  
      = label_tag "Fecha solicitud:"
      = label_tag "de:","de:", :class => 'line'
      = text_field_tag "fecha_sol_inicio"
      = label_tag "a:","a:", :class => 'line'
      = text_field_tag "fecha_sol_fin"
      %br
      %br
      
      = label_tag "Fecha publicación:"
      = label_tag "de:","de:", :class => 'line'
      = text_field_tag "fecha_pub_inicio"
      = label_tag "a:","a:", :class => 'line'
      = text_field_tag "fecha_pub_fin"
      %br
      %br
      %br
      %br
      %br
      %br
      
      = label_tag "Fecha registro:"
      = label_tag "de:","de:", :class => 'line'
      = text_field_tag "fecha_reg_inicio"
      = label_tag "a:","a:", :class => 'line'
      = text_field_tag "fecha_reg_fin"
      %br
      %br
      
      = label_tag "Fecha solicitud renovación:"
      = label_tag "de:","de:", :class => 'line'
      = text_field_tag "fecha_sol_ren_inicio"
      = label_tag "a:","a:", :class => 'line'
      = text_field_tag "fecha_sol_ren_fin"
      %br
      %br

      = label_tag "Fecha renovación:"
      = label_tag "de:","de:", :class => 'line'
      = text_field_tag "fecha_ren_inicio"
      = label_tag "a:","a:", :class => 'line'
      = text_field_tag "fecha_ren_fin"
      %br
      %br
= submit_tag "Buscar" 
