
<h1>"<%= @marca.nombre %>"</h1>
<div class="_110">
  <div class="half fl" id="div1">
    <label>Clase:</label>
    <%= @marca.clase_id %>
    <label> Nº solicitud </label>
    <%= @marca.numero_solicitud %>
    <label>Nº publicación:</label>
    <%= @marca.numero_publicacion %>
  </div>
  <div class="half fl" id="div2">
      <label for="">Tipo: </label>
      <%= @marca.tipo_signo %>
      <label for="">Fecha solicitud</label>  
      <%= lo @marca.estado_fecha %></h3>
      <label>Titulares:</label>
      <%= @marca.titulares.join(", ") %>
  </div>
</div>
    <%= link_to "Ver mas", ver_marca_path(@marca), :class => 'ajax' %>

<h2>Resultados para el cruce</h2>
<%= link_to "Volver a importacion", cruce_importacion_path(@importacion, :page => @page) %>
<%= ver_cruce(@consulta, :class => 'ajax') unless params[:consulta_id].nil? %>

<% form_tag new_consulta_path, :method => 'get' do -%>
  <%= hidden_field_tag "clases", (1..45).to_a.join(",") %>
  <%= hidden_field_tag "busqueda", @marca.nombre %>
  <%= hidden_field_tag "page", @page %>

  <%= hidden_field_tag "marca_id", params[:marca_id] %>
  <%= hidden_field_tag "importacion_id", params[:importacion_id] unless params[:importacion_id].nil? %>
  <%= hidden_field_tag "consulta_id", params[:consulta_id] unless params[:consulta_id].nil? %>

<% unless @busqueda.blank? %>

  <table class="decorated">
  	<tr>
      <th></th>
  		<th>Nombre</th>
  		<th>Clase</th>
      <th>Tipo de<br/> busqueda</th>
      <th>Activa</th>
  	</tr>
    <% @busqueda.each_with_index do |b, i| %>
      <tr>
        <td>
          <input name="marcas[<%= i %>]" type="checkbox" id="marca<%= b.id %>" value="<%= b.id %>" data-tipo="<%= b.pos %>" />
        </td>
      	<td><label for="marca<%= b.id %>"><%= b.nombre %></label></td>
      	<td><%= b.clase_id %></td>
        <td><%= tipo_busqueda b.pos %></td>
        <td><%= b.activa %></td>
      </tr>
    <% end %>

  </table>

  <%= submit_tag "Seleccionar", :id => 'seleccionar' %>
  <% end %>

  <%= submit_tag "Descartar", :class => 'red', :id => 'descartar' if params[:importacion_id] %>

<% end %>

<script type="text/javascript">
(function($) {
  // Confirmacion de borrado de cruce y verificacion de nuevo cruce
  $('#seleccionar').click(function(e) {
    if ( $('input:checkbox:checked').length <= 0 ) {
      alert('Debe seleccionar al menos una marca una marca');
      return false;
    }else{
      if($('#consulta_id').length > 0) {
        if( confirm('Esta seguro de borrar el anterior cruce realizado') ) {
          return true
        }else{
           return false;
        }
      }else {
        return true;
      } 
    }
    
  });

  $('input:checkbox').click(function() {
    if( $(this).attr('checked') ) {
      var input = document.createElement('input');
      $(input).attr({ 
        'name': $(this).attr('name').replace(/marcas/, 'tipos'),
        'type': 'hidden',
        'value': $(this).attr('data-tipo')
      });
      $(this).after(input);
    }else {
      $(this).siblings('input:hidden').remove();
    }
    //$(this).siblings('input:hidden').attr('disabled', $(this).attr('checked') );
  });
})(jQuery);

</script>
