<div class="breadcrumps">
  <%= link_to "Lista de importaciones", importaciones_path %> > <%= link_to "Cruce gaceta", cruce_importaciones_path(:importacion_id => params[:importacion_id], :page => @page) %> > Selección
</div>

<h1>"<%= @marca.nombre %>"</h1>

<a class="more" href="javascript:">Ver más</a>
<div class="hidden">
  <div class="half fl" id="div1">
    <p>
      <label>Clase:</label>
      <%= @marca.clase_id %>
    </p>
    <p>
      <label> Nº solicitud </label>
      <%= @marca.numero_solicitud %>
    </p>
    <p>
      <label>Nº publicación:</label>
      <%= @marca.numero_publicacion %>
    </p>
  </div>
  <div class="half fl" id="div2">
    <p>
      <label for="">Tipo: </label>
      <%= @marca.tipo_signo %>
    </p>
    <p>
      <label for="">Fecha solicitud</label>
      <%= lo @marca.estado_fecha %>
    </p>
    <p>
      <label>Titulares:</label>
      <%= @marca.titulares.join(", ") %>
    </p>
  </div>
  <%= link_to "Ver marca", ver_marca_path(@marca), :class => 'ajax show' %>
</div>

<h2 class="dark">Resultados del cruce</h2>

<%= form_tag new_consulta_path, :method => 'get' do -%>
  <%= hidden_field_tag "clases", (1..45).to_a.join(",") %>
  <%= hidden_field_tag "busqueda", @marca.nombre %>
  <%= hidden_field_tag "page", @page %>

  <%= hidden_field_tag "marca_id", params[:marca_id] %>
  <%= hidden_field_tag "importacion_id", params[:importacion_id] unless params[:importacion_id].nil? %>
  <%= hidden_field_tag "consulta_id", params[:consulta_id] unless params[:consulta_id].nil? %>

  <% unless @busqueda.blank? %>

    <table class="decorated .nolink" id="tabla-cruce">
      <tr>
        <th><%= check_box_tag("select_all") %></th>
        <th>Nombre</th>
        <th>Clase</th>
        <th>Tipo de<br/> busqueda</th>
        <th>Agentes</th>
        <th>Titulares</th>
      </tr>
      <% @busqueda.each_with_index do |b, i| %>
        <tr>
          <td>
            <input name="marcas[<%= i %>]" type="checkbox" id="marca<%= b.id %>" value="<%= b.id %>" data-tipo="<%= b.pos %>" />
          </td>
          <td><label for="marca<%= b.id %>"><%= b.nombre %></label></td>
          <td><%= b.clase_id %></td>
          <td><%= tipo_busqueda b.pos %></td>
          <td><%= buscar_representante(b.agente_ids_serial, @representantes) %></td>
          <td><%= buscar_representante(b.titular_ids_serial, @representantes) %></td>
        </tr>
      <% end %>

    </table>

    <br />
    <%= submit_tag "Seleccionar", :id => 'seleccionar' %>
  <% end %>

  <%= submit_tag "Descartar", :class => 'red', :id => 'descartar' if params[:importacion_id] %>

<% end %>
<br />
<br />
<%= ver_cruce(@consulta, :class => 'ajax') unless params[:consulta_id].nil? %>
<script type="text/javascript">
  (function($) {
    $("#select_all").change(function(){
      $("#tabla-cruce").find("td input:checkbox").click();
    });
    // Confirmacion de borrado de cruce y verificacion de nuevo cruce
    $('#seleccionar').click(function(e) {
      if ( $('input:checkbox:checked').length <= 0 ) {
        alert('Debe seleccionar al menos una marca una marca');
        return false;
      }else{
        if($('#consulta_id').length > 0) {
          if( confirm('Esta seguro de borrar el anterior cruce realizado') ) {
            return true
          }else{
            return false;
          }
        }else {
          return true;
        }
      }
    
    });

    $('input:checkbox').click(function() {
      if( $(this).attr('checked') ) {
        var input = document.createElement('input');
        $(input).attr({
          'name': $(this).attr('name').replace(/marcas/, 'tipos'),
          'type': 'hidden',
          'value': $(this).attr('data-tipo')
        });
        $(this).after(input);
      }else {
        $(this).siblings('input:hidden').remove();
      }
      //$(this).siblings('input:hidden').attr('disabled', $(this).attr('checked') );
    });
  })(jQuery);

</script>
