<div class="breadcrumps">
  <%= link_to "Lista de importaciones", importaciones_path %> > <%= link_to "Cruce gaceta", cruce_importaciones_path(:importacion_id => params[:importacion_id], :page => @page) %> > Selección
</div>

<h1>"<%= @marca.nombre %>"</h1>

<p>
  <%= ver_cruce(@consulta, :class => 'ajax') unless params[:consulta_id].nil? %>
</p>

<a class="more" href="javascript:">Ver más</a>
<div class="hidden">
  <div class="half fl" id="div1">
    <p>
      <label>Clase:</label>
      <%= @marca.clase_id %>
    </p>
    <p>
      <label> Nº solicitud </label>
      <%= @marca.numero_solicitud %>
    </p>
    <p>
      <label>Nº publicación:</label>
      <%= @marca.numero_publicacion %>
    </p>
  </div>
  <div class="half fl" id="div2">
    <p>
      <label for="">Tipo: </label>
      <%= @marca.tipo_signo %>
    </p>
    <p>
      <label for="">Fecha solicitud</label>
      <%= lo @marca.estado_fecha %>
    </p>
    <p>
      <label>Titulares:</label>
      <%= @marca.titulares.join(", ") %>
    </p>
  </div>
  <%= link_to "Ver marca", ver_marca_path(@marca), :class => 'ajax show' %>
</div>

<h2 class="dark">Resultados del cruce</h2>

<%= semantic_form_for @con, :url => cruce_consultas_path do |f| -%>
  <%= f.input :consulta_id, :as => :hidden %>
  <%= f.input :busqueda, :as => :hidden, :as => :hidden %>
  <%= f.input :parametros, :as => :hidden, :input_html => { :value => f.object.parametros.to_yaml } %>
  <%= f.input :marca_id, :as => :hidden %>
  <%= f.input :importacion_id, :as => :hidden %>

  <%= hidden_field_tag "page", @page %>

  <%= f.input :comentario, :as => :text, :input_html => {:cols => 100} %>
  <p>
    <%= f.submit 'Salvar' unless @busqueda.blank? %>
    <%= f.submit 'Descartar cruce', :class => 'red' unless @busqueda.blank? %>
  </p>
  <% unless @busqueda.blank? %>

    <table class="decorated nolink tablesorter" id="tabla-cruce">
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th title="Tipo de signo">Tipo</th>
          <th title="Clase">Cla</th>
          <th>Numero</th>
          <th>Fecha</th>
          <th>Titulares</th>
          <th>Agentes</th>
          <th></th>
        </tr>
      </thead>

      <% titulares = @busqueda.first.titular_ids_serial %>
      <% agentes = @busqueda.first.agente_ids_serial %>
      <% count = 1 %>

      <% @busqueda.each_with_index do |b, i| %>
        <% selected = @consulta_detalles.include?(b.id) %>
        <% if titulares == b.titular_ids_serial && agentes == b.agente_ids_serial %>
          <tr class="<%= "select" if selected %>">
            <td>
              <span class="mini"><%= selected ? 1 : 0 %></span>
              <%= hidden_field_tag "consulta[consulta_detalles_attributes][#{i}][tipo_de_busqueda]", b.pos if selected %>
              <%= check_box_tag "consulta[consulta_detalles_attributes][#{i}][marca_id]", b.id, selected, 'data-tipo_de_busqueda' => b.pos %>
            </td>
            <td>
              <label for="consulta_consulta_detalles_attributes_<%= i %>_marca_id" class="propia"><%= b.nombre %> | <%= b.clase_id %> | <%= tipo_busqueda b.pos %></label>
            </td>
            <td><%= b.titulares.join(", ") %></td>
            <td><%= b.agentes.join(", ") %></td>
            <td><%= text_field_tag :observaciones %></td>
            <td><%= link_to("Reporte") if selected %></td>
          </tr>
          <% count += 1 %>
        <% else %>
          <% titulares = b.titular_ids_serial %>
          <% agentes = b.agente_ids_serial %>
          <% redo %>
        <% end %>
      <% end %>

    </table>

  <% end %>

  <p>
    <%= f.submit 'Salvar' unless @busqueda.blank? %>
    <%= f.submit 'Descartar cruce', :class => 'red' unless @busqueda.blank? %>
  </p>
<% end %>


<script type="text/javascript">
  (function($) {
    $("#tabla-cruce").tablesorter();
    function validarForma() {
      msg = "";
      if($('#consulta_comentario').val().trim() == "") {
        msg = "Debe ingresar un comentario";
      }
      if ( $('input:checkbox:checked').length <= 0 ) {
        msg = "Debe seleccionar al menos una marca";
      }
      return msg;
    }

    $('input:submit').click(function(e) {
      var target = e.target;
      if($(target).val() == "Salvar") {
        var msg = validarForma();
        if(msg != "") {
          alert(msg);
          return false;
        }
      }
    });
    // Adicion de un hidden para todos los elementos seleccioandos
    $('input:checkbox').click(function() {
      if( $(this).attr('checked') ) {
        var input = document.createElement('input');
        var val = $(this).attr('data-tipo_de_busqueda');
        var name = $(this).attr("name").replace(/\[marca_id\]/, "[tipo_de_busqueda]");
        $(input).attr({
          'name': name,
          'type': 'hidden',
          'value': val
        });
        $(this).after(input);
        $(this).parents("tr").addClass('select');
      }else {
        $(this).siblings('input:hidden').remove();
        $(this).parents("tr").removeClass('select');
      }
    });


  })(jQuery);

</script>
