<style>
  .group-select{
    border-top: 3px solid #9E9E9E !important;
  }
</style>
<div class="breadcrumps">
  <%= link_to "Lista de importaciones", importaciones_path %> > <%= link_to "Cruce gaceta", cruce_importaciones_path(:importacion_id => params[:importacion_id], :page => @page) %> > Selección
</div>
<div id="contenido">
  <div class="izquierda">
      <label for="">Signo</label><br/><br/>
      <label class="remarcado"><h1><%= cambio @marca ,:nombre %></h1></label>
  </div>
  
  <div class="derecha_img">
    <% unless @marca.archivo_adjunto.blank? %>
      <label for="">Imagen</label>
      <%= cambio @marca, :archivo_adjunto, image_tag( @marca.adjuntos.last.archivo.url(:mini), :class => 'mini' ) unless @marca.archivo_adjunto.blank? %>
    <% end %>
  </div>
  <div style="clear:both"></div>

  <div class="izquierda">
    <div class="subizq">
      <label for="">Clase:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:clase %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Tipo Marca:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca, :tipo_marca_id, @marca.tipo_marca %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Fecha solicitud:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:fecha_solicitud %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Numero Solicitud:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:numero_solicitud %></label>
    </div>
    <div style="clear:both"></div>
  </div>

  <div class="derecha">
    <div class="subizq">
      <label for="">Tipo signo:</label>
    </div>

    <div class="subder">
      <label class="remarcado"<%= cambio @marca ,:tipo_signo_id , @marca.tipo_signo %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Titulares:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca, :titular_ids_serial, @marca.titulares.join(", ") %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label>Apoderado:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca, :apoderado %></label>
    </div>
  </div>

  <div class="clear"></div>
  <div class="clear"></div>
  <div class="clear"></div>
  <h2 class="dark">Resultados del cruce</h2>

  <%= semantic_form_for @con, :url => cruce_consultas_path do |f| -%>
    <%= f.input :consulta_id, :as => :hidden %>
    <%= f.input :busqueda, :as => :hidden, :as => :hidden %>
    <%= f.input :parametros, :as => :hidden, :input_html => { :value => f.object.parametros.to_yaml } %>
    <%= f.input :marca_id, :as => :hidden %>
    <%= f.input :importacion_id, :as => :hidden %>
    <%= hidden_field_tag "page", @page %>

    <% unless @busqueda.blank? %>
    <table class="decorated nolink tablesorter" id="tabla-cruce">
        <thead>
          <tr>
            <% unless params[:reporte] %>
              <th></th>
            <% end %>
            <th>Nombre</th>
            <th title="Tipo de signo">Tipo</th>
            <th title="Clase">Cl</th>
            <th>Numero</th>
            <th>Fecha</th>
            <th>Agentes</th>
            <th>Titulares</th>
            <% if params[:reporte] %>
              <th colspan="2">Observaciones</th>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% titulares = @busqueda.first.titular_ids_serial.sort %>
          <% agentes = @busqueda.first.agente_ids_serial.sort %>
          <% count = 1 %>
          <% count_grupos = 1 %>
          <% marcas_selected = [] %>
          <% group_selected = true %>
          <% @busqueda.each_with_index do |b, i| %>
            <% if titulares == b.titular_ids_serial.sort && agentes == b.agente_ids_serial.sort %>
              <% selected = @consulta_detalles.include?(b.id) %>
              <% if !(params[:reporte] && !selected) %>
                <tr class="<%= "select" if selected %> <%= "group-select" if group_selected %>">
                  <% unless params[:reporte] %>
                    <td>
                      <span class="mini"><%= selected ? 1 : 0 %></span>
                      <%= hidden_field_tag "consulta[consulta_detalles_attributes][#{i}][tipo_de_busqueda]", b.pos if selected %>
                      <%= check_box_tag "consulta[consulta_detalles_attributes][#{i}][marca_id]", b.id, selected, 'data-tipo_de_busqueda' => b.pos %>
                    </td>
                  <% end %>
                  <td <%= errores_marca(b) %>>
                    <label for="consulta_consulta_detalles_attributes_<%= i %>_marca_id"><%= link_to b.nombre, marca_path(b), :class => "ajax #{b.propia!} #{b.valido!}" %></label>
                  </td>
                  <td><%= b.tipo_signo.sigla if b.tipo_signo %></td>
                  <td><%= b.clase_id %></td>
                  <td><%= b.numero_marca %></td>
                  <td><%= lo(b.fecha_marca, :format => "%d %b, %Y") if b.fecha_marca %></td>
                  <td><%= b.agentes.collect{|a| "#{a} - #{a.id}"}.join(", ") %></td>
                  <td><%= b.titulares.collect{|a| "#{a} - #{a.id}"}.join(", ") %></td>
                  <% if params[:reporte] %>
                    <td><%= text_area_tag "observaciones_#{b.id}", "", :size => "10x3" %></td>
                    <% if group_selected %>
                      <td><%= text_area_tag "observaciones_#{count_grupos}", "", :size => "10x3" %></td>
                      <td>
                        Es <%= radio_button_tag "language_#{count_grupos}", "es", true %> <br/>En <%= radio_button_tag "language_#{count_grupos}", "en", false %><br/>
                        <%= link_to("Reporte", cruce_reporte_marcas_path( :importacion_id => @importacion.id, :marca_foranea => @marca.id), :grupo => count_grupos, :class => "reporte pdf") %>
                        <%= link_to("Reporte", cruce_reporte_marcas_path(:format => "xls", :importacion_id => @importacion.id, :marca_foranea => @marca.id), :grupo => count_grupos, :class => "reporte xls") %>
                      </td>
                    <% else %>
                      <td colspan="3"></td>
                    <% end %>
                  <% end %>
                </tr>
                <% group_selected = false %>
                <% marcas_selected << b.id  %>
              <% end %>
              <% count += 1 %>
            <% else %>
              <%= hidden_field_tag("marca_ids_#{count_grupos}", marcas_selected.join(",")) %>
              <% titulares = b.titular_ids_serial.sort %>
              <% agentes = b.agente_ids_serial.sort %>
              <% count = 1 %>
              <% marcas_selected = []  %>
              <% count_grupos += 1 %>
              <% group_selected = true %>
              <% redo %>
            <% end %>
          <% end %>
          <% if !marcas_selected.empty? %>
            <%= hidden_field_tag("marca_ids_#{count_grupos}", marcas_selected.join(",")) %>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <p>
      <%= f.submit 'Pre reporte' unless @busqueda.blank? %>
      <%= f.submit 'Descartar cruce', :class => 'red' unless @busqueda.blank? %>
    </p>
  <% end %>
</div>

<script type="text/javascript">
  (function($) {
    // $("#tabla-cruce").tablesorter();
    $("table a.reporte").click(function(e){
      e.stopPropagation();
      e.preventDefault();
      enlace = $(this);
      marcas = $("#marca_ids_" + enlace.attr("grupo")).val().split(",");
      
      result = {}
      $(marcas).each(function(index, data){
        result["observaciones_"+data] = $("#observaciones_" + data).val();
      });
      result["marca_ids"] = marcas;
      result["observaciones"] = $("#observaciones_" + enlace.attr("grupo")).val();
      result["language"] = $("input[name=language_"+ enlace.attr("grupo") +"]:checked").val();
      
      $.postGo(enlace.attr("href"), result);
    });

    function validarForma() {
      msg = "";
      if($('#consulta_comentario').val().trim() == "") {
        msg = "Debe ingresar un comentario";
      }
      if ( $('input:checkbox:checked').length <= 0 ) {
        msg = "Debe seleccionar al menos una marca";
      }
      return msg;
    }

    $('input:submit').click(function(e) {
      var target = e.target;
      if($(target).val() == "Salvar") {
        var msg = validarForma();
        if(msg != "") {
          alert(msg);
          return false;
        }
      }
    });

    // Adicion de un hidden para todos los elementos seleccioandos
    $('input:checkbox').click(function() {
      if( $(this).attr('checked') ) {
        var input = document.createElement('input');
        var val = $(this).attr('data-tipo_de_busqueda');
        var name = $(this).attr("name").replace(/\[marca_id\]/, "[tipo_de_busqueda]");
        $(input).attr({
          'name': name,
          'type': 'hidden',
          'value': val
        });
        $(this).after(input);
        $(this).parents("tr").addClass('select');
      }else {
        $(this).siblings('input:hidden').remove();
        $(this).parents("tr").removeClass('select');
      }
    });
  })(jQuery);
</script>
