<h1>Busquedas</h1>
<div class="clear"></div>
<div class="pad-tb">
  <%= render :partial => "buscar" %>
</div>
<% unless params[:busqueda].nil? %>
  <hr />
  <h2 class="dark"><%= params[:busqueda].upcase %> tubo <%= @busqueda.size %> resultados en las clases
  <% if params[:clases].count < 45%>
    <%= params[:clases].keys.join(",") %>
  <% else %>
    <%= "1 a la 45" %>
  <% end %> 
    <% unless params[:representante_id].blank? %> para el cliente <%= Representante.find(params[:representante_id]) %>
  <% end %>
</h2>
<% end %>
<% unless @busqueda.blank? %>
  <%= form_for @consulta do |f| -%>
    <%= f.hidden_field :representante_id %>
  
    <!-- <label for="">Cliente</label> -->
    <!-- <input type="text" id="cliente_id" size="40" /> -->
    <%= f.hidden_field :parametros %> 
    <%= f.hidden_field :busqueda %>
 <div id="contenido">
  <div class="scroll">
    <table class="decorated resultados">
      <thead>
        <tr>
          <th style="width: 10px;"></th>
          <th style="width: 250px;">Nombre</th>
          <th style="width: 15px;">Cl.</th>
          <th style="width: 15px;">Tipo</th>
          <th style="width: 55px;">Nro</th>
          <th style="width: 40px;">Fecha</th>
          <th style="width: 175px;">Titulares</th>
          <th style="width: 175px;">Agentes</th>
        </tr>
      </thead>
      <% @busqueda.each_with_index do |marca, index| %>
        <tr>
          <td>
            <%= check_box_tag "consulta_detalles_attributes_#{marca.id}", 1, false, 'data-index' => index %>
          </td>
          <td><label for="marca<%= marca.id %>"><span class="<%= marca.propia! %>"><%= link_to marca.nombre, marca_path(marca), :class => :ajax%></span></label></td>
          <td><%= marca.clase_id %></td>
          <td><%= tipo_signo_sigla(marca.tipo_signo_id) %></td>
          <td><%= marca.numero_marca %></td>
          <td><%= lo(marca.fecha_marca, :format => "%d %b, %Y") if marca.fecha_marca %></td>
          <td><%= buscar_representante( marca.titular_ids_serial, @representantes ) %></td>
          <td><%= buscar_representante( marca.agente_ids_serial, @representantes ) %></td>
          <!--<td><%= tipo_busqueda marca.pos %></td>-->
        </tr>
      <% end %>
    </table>
   </div>
      <%= submit_tag "Crear pre reporte", :id => 'seleccionar' %>
   <% end %>
  <% end %>
 </div>
<script type="text/javascript">
  $(function() {
    $('.resultados input:checkbox').live("click", function() {
      if( $(this).attr('checked') ) {
        var id = $(this).attr("name").replace(/^[a-z_]+([0-9]+)$/,"$1");
        var index = $(this).attr('data-index');
        $('<input/>').attr({
          'name': 'consulta[consulta_detalles_attributes][' + index + '][marca_id]',
          'type': 'hidden',
          'value': id
        }).insertAfter(this);
      }else {
        $(this).siblings('input:hidden').remove();
      }
    });

    // Validación
    $('#new_consulta').submit(function() {
      if( $(this).find(':checkbox:checked').length > 0) {
        return true;
      }else{
        alert("Debe seleccionar al menos una marca");
        return false;
      }
    });


    $('#cliente_id').autocomplete({
      'source': '/representantes/buscar',
      'select': function(e, ui) {
        var val = $(ui).autocomplete("option").get()[0];
        $('#consulta_representante_id').val(val.item.id);
        //$('span.representante_id').html(val.item.label);
      }
    });

  });
</script>
