<h1>Busquedas</h1>
<div class="clear"></div>
<div class="pad-tb">
  <%= render :partial => "buscar", :locals => {:show_titulares => true} %>
</div>
<% unless params[:busqueda].nil? %>
  <hr />
  <h2 class="dark"><span class="resaltado"><%= params[:busqueda].upcase %></span> tuvo <%= @busqueda.size %> resultados en las clases
    <% if params[:clases].count < 45%>
      <%= params[:clases].keys.join(",") %>
    <% else %>
      <%= "1 a la 45" %>
    <% end %>
    <% unless params[:representante_id].blank? %> para el cliente <%= Representante.find(params[:representante_id]) %>
    <% end %>
  </h2>
<% end %>
<%= render :partial => "resultados" %>

<script type="text/javascript">
  $(function() {
    $('#contenido input:checkbox').live("click", function() {
      if( $(this).attr('checked') ) {
        var id = $(this).attr("name").replace(/^[a-z_]+([0-9]+)$/,"$1");
        var index = $(this).attr('data-index');
        $('<input/>').attr({
          'name': 'consulta[consulta_detalles_attributes][' + index + '][marca_id]',
          'type': 'hidden',
          'value': id
        }).insertAfter(this);
      }else {
        $(this).siblings('input:hidden').remove();
      }
    });

    // Validación
    $('#new_consulta').submit(function() {
      if( $(this).find(':checkbox:checked').length > 0) {
        return true;
      }else{
        alert("Debe seleccionar al menos una marca");
        return false;
      }
    });


    $('#cliente_id').autocomplete({
      'source': '/representantes/buscar',
      'select': function(e, ui) {
        var val = $(ui).autocomplete("option").get()[0];
        $('#consulta_representante_id').val(val.item.id);
        //$('span.representante_id').html(val.item.label);
      }
    });

  });
</script>
