<h1>Busquedas</h1>
 
<!--
<div class="pad-tb">
  <ul class="menu">
    <li>
    <a href="javascript:" class="new">Nuevo signo&nbsp;<span class="more"></span></a>
      <ul>
        <li>
        <%= link_to "Marca Denominativa", new_marca_path(:tipo => 'Den.', :a =>'Marca Denominativa') %>
        </li>
        <li>
          <%= link_to "Marca Figurativa", new_marca_path(:tipo => 'Fig.', :a =>'Marca Figurativa') %>
        </li>
        <li>
          <%= link_to "Marca Mixta", new_marca_path(:tipo => 'Mix.', :a =>'Marca Mixta') %>
        </li>
        <li>
          <%= link_to "Marca Tridimensional", new_marca_path(:tipo => 'Tri.', :a =>'Marca Tridimensional')%>
        </li>
        <li>
          <%= link_to "Nombre comercial denominativo", new_marca_path(:tipo => 'Den.', :a =>'Nombre Comercial denominativo') %>
        </li>
        <li>
          <%= link_to "Nombre comercial mixto", new_marca_path(:tipo => 'Mix.', :a =>'Nombre comercial mixto') %>
        </li>
        <li>
          <%= link_to "Lema comercial", new_marca_path(:tipo => 'Den.', :a =>'Lema Comercial') %>
        </li>
      </ul>
    </li>
  </ul>
</div>
-->

<div class="clear"></div>
<div class="pad-tb">
  <%= render :partial => "buscar" %>
</div>

<% unless params[:busqueda].nil? %>
  <h1 class="dark"><%= @busqueda.size %> resultados para la busqueda "<%= params[:busqueda] %>"</h1>
<% end %>

<% unless @busqueda.blank? %>

  <% form_tag new_consulta_path, :method => 'get' do -%>
  <%= hidden_field_tag "clases", (1..45).to_a.join(",") %>
  <%= hidden_field_tag "busqueda", params[:busqueda] %>
  <%= hidden_field_tag "tipo_busqueda", params[:tipo_busqueda] %>
  <% if params[:tipo_busqueda] == 'prep' %>
    <%= hidden_field_tag "fecha_ini", params[:fecha_ini]  %>
    <%= hidden_field_tag "fecha_fin", params[:fecha_fin] %>
  <% end %>


  <table class="decorated">
  	<tr>
      <th></th>
  		<th>Nombre</th>
  		<th>Clase</th>
      <th>Tipo de<br/> busqueda</th>
      <th>Agentes</th>
      <th>Titulares</th>
  	</tr>
    <% @busqueda.each do |b| %>
      <tr>
        <td>
          <input name="marcas[<%= b.id %>]" type="checkbox" id="marca<%= b.id %>" value="<%= b.id %>" />
        </td>
      	<td><label for="marca<%= b.id %>"><%= b.nombre %></label></td>
      	<td><%= b.clase_id %></td>
        <td><%= tipo_busqueda b.pos %>
        <td><%= buscar_representante(b.agente_ids_serial, @representantes) %></td>
        <td><%= buscar_representante(b.titular_ids_serial, @representantes) %></td>
        </td>
      </tr>
    <% end %>

  </table>

  <%= submit_tag "Seleccionar", :id => 'seleccionar' %>

  <% end %>

<% end %>
<script type="text/javascript">
(function($) {
  $('input:checkbox').click(function() {
    if( $(this).attr('checked') ) {
      var input = document.createElement('input');
      $(input).attr({ 
        'name': $(this).attr('name').replace(/marcas/, 'tipos'),
        'type': 'hidden',
        'value': $(this).attr('data-tipo')
      });
      $(this).after(input);
    }else {
      $(this).siblings('input:hidden').remove();
    }
    //$(this).siblings('input:hidden').attr('disabled', $(this).attr('checked') );
  });

  $('#seleccionar').click(function(e) {
    if ( $('input:checkbox:checked').length <= 0 ) {
      alert('Debe seleccionar al menos una marca una marca');
      return false;
    }
  });
  // Controla rango de fechas
  $('input#fecha_ini').change( function() {
      alert('s');
    //var val = $.datepicker.parseDate('yy-mm-dd', $('input#fecha_fin').val() );
    //$('#fecha_fin').next().datepicker('option', { 'minDate': val } );
  });
})(jQuery);
</script>
