 
<ul class="menu">
	<li>
  <a href="javascript:" class="new">Nuevo signo&nbsp;<span class="more"></span></a>
    <ul>
    	<li>
      <%= link_to "Marca Denominativa", new_marca_path(:tipo => 'Den.', :tipo_marca =>'MP.') %>
    	</li>
    	<li>
        <%= link_to "Marca Figurativa", new_marca_path(:tipo => 'Fig.') %>
    	</li>
    	<li>
        <%= link_to "Marca Mixta", new_marca_path(:tipo => 'Mix.') %>
    	</li>
    	<li>
        <%= link_to "Marca Tridimensional", new_marca_path(:tipo => 'Tri.') %>
    	</li>
    	<li>
        <%= link_to "Nombre comercial denominativo", new_marca_path(:tipo => 'Den.') %>
    	</li>
    	<li>
        <%= link_to "Nombre comercial mixto", new_marca_path(:tipo => 'Mix.') %>
    	</li>
    	<li>
        <%= link_to "Lema comercial", new_marca_path(:tipo => 'Den.') %>
    	</li>
    </ul>
	</li>
</ul>

<div style="clear:both"></div>  
<div style="clear:both"></div> 
</ br>
</ br>
</ br>
</ br>
<h1>Busquedas</h1>

<%= render :partial => "buscar" %>

<% unless @busqueda.blank? %>

  <% form_tag new_consulta_path, :method => 'get' do -%>
  <%= hidden_field_tag "clases", (1..45).to_a.join(",") %>
  <%= hidden_field_tag "busqueda", params[:busqueda] %>
  <%= hidden_field_tag "tipo_busqueda", params[:tipo_busqueda] %>
  <% if params[:tipo_busqueda] == 'prep' %>
    <%= hidden_field_tag "fecha_ini", params[:fecha_ini]  %>
    <%= hidden_field_tag "fecha_fin", params[:fecha_fin] %>
  <% end %>


  <h2>Resultados para la busqueda "<%= params[:busqueda] %>"</h2>
  <table class="decorated">
  	<tr>
      <th></th>
  		<th>Nombre</th>
  		<th>Clase</th>
      <th>Tipo de<br/> busqueda</th>
  	</tr>
    <% @busqueda.each do |b| %>
      <tr>
        <td>
          <input name="marcas[<%= b.id %>]" type="checkbox" id="marca<%= b.id %>" value="<%= b.id %>" />
        </td>
      	<td><label for="marca<%= b.id %>"><%= b.nombre %></label></td>
      	<td><%= b.clase_id %></td>
        <td><%= tipo_busqueda b.pos %>
        </td>
      </tr>
    <% end %>

  </table>

  <%= submit_tag "Seleccionar", :id => 'seleccionar' %>

  <% end %>

<% end %>
<script type="text/javascript">
(function($) {
  $('input:checkbox').click(function() {
    if( $(this).attr('checked') ) {
      var input = document.createElement('input');
      $(input).attr({ 
        'name': $(this).attr('name').replace(/marcas/, 'tipos'),
        'type': 'hidden',
        'value': $(this).attr('data-tipo')
      });
      $(this).after(input);
    }else {
      $(this).siblings('input:hidden').remove();
    }
    //$(this).siblings('input:hidden').attr('disabled', $(this).attr('checked') );
  });

  $('#seleccionar').click(function(e) {
    if ( $('input:checkbox:checked').length <= 0 ) {
      alert('Debe seleccionar al menos una marca una marca');
      return false;
    }
  });
})(jQuery);
</script>
