<h1>Busquedas</h1>

<%= render :partial => "buscar" %>

<% unless @busqueda.blank? %>

  <% form_tag new_busqueda_path, :method => 'get' do -%>

  <%= hidden_field_tag "busqueda", params[:busqueda] %>
  <%= hidden_field_tag "clases", params[:clases] %>
  <%= hidden_field_tag "importacion_id", params[:importacion_id] unless params[:importacion_id].nil? %>

  <h2>Resultados para la busqueda "<%= params[:busqueda] %>"</h2>
  <table class="decorated">
  	<tr>
      <th></th>
  		<th>Nombre</th>
  		<th>Clase</th>
      <th>Tipo de<br/> busqueda</th>
  	</tr>
    <% @busqueda.each do |b| %>
      <tr>
        <td>
        	<input name="marcas[]" type="checkbox" id="<%= b.nombre %>" value="<%= b.nombre %>" />
        </td>
      	<td><label for="<%= b.nombre %>"><%= b.nombre %></label></td>
      	<td><%= b.clase_id %></td>
        <td><%= tipo_busqueda b.pos %></td>
      </tr>
    <% end %>

  </table>

  <%= submit_tag "Seleccionar" %>

  <% end %>

<% end %>

