<h1>Busquedas</h1>
<div class="clear"></div>
<div class="pad-tb">
  <%= render :partial => "buscar" %>
</div>
<% unless params[:busqueda].nil? %>
  <hr />
  <h1 class="dark">Resultados</h1>
<h2 class="dark"><%= @busqueda.size %> RESULTADOS para la busqueda <%= params[:busqueda].upcase %> en las clases <% if params[:clases].count < 45%><%= params[:clases].keys.join(",") %> <% else %><%= "1 a la 45" %><% end %> <% unless params[:representante_id].blank? %> para el cliente <%= Representante.find(params[:representante_id]) %> <% end %></h2>
<% end %>

<% unless @busqueda.blank? %>
  <%= form_for @consulta do |f| -%>
    <%= f.hidden_field :parametros %>
    <%= f.hidden_field :representante_id %>
    <%= f.hidden_field :busqueda %>

    <table class="decorated">
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Cl.</th>
        <th>Tipo</th>
        <th>Nro</th>
        <th>Fecha</th>
        <th>Titulares</th>
        <th>Agentes</th>
      </tr>
      <% @busqueda.each_with_index do |marca, index| %>
        <tr>
          <td>
            <%= check_box_tag "consulta_detalles_attributes_#{marca.id}", 1, false, 'data-index' => index %>
          </td>
          <td><label for="marca<%= marca.id %>"><span class="<%= marca.propia! %>"><%= link_to marca.nombre, marca_path(marca), :class => :ajax%></span></label></td>
          <td><%= marca.clase_id %></td>
          <td><%= marca.tipo_signo.sigla if marca.tipo_signo %></td>
          <td><%= numero_marca(marca)%></td>
          <td><%= lo(fecha_marca(marca), :format => "%d %b, %Y") %></td>
          <td><%= buscar_representante( marca.titular_ids_serial, @representantes ) %></td>
          <td><%= buscar_representante( marca.agente_ids_serial, @representantes ) %></td>
          <td><%= tipo_busqueda marca.pos %></td>
        </tr>
      <% end %>
    </table>
    <%= submit_tag "Crear pre reporte", :id => 'seleccionar' %>
  <% end %>
<% end %>
<script type="text/javascript">
  (function($) {
    $('input:checkbox').click(function() {
      if( $(this).attr('checked') ) {
        var id = $(this).attr("name").replace(/^[a-z_]+([0-9]+)$/,"$1");
        var index = $(this).attr('data-index');
        $('<input/>').attr({
          'name': 'consulta[consulta_detalles_attributes][' + index + '][marca_id]',
          'type': 'hidden',
          'value': id
        }).insertAfter(this);
      }else {
        $(this).siblings('input:hidden').remove();
      }
    });
  
    // Validación
    $('#new_consulta').submit(function() {
      if( $(this).find(':checkbox:checked').length > 0) {
        return true;
      }else{
        alert("Debe seleccionar al menos una marca");
        return false;
      }
    });
  })(jQuery);
</script>
