<h1>Busquedas</h1>

<%= render :partial => "buscar" %>

<% unless @busqueda.blank? %>
  <h2>Resultados para la busqueda "<%= params[:busqueda] %>"</h2>
  <table class="decorated">
  	<tr>
      <th></th>
  		<th>Nombre</th>
  		<th>Clase</th>
      <th>Tipo de busqueda</th>
  	</tr>
    <% @busqueda.each do |b| %>
      <tr>
        <td>
        	<input name="marcas[]" type="checkbox" id="<%= b.nombre %>" value="<%= b.nombre %>" />
        </td>
      	<td><label for="<%= b.nombre %>"><%= b.nombre %></label></td>
      	<td><%= b.clase_id %></td>
        <td><%= tipo_busqueda b.pos %></td>
      </tr>
    <% end %>

  </table>
<% end %>

