<h1>Busquedas</h1>
<div class="clear"></div>
<div class="pad-tb">
  <%= render :partial => "buscar" %>
</div>
<% unless params[:busqueda].nil? %>
  <hr />
  <h1 class="dark">Resultados</h1>
  <h2 class="dark"><%= @busqueda.size %> resultados para la busqueda "<%= params[:busqueda] %>"</h2>
<% end %>

<% unless @busqueda.blank? %>
  <%= form_for @consulta do |f| -%>
    <%= f.hidden_field :parametros %>
    <%= f.hidden_field :representante_id %>
    <%= f.hidden_field :busqueda %>

    <label for="">Cliente</label>
    <span><%= f.object.representante %></span>

    <table class="decorated">
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Cl.</th>
        <th>Tipo</th>
        <th>Nro</th>
        <th>Fecha</th>
        <th>Titulares</th>
        <th>Agentes</th>
      </tr>
      <% @busqueda.each_with_index do |marca, index| %>
        <tr>
          <td>
            <%= check_box_tag "consulta_detalles_attributes_#{marca.id}", 1, false, 'data-index' => index %>
          </td>
          <td>
            <label for="consulta_detalles_attributes_<%= marca.id %>">
              <span class="<%= marca.propia! %>"><%= marca.nombre %></span>
            </label>
          </td>
          <td><%= marca.clase_id %></td>
          <td><%= marca.tipo_signo.try(:sigla) %></td>
          <td><%= marca.numero_publicacion %></td>
          <td><%= marca.fecha_publicacion %></td>
          <td><%= buscar_representante( marca.titular_ids_serial, @representantes ) %></td>
          <td><%= buscar_representante( marca.agente_ids_serial, @representantes ) %></td>
        </tr>
      <% end %>
    </table>
    <%= submit_tag "Crear pre reporte", :id => 'seleccionar' %>
  <% end %>
<% end %>
<script type="text/javascript">
  (function($) {
    $('input:checkbox').click(function() {
      if( $(this).attr('checked') ) {
        var id = $(this).attr("name").replace(/^[a-z_]+([0-9]+)$/,"$1");
        var index = $(this).attr('data-index');
        $('<input/>').attr({
          'name': 'consulta[consulta_detalles_attributes][' + index + '][marca_id]',
          'type': 'hidden',
          'value': id
        }).insertAfter(this);
      }else {
        $(this).siblings('input:hidden').remove();
      }
    });
  
    // Validación
    $('#new_consulta').submit(function() {
      if( $(this).find(':checkbox:checked').length > 0) {
        return true;
      }else{
        alert("Debe seleccionar al menos una marca");
        return false;
      }
    });
  })(jQuery);
</script>
