%table.decorated
  %tr
    %td
      #tabshome{:style=>'font-size:11px;'}
        %ul
          %li
            %a{:href=>'#tabshome-1'}
              Tareas Pendientes Revisión
          %li
            %a{:href=>'#tabshome-2'}
              Tareas Asignadas Pendientes
          %li
            %a{:href=>'#tabshome-3'}
              Tareas Mias Pendientes
        #tabshome-1
          %p
            %table
              %tr
                %th Fecha Limite
                %th Descripción
              - for proy in @proyecto
                %tr
                - for proyit in proy.proyecto_items.find(:all, :order=>'fecha_limite ASC', :limit=>1)
                  %td= proyit.fecha_limite
                  %td= proy.titulo
        #tabshome-2
          %p
            %table
              %tr
                %th Fecha Limite
                %th Descripción
              - for proyt in @proyecto
                %tr
                - for proyitem in proyt.proyecto_items.find(:all, :order=>'fecha_limite ASC', :limit=>1)
                  %td= proyitem.fecha_limite
                  %td= proyt.titulo
        #tabshome-3
          %p
            %table
              %tr
                %th Fecha Limite
                %th Descripción
              - for proyect in @proyecto
                %tr
                - for proyitems in proyect.proyecto_items.find(:all, :order=>'fecha_solicitud ASC', :limit=>1)
                  %td= proyitems.fecha_limite
                  %td= proyect.titulo
    %td
      %h3
        Tareas Realizadas
  %tr
    %td{:colspan=>2}
      %h3
        Proyectos Pendientes
      %table{:border=>1}
        %tr
          %th Proyecto
          %th Agente
          %th Descripción
          %th Fecha Limite
        - for proyecto in @proyecto
          %tr
            %td= proyecto.id
            %td= proyecto.contactos
            %td= proyecto.titulo
            -for proyitem in proyecto.proyecto_items.find(:all, :order=>'fecha_limite ASC', :limit =>1 )
              %td= proyitem.fecha_limite
            

:javascript
  $(function() {
  $( "#tabshome" ).tabs();
  });