%table.decorated
  %tr
    %td
      #tabshome{:style=>'font-size:11px;'}
        %ul
          %li
            %a{:href=>'#tabshome-1'}
              Tareas Pendientes Revisión
          %li
            %a{:href=>'#tabshome-2'}
              Tareas Asignadas Pendientes
          %li
            %a{:href=>'#tabshome-3'}
              Tareas Mias Pendientes
        #tabshome-1
          %p
            %table
              %tr
                %th Fecha Limite
                %th Tarea
              - Proyecto::InstruccionDetalle.revision(current_usuario).each do |instarea|
                %tr
                  %td= instarea.fecha_limite
                  %td= link_to instarea.tarea, ver_entrega_proyecto_proyecto_instruccion_instruccion_detall_path(instarea.instruccion.proyecto,instarea.instruccion, instarea) 
        #tabshome-2
          %p
            %table
              %tr
                %th Fecha Limite
                %th Tarea
              - Proyecto::InstruccionDetalle.pendientes(current_usuario).each do |tarea|
                %tr
                  %td= tarea.fecha_limite
                  %td= link_to tarea.tarea, ver_entrega_proyecto_proyecto_instruccion_instruccion_detall_path(tarea.instruccion.proyecto, tarea.instruccion, tarea) 
        #tabshome-3
          %p
            %table
              %tr
                %th Fecha Limite
                %th Descripción
              - Proyecto::InstruccionDetalle.mistareas(current_usuario).each do |mitarea| 
                %tr
                  %td= mitarea.fecha_limite
                  %td= mitarea.tarea

  %tr
    %td{:colspan=>2}
      %h3
        Proyectos Pendientes
      %table{:border=>1}
        %tr
          %th Proyecto
          %th Agente
          %th Descripción
          %th Fecha Limite
        - for proyecto in @proyectos
          %tr
            %td= proyecto.id
            %td= link_to proyecto.representante, proyecto 
            %td= proyecto.titulo
            -for proyitem in proyecto.instruccions
              -for instdetal in proyitem.instruccion_detalles.find(:all, :order=>'fecha_limite ASC', :limit=>1 )  
                %td= l(instdetal.fecha_limite, :format => "%d %B %Y")

:javascript
  $(function() {
  $( "#tabshome" ).tabs();
  });
