%table.decorated
  %tr
    %td
      #tabshome{:style=>'font-size:11px;'}
        %ul
          %li
            %a{:href=>'#tabshome-1'}
              Tareas asignadas pendientes revisión
          %li
            %a{:href=>'#tabshome-2'}
              Tareas asignadas Pendientes
          %li
            %a{:href=>'#tabshome-3'}
              Tareas mias pendientes
        #tabshome-1
          %p
            %table
              %tr
                %th Fecha Limite
                %th Tarea
              - @revisiones.each do |instarea|
                %tr
                  %td= l(instarea.fecha_limite, :format => "%d %B %Y") if instarea.fecha_limite
                  %td= link_to instarea.tarea, ver_entrega_proyecto_proyecto_instruccion_instruccion_detall_path(instarea.instruccion.proyecto,instarea.instruccion, instarea)
          /=will_paginate @revisiones
        #tabshome-2
          /#remote
          %p
            %table
              %tr
                %th Fecha Limite
                %th Tarea
              - @pendientes.each do |tarea|
                %tr
                  %td= l(tarea.fecha_limite, :format => "%d %B %Y") if tarea.fecha_limite
                  %td= link_to tarea.tarea, proyecto_proyecto_instruccion_instruccion_detall_path(tarea.instruccion.proyecto, tarea.instruccion, tarea)
            .pagination=will_paginate @pendientes

        #tabshome-3
          %p
            %table
              %tr
                %th Fecha Limite
                %th Descripción
              - @mistareas.each do |mitarea|
                %tr
                  %td= l(mitarea.fecha_limite, :format => "%d %B %Y") if mitarea.fecha_limite
                  %td= link_to mitarea.tarea, proyecto_proyecto_instruccion_instruccion_detall_path(mitarea.instruccion.proyecto, mitarea.instruccion, mitarea)
          /=will_paginate @mistareas

  %tr
    %td{:colspan=>2}
      %h3
        Proyectos Pendientes
      %table{:border=>0}
        %tr
          %th Proyecto
          %th Agente
          %th Descripción
          %th Iniciado en
          %th Terminado en
          %th Estado
        - @proyectos.each do |proyecto|
          %tr
            %td= proyecto.id
            %td= link_to proyecto.representante, proyecto
            %td= proyecto.titulo
            %td= l(proyecto.fecha_minima, :format=>"%d %B %Y") if proyecto.fecha_minima
            %td= l(proyecto.fecha_maxima, :format =>"%d %b %y") if proyecto.fecha_maxima
            %td= proyecto.estado_proyecto
      =will_paginate @proyectos

:javascript
  //window.selectorAjax = "tabshome";
  $(function() {
    $( "#tabshome" ).tabs();
    //$(".pagination a, .previus_page, .next_page").live("click", ajaxeable);
  });

