%table.decorated
  %tr
    %td
      #tabshome{:style=>'font-size:11px;'}
        %ul
          %li
            %a{:href=>'#tabshome-1'}
              Tareas asignadas pendientes revisión
          %li
            %a{:href=>'#tabshome-2'}
              Tareas asignadas Pendientes
          %li
            %a{:href=>'#tabshome-3'}
              Tareas mias pendientes
        #tabshome-1
          %p
            %table
              %tr
                %th Fecha Limite
                %th Tarea
              - Proyecto::InstruccionDetalle.revision(current_usuario).each do |instarea|
                %tr
                  %td= instarea.fecha_limite
                  %td= link_to instarea.tarea, ver_entrega_proyecto_proyecto_instruccion_instruccion_detall_path(instarea.instruccion.proyecto,instarea.instruccion, instarea) 
        #tabshome-2
          %p
            %table
              %tr
                %th Fecha Limite
                %th Tarea
              - Proyecto::InstruccionDetalle.pendientes(current_usuario).each do |tarea|
                %tr
                  %td= tarea.fecha_limite
                  %td= link_to tarea.tarea, ver_entrega_proyecto_proyecto_instruccion_instruccion_detall_path(tarea.instruccion.proyecto, tarea.instruccion, tarea) 
        #tabshome-3
          %p
            %table
              %tr
                %th Fecha Limite
                %th Descripción
              - Proyecto::InstruccionDetalle.mistareas(current_usuario).each do |mitarea| 
                %tr
                  %td= mitarea.fecha_limite
                  %td= mitarea.tarea

  %tr
    %td{:colspan=>2}
      %h3
        Proyectos Pendientes
      %table{:border=>1}
        %tr
          %th Proyecto
          %th Agente
          %th Descripción
          %th Iniciado en
          %th Terminado en
          %th Estado
        - @proyectos.each do |proyecto|
          %tr
            %td= proyecto.id
            %td= link_to proyecto.representante, proyecto 
            %td= proyecto.titulo
            %td= l(proyecto.fecha_minima, :format=>"%d %B %Y") if proyecto.fecha_minima  
            %td= l(proyecto.fecha_maxima, :format =>"%d %b %y") if proyecto.fecha_maxima
            %td= proyecto.estado_proyecto           
:javascript
  $(function() {
  $( "#tabshome" ).tabs();
  });
