<% @mostra_fila = @marcas.first.estado == 'lp' %>

<table class="decorated">
	<tr>
    <%= '<th>Fila</th>' if @mostra_fila %>
		<th>Marca</th>
		<th>Numero Solicitud</th>
		<th>Tipo Marca</th>
		<th>Clase</th>
		<th>Agente</th>
    <th></th>
    <% @marcas.each do |marca| %>
      <tr>
        <%= "<td>#{marca.fila}</td>" if @mostra_fila %>
        <td><%= link_to marca.nombre, marca_path(marca), :class => 'ajax' %></td>
        <td><%= marca.numero_solicitud %></td>
        <td><%= marca.tipo_marca %></td>
        <td><%= marca.clase %></td>
        <td><%= marca.agente %></td>

        <td>
          <%= link_to "editar", @path_proc.call(marca), :class => 'edit ajax' %>
          <%= link_to "borrar", marca, :class => 'delete' %>
        </td>
      </tr>
    <% end %>

	</tr>
</table>

<%= will_paginate @marcas %>
