<h1>Importación <%= @marcas.first.ver_estado %></h1>
<h2>Importados <%= @total %> el <%= fecha_hora @marcas.first.fecha_importacion, :long  %></h2>

<% if @mostrar == 'error' %>
  <%= render :partial => "errores" %>
<% else %>
  <%= render :partial => "all" %>
<% end %>


<script type="text/javascript">
jQuery(function($) {
  $('body').live('ajax:completed', function(obj, id) {
    $('a[data-ajax_id=' + id + ']').parents('tr:first').remove();
    var errores = parseInt( $('h2.error span.errores').html() ) - 1;
    $('h2.error span.errores').html(errores);
  });

  $('a.ajax').live('click', function() {
    alert('si');
    console.log( $(this).parents('tr:first') );//.addClass('marked');
  });
});

</script>
