<h1>Solicitudes</h1>

<ul class="menu">
  <li>
  <a href="javascript:" class="new">Nueva&nbsp;<span class="more"></span></a>
    <ul>
    <% Marca::TIPOS.each do |tipo, nombre| %>
      <li><%= link_to nombre, new_solicitud_path(:tipo => tipo) %></li>
    <% end %>
    </ul>
  </li>
</ul>
<br />
<br />
<br />

<table class="decorated">
	<tr>
		<th>Fecha</th>
		<th>Tipo</th>
    <th>Total</th>
    <th>Errores</th>
	</tr>
  <%- @marcas.each do |marca| -%>
    <tr>
    	<td><%= link_to fecha_hora(marca.fecha_importacion, 'long'), importado_solicitud_path(marca.fecha_importacion) %></td>
      <td><strong><%= marca.ver_estado %></strong></td>
      <td><%= marca.total %></td>
      <td><%= marca.errores_listado %></td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate @marcas %>
