<%= stylesheet_link_tag 'facebook' %>

<% semantic_form_for(@marca) do |f| -%>
  <%= f.input :tipo_signo, :input_html => {:tabindex => 1 } %>
  <%= f.input :nombre, :input_html => {:tabindex => 2 } %>
  <%= f.input :clase, :input_html => { :tabindex => 3 } %>
  <%= f.input :tipo_marca , :input_html => {:tabindex => 2 } %>
  <%= f.input :numero_solicitud , :input_html => {:tabindex => 2 } %>
  <%= f.input :estado, :collection => Marca.lista_estados , :input_html => {:tabindex => 2 } %>
  <%= f.input :propia, :label => 'Marca propia' , :input_html => {:tabindex => 2 } %>
  <%= f.input :estado_fecha, :as => :string, :input_html => {:class => 'date'} , :input_html => {:tabindex => 2 } %>

  <%= f.input :numero_publicacion,:label => 'Número de publicación' , :input_html => {:tabindex => 2 } %>
  <%= f.input :fecha_publicacion, :as => 'string', :input_html => { :class => 'date' }, :input_html => {:tabindex => 2 } %>

  <%= f.input :numero_gaceta, :label => 'Número de gaceta', :input_html => {:tabindex => 2 }  %>
<%= f.input :productos, :as => :text , :input_html => {:tabindex => 2 } %>
<ol>  
  <li id="agente-auto" class="input-text"> 
    <label for="agente_ids">Agentes</label> 
    <ul id="ul-agentes" style="display:none"> 
      <% @marca.agentes.each do |a| %>
        <li rel="<%= a.id %>"><%= a.nombre %></li>
      <% end %>
    </ul> 
    <input type="text" value="" id="agente_ids" /> 
    <div id="agentes-list" class="facebook-auto"> 
      <div class="default">Escriba el nombre de un agente</div>  
      <ul class="feed">
      </ul>
    </div> 
  </li> 
</ol>

<ol>  
  <li id="titular-auto" class="input-text"> 
    <label for="titular_ids">Titulares</label> 
    <ul id="ul-titulares" style="display:none"> 
      <% @marca.titulares.each do |t| %>
        <li rel="<%= t.id %>"><%= t.nombre %></li>
      <% end %>
    </ul> 
    <input type="text" value="" id="titular_ids" /> 
    <div id="titulares-list" class="facebook-auto"> 
      <div class="default">Escriba el nombre de un titular</div>  
      <ul class="feed">
      </ul>
    </div> 
  </li> 
</ol>


  <div style="clear:both"></div>
  <%= f.submit "Salvar" %>
<% end -%>
<div style="clear:both"></div>
<%= javascript_include_tag 'fcbkcomplete' %>
<script type="text/javascript">
$(document).ready(function() {

  $.facebooklist('#titular_ids', '#ul-titulares', '#titulares-list', 
