<%= stylesheet_link_tag 'facebook' %>

<% semantic_form_for(@marca,:html => { :multipart => true } ) do |f| -%>
  
  <%= hidden_field_tag "importacion_id", params[:importacion_id] unless params[:importacion_id].nil?  %>

  <%= f.hidden_field :valido, :value => 1 %>

  <%= f.input :tipo_signo_id, :as => :hidden  %>
  <%= f.input :tipo_marca_id, :as => :hidden  %>
  <%= f.input :propia, :label => 'Marca propia'%>


  <%= f.input :nombre,:label => "Denominación",:tabindex => 3 %>
  <li>
      <label for="">Tipo de signo</label>
      <%= @marca.tipo_marca %>
  </li>
 
  <li>
    <label for="">Tipo</label>
    <%= @marca.tipo_signo %>
  </li>
  <% if @marca.con_imagen? %>
    <li>
    <%= image_tag @marca.adjuntos.last.archivo.url(:mini), :class => 'mini' if @marca.adjuntos.size > 0 %>
      <% unless @marca.tipo_signo_id == 4 %>
        <%# f.fields_for :adjuntos do |adj| %>
          <label for="">Imagen</label>
          <input type="file" name="marca[adjuntos_attributes][0][archivo]" size= "30" />
          <%# adj.file_field :archivo, :size => 30 %>
        <%# end %>
      <% end %>
    </li>
  <% end %>

 <%= f.input :clase, :tabindex => 5 %>
  <%= f.input :productos, :label=>"Descripción productos/servicios", :as => :text, :input_html => { :rows => 10, :cols => 115 }, :tabindex => 7 %>

  <div class="in_half">
  <ol>  
  <li id="agente-auto" class="input-text">
    <label for="agente_ids">Agentes</label>
    <ul id="ul-agentes" style="display:none"> 
      <% @marca.agentes.each do |a| %>
        <li rel="<%= a.id %>"><%= a.nombre %></li>
      <% end %>
    </ul> 
    <input type="text" value="" id="agente_ids" tabindex="8"/>
    <%= link_to 'Nuevo agente', new_agente_path, :class => 'ajax' %>
    <div id="agentes-list" class="facebook-auto"> 
      <div class="default">Escriba el nombre de un agente</div>  
      <ul class="feed">
      </ul>
    </div> 
  </li> 
</ol>

<ol>  
  <li id="titular-auto" class="input-text"> 
    <label for="titular_ids">Titulares</label>
    <ul id="ul-titulares" style="display:none"> 
      <% @marca.titulares.each do |t| %>
        <li rel="<%= t.id %>"><%= t.nombre %></li>
      <% end %>
    </ul> 
    <input type="text" value="" id="titular_ids" tabindex="9" /> 
    <%= link_to 'Nuevo titular', new_titular_path, :class => 'ajax' %> 
    <div id="titulares-list" class="facebook-auto"> 
      <div class="default">Escriba el nombre de un titular</div>  
      <ul class="feed">
      </ul>
    </div> 
  </li> 
</ol></div></ br>
  <%= f.input :estado, :collection => Marca.lista_estados , :tabindex => 10 %>
  <%= f.input :apoderado, :tabindex => 11 %>
  <%= f.input :representante_empresarial, :tabindex => 12 %>
  <%= f.input :fecha_instruccion , :as => 'string', :input_html => { :class => 'date' } %>
  <%= f.input :numero_solicitud , :tabindex => 13  %>
  <%= f.input :estado_fecha, :label => 'Fecha solicitud',:as => :string, :input_html => {:tabindex => 14, :class => 'date' } %>

  <%= f.input :numero_publicacion,:label => 'Número de publicación' , :tabindex => 15  %>
  <%= f.input :fecha_publicacion, :as => 'string', :input_html => {:tabindex => 16, :class => 'date' } %>

  <%= f.input :numero_gaceta, :label => 'Número de gaceta' , :tabindex => 17  %>
 <%= f.input :numero_registro,:label => 'Número de registro' , :tabindex => 18 %>
  <%= f.input :fecha_registro, :as => 'string', :input_html => {:tabindex => 19, :class => 'date'  } %>


  <% @marca.errores_manual.try(:each) do |k, v| %>
    <div class="error_manual">
      <input name="marca[errores_manual]" type="hidden" value="" />
      <div>
        <%= hidden_field_tag "marca[errores_manual][#{k}]", v  %>
        <%= k.to_s.humanize %>: <%= v %>
        <a href="javascript:;">borrar</a>
      </div>
    </div>
  <% end %>

    <%# hidden_field_tag "marca[errores_manual]", ""  %>

  <div style="clear:both"></div>
  <%= f.submit "Salvar" , :tabindex => 21  %>
<% end -%>
<div style="clear:both"></div>

<%= javascript_include_tag 'fcbkcomplete' %>

<script type="text/javascript">

$(document).ready(function() {


  $.facebooklist('#titular_ids', '#ul-titulares', '#titulares-list', 
     { url:'/titulares/buscar.json', cache:0 }, 10, { userfilter: 1, casesensetive: 0 } );

  $.facebooklist('#agente_ids', '#ul-agentes', '#agentes-list', 
    { url:'/agentes/buscar.json', cache:0 }, 10, { userfilter: 1, casesensetive: 0 } );


  $('.error_manual a').click(function(){
    $(this).parents("div:first").remove();
    verificarErrorresManuales();
  });

  if( $('#marca_tipo_marca_id').val() == "1" ) {
    $('#marca_clase_id option').each( function(i, el) {
      if( parseInt( $(el).val() ) > 34) {
        $(el).remove();
      }
    });
  }

  if( $('#marca_tipo_marca_id').val() == "4" ) {
    $('#marca_clase_id option').each( function(i, el) {
      if( parseInt( $(el).val() ) < 34) {
        $(el).remove();
      }
    });
  }

  if ($('#marca_tipo_signo_id').val() == "2")
  {
    $('#marca_nombre').val("Diseño").hide().after("<span>Diseño</span>");
  }


  /*if( $('#marca_propia').val() == "1" )
  {
    if ($('#agente_ids').val() == "")
    {
     alert ("Agentes no puede estar vacio");
    }
  }*/


});


  
</script>
