<h2>Ultimos comentarios</h2>
<div class="comments">
  <% @marca.ultimos_posts.each do |p| %>
    <h3><%= p.titulo %></h3>
    <%= adjuntos p.adjuntos %> Por <strong><%= p.usuario %></strong><br /> 
    <em><%= l p.created_at, :format => "%d, %B %Y %H:%M" %></em>
    <p>
      <%= p.comentario %>
    </p>
    <hr />
  <% end %>
  <%= link_to "Nuevo comentario", new_post_path(:marca_id => @marca.id), :class => 'ajax add' %>
  <%= link_to "Ver_mas", posts_path(:marca_id => @marca.id), :class => 'ajax list' %>
</div>

