<h1>Listado de Marcas</h1>

<%= link_to "Nueva Marca", new_marca_path, :class => 'new' %>

<table class="decorated">
	<tr>
    <th>Nombre</th>
    <th>Marca<br />Propia</th>
		<th>Estado</th>
		<th>Agente</th>
		<th>Titular</th>
		<th>Valido</th>
    <th></th>
	</tr>

  <% @marcas.each do |marca| %>
    <% @clase = marca.propia ? ' class="propia"': '' %>
    <tr <%= @clase %>>
      <td><%= link_to marca.nombre, marca_path(marca) %></td>
      <td><%= verdad marca.propia %></td>
    	<td><%= marca.ver_estado %></td>
    	<td><% marca.agente %></td>
      <td><%= marca.titular %></td>
      <td><%= verdad marca.valido %></td>
      <td>
        <%= link_to "editar", edit_marca_path(marca), :class => 'edit' %>
        <%= link_to "borrar", marca_path(marca), :class => 'delete' %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @marcas %>
