<h1>Listado de Marcas</h1>

<ul class="menu">
	<li>
  <a href="javascript:" class="new">Nuevo signo&nbsp;<span class="more"></span></a>
    <ul>
    	<li>
      <%= link_to "Denominativo", new_marca_path(:tipo => 'denominación') %>
    	</li>
    	<li>
        <%= link_to "Figurativo", new_marca_path(:tipo => 'figurativa') %>
    	</li>
    	<li>
        <%= link_to "Mixto", new_marca_path(:tipo => 'mixta') %>
    	</li>
    	<li>
        <%= link_to "Tridimensional", new_marca_path(:tipo => 'tridimensional') %>
    	</li>
    	<li>
        <%= link_to "Nombre comercial denominativo", new_marca_path(:tipo => 'nombre_comercial_denominativo') %>
    	</li>
    	<li>
        <%= link_to "Nombre comercial mixto", new_marca_path(:tipo => 'nombre_comercial_mixto') %>
    	</li>
    	<li>
        <%= link_to "Lema comercial", new_marca_path(:tipo => 'lema_comercial') %>
    	</li>
    </ul>
	</li>
</ul>
<br />
<br />
<br />

<%= link_to "Listado", marcas_path %>
<% form_tag marcas_path, :method => :get  do %>
  <%= text_field_tag :nombre_marca %>
  <%= submit_tag "Buscar" %>
<% end %>

<%= @will = will_paginate @marcas %>

<table class="decorated">
	<tr>
    <th><%= sort_order "Nombre", "marcas.nombre" %></th>
    <th><%= sort_order "Marca <br />Propia","marcas.propia" %></th>
		<th>Estado</th>
    <th><%= sort_order "Tipo de signo", "tipo_signos.nombre" %></th>
    <th><%= sort_order "Clase", "marcas.clase_id" %></th>
		<th>Valido</th>
    <th><%= sort_order "Activa", "marcas.activa" %></th>
    <th></th>
	</tr>

  <% @marcas.each do |marca| %>
    <% @clase = marca.propia ? ' class="propia"': '' %>
    <tr <%= @clase %>>
      <td><%= link_to marca.nombre, marca_path(marca) %></td>
      <td><%= verdad marca.propia %></td>
    	<td><%= marca.ver_estado %></td>
      <td><%= marca.tipo_signo %></td>
      <td><%= marca.clase.try(:codigo) %></td>
      <td><%= valido marca.valido %></td>
      <td><%= valido marca.activo %></td>
      <td>
        <%= link_to "editar", edit_marca_path(marca), :class => 'edit' %>
        <%= link_to "borrar", marca_path(marca), :class => 'delete' %>
      </td>
    </tr>
  <% end %>
</table>

<%= @will %>
