<h1>Listado de Marcas</h1>

<ul class="menu">
  <li>
  <a href="javascript:" class="new">Nuevo signo&nbsp;<span class="more"></span></a>
  <ul>
    <% Marca.lista_tiposignos.each do |nombre, tiposigno| %>
      <li><%= link_to nombre, new_marca_path (:tiposigno => tiposigno) %></li>
    <% end %>
    </ul>
  </li>
</ul>
<br />
<br />
<br />

<%= will_paginate @marcas %>

<table class="decorated">
	<tr>
    <th>Nombre</th>
    <th>Marca<br />Propia</th>
		<th>Estado</th>
		<th>Valido</th>
    <th></th>
	</tr>

  <% @marcas.each do |marca| %>
    <% @clase = marca.propia ? ' class="propia"': '' %>
    <tr <%= @clase %>>
      <td><%= link_to marca.nombre, marca_path(marca) %></td>
      <td><%= verdad marca.propia %></td>
    	<td><%= marca.ver_estado %></td>
      <td><%= verdad marca.valido %></td>
      <td>
        <%= link_to "editar", edit_marca_path(marca), :class => 'edit' %>
        <%= link_to "borrar", marca_path(marca), :class => 'delete' %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @marcas %>
