<h1>Listado de Marcas</h1>

<ul class="menu">
	<li>
  <a href="javascript:" class="new">Nuevo signo&nbsp;<span class="more"></span></a>
    <ul>
    	<li>
      <%= link_to "Denominativo", new_marca_path(:tipo => 'denominación') %>
    	</li>
    	<li>
        <%= link_to "Figurativo", new_marca_path(:tipo => 'figurativa') %>
    	</li>
    	<li>
        <%= link_to "Mixto", new_marca_path(:tipo => 'mixta') %>
    	</li>
    	<li>
        <%= link_to "Tridimensional", new_marca_path(:tipo => 'tridimensional') %>
    	</li>
    	<li>
        <%= link_to "Nombre comercial denominativo", new_marca_path(:tipo => 'nombre_comercial_denominativo') %>
    	</li>
    	<li>
        <%= link_to "Nombre comercial mixto", new_marca_path(:tipo => 'nombre_comercial_mixto') %>
    	</li>
    	<li>
        <%= link_to "Lema comercial", new_marca_path(:tipo => 'lema_comercial') %>
    	</li>
    </ul>
	</li>
</ul>
<br />
<br />
<br />


<%= @will = will_paginate @marcas %>

<table class="decorated">
	<tr>
    <th>Nombre</th>
    <th>Marca<br />Propia</th>
		<th>Estado</th>
    <th>Tipo de signo</th>
    <th>Clase</th>
		<th>Valido</th>
    <th></th>
	</tr>

  <% @marcas.each do |marca| %>
    <% @clase = marca.propia ? ' class="propia"': '' %>
    <tr <%= @clase %>>
      <td><%= link_to marca.nombre, marca_path(marca) %></td>
      <td><%= verdad marca.propia %></td>
    	<td><%= marca.ver_estado %></td>
      <td><%= marca.tipo_signo %></td>
      <td><%= marca.clase.try(:codigo) %></td>
      <td><%= verdad marca.valido %></td>
      <td>
        <%= link_to "editar", edit_marca_path(marca), :class => 'edit' %>
        <%= link_to "borrar", marca_path(marca), :class => 'delete' %>
      </td>
    </tr>
  <% end %>
</table>

<%= @will %>
