<h1>Listado de Signos</h1>

<ul class="menu">
	<li>
  <a href="javascript:" class="new">Nuevo signo&nbsp;<span class="more"></span></a>
    <ul>
    	<li>
      <%= link_to "Marca Denominativa", new_marca_path(:tipo => 'Den.', :a =>'Marca Denominativa') %>
    	</li>
    	<li>
        <%= link_to "Marca Figurativa", new_marca_path(:tipo => 'Fig.', :a =>'Marca Figurativa') %>
    	</li>
    	<li>
        <%= link_to "Marca Mixta", new_marca_path(:tipo => 'Mix.', :a =>'Marca Mixta') %>
    	</li>
    	<li>
        <%= link_to "Marca Tridimensional", new_marca_path(:tipo => 'Tri.', :a =>'Marca Tridimensional')%>
    	</li>
    	<li>
        <%= link_to "Nombre comercial denominativo", new_marca_path(:tipo => 'Den.', :a =>'Nombre Comercial denominativo') %>
    	</li>
    	<li>
        <%= link_to "Nombre comercial mixto", new_marca_path(:tipo => 'Mix.', :a =>'Nombre comercial mixto') %>
    	</li>
    	<li>
        <%= link_to "Lema comercial", new_marca_path(:tipo => 'Den.', :a =>'Lema Comercial') %>
    	</li>
    </ul>
	</li>
</ul>
<br />
<br />
<br />

<%= form_tag marcas_path, :method => :get  do %>
  <%= text_field_tag :nombre_marca, params[:nombre_marca] %>
  <%= submit_tag "Buscar" %>
<% end %>
<%= link_to "Borra busqueda", marcas_path %>
<br />
<br />

<%= @will = will_paginate @marcas %>

<table class="decorated nwl">
	<tr>
    <th style="width:250px"><%= sort_order "Nombre", "marcas.nombre_minusculas" %></th>
    <th title="Signo propio"><%= sort_order "Pro.","marcas.propia" %></th>
		<th>Estado</th>
    <th><%= sort_order "Tipo de signo", "tipo_signos.nombre" %></th>
    <th>Clase</th>
    <th title="Signo activo"><%= sort_order "Act.", "marcas.activa" %></th>
    <th>Titulares</th>
    <th class="last"></th>
	</tr>

  <% @marcas.each do |marca| %>
    <tr>
      <td <%= errores_marca marca %>>
        <%= link_to marca.nombre, marca_path(marca), :class => "#{ marca.propia! } #{marca.valido!}" %>
      </td>
      <td class="<%= marca.propia %>"></td>
    	<td><%= marca.ver_estado %></td>
      <td><%= marca.tipo_signo %></td>
      <td><%= marca.clase_id %></td>
      <td class="<%= marca.activa %>"></td>
      <td><%= marca.titulares.map(&:nombre).join(", ") %></td>
      <td><%= links(marca) %></td>
    </tr>
  <% end %>
</table>

<%= @will %>
