<div class="breadcrumps">
  <%= link_to 'Lista de signos', marcas_path, :class =>'list' %> > Nuevo signo <%= params[:tipo_signo] %> 
</div>
<h1>Nuevo signo - <%= params[:tipo_signo] %> </h1> 

<%#= render :partial => "form" %>
<%= stylesheet_link_tag 'facebook' %>
<%= javascript_include_tag 'jquery.fcbkcomplete' %>

<%= semantic_form_for(@marca,:html => { :multipart => true } ) do |f| -%>
  
  <%= hidden_field_tag "importacion_id", params[:importacion_id] unless params[:importacion_id].nil?  %>

  <%= f.hidden_field :valido, :value => 1 %>
  <%#= f.hidden_field :tipo_signo %>

  <%= f.input :propia, :label => 'Marca propia' %>
  <%= f.input :activa, :label => 'Marca activa' %>
  <%= f.input :tipo_signo, :label => 'Tipo signo'%>
<!--  <li>
    <label for="">Tipo de signo</label>
    <%#= @marca.tipo_signo %>
    <%#= "<span class=\"error\">#{ @marca.errors.on(:tipo_signo_id) }</span>" %>
    </li>-->

  <%= f.input :tipo_marca%>

  <%= f.input :nombre,:label => "Denominación",:tabindex => 3 %>
  <% if @marca.con_imagen? %>
    <li>
    <%= image_tag @marca.adjuntos.last.archivo.url(:mini), :class => 'mini' if @marca.adjuntos.size > 0 %>
      <% unless @marca.tipo_signo_id == 4 %>
          <label for="">Imagen</label>
          <input type="file" name="marca[adjuntos_attributes][0][archivo]" size= "30" />
          <%# adj.file_field :archivo, :size => 30 %>
      <% end %>
    </li>
  <% end %>

  <%= f.input :descripcion_imagen,:label => 'Descripcion diseño', :as => :text, :input_html => { :rows => 10, :cols => 115 }, :tabindex => 5 %>
  <%= f.input :clase, :tabindex => 5 %>
  <%= f.input :productos, :label=>"Descripción productos/servicios", :as => :text, :input_html => { :rows => 10, :cols => 115 }, :tabindex => 7 %>

  <%= link_to 'Nuevo cliente', new_representante_path('data-title' => 'Crear cliente'), :class => 'new ajax' %>
  <div class="clear"></div>
  <li class="fl half">
    <%= label_tag "marca_agente_ids", "Agentes" %>
    <%= facebook_select(f, :agente_ids) %>
    <%= view_error(f, :agente_ids) %>
  </li>

  <li class="fl half">
    <%= label_tag "marca_titular_ids", "Titulares" %>
    <%= facebook_select(f, :titular_ids) %>
    <%= view_error(f, :titular_ids) %>
  </li>
  <div class="clear"></div>

  <%= f.input :apoderado, :tabindex => 11, :wrapper_html => {:class => 'fl half'} %>
  <%= f.input :representante_empresarial, :tabindex => 12, :wrapper_html => {:class => 'fl half'} %>
  <%= f.input :fecha_instruccion , :as => 'string', :input_html => { :class => 'date' } %>
  <%= f.input :instruccion, :collection => Marca::INSTRUCCIONES, :label => 'Tipo de instrucción' %>
  <%= f.input :marca_estado, :tabindex => 10, :label => 'Estado' %>

  <% unless @marca.errores_manual.blank? %>
    <h3 class="error">Existen errores de comparación</h3>

    <% @marca.errores_manual.try(:each) do |k, v| %>
      <div class="error_manual erro error">
        <div>
          <%= hidden_field_tag "marca[errores_manual][#{k}]", v  %>
          <%= k.to_s.humanize %>: <%= v %>
          <a href="javascript:;">borrar</a>
        </div>
      </div>
    <% end %>
    <p class="inline-hints">
      Debe borrar los errores para que pueda validar el signo al salvar
    </p>
  <% end %>

  <div style="clear:both; height: 30px"></div>
  <%= f.submit "Salvar" , :tabindex => 21  %>
<% end -%>

<div style="clear:both"></div>


<script type="text/javascript">

$(document).ready(function() {

  $("#marca_agente_ids").find('option').addClass('selected');
  $("#marca_titular_ids").find('option').addClass('selected');

  $("#marca_titular_ids").fcbkcomplete({
    json_url: "/representantes/buscar",
    filter_hide: true,
    filter_selected: true,
    newel: false
  });

  $("#marca_agente_ids").fcbkcomplete({
    json_url: "/representantes/buscar",
    filter_hide: true,
    filter_selected: true,
    newel: false
  });

  $('.error_manual a').click(function(){
    $(this).parents("div:first").remove();
    verificarErrorresManuales();
  });


  // Funcion que habilita las clases
  $('#marca_tipo_marca_id').live('change, focusout', function() {
      $('#marca_clase_id').find('option').show();
      switch($(this).val()) {
        case '1':
          $('#marca_clase_id').find('option:gt(34)').hide();
        break;
        case '2':
          $('#marca_clase_id').find('option:lt(35)').hide();
        break;
      }
  });

  $('#marca_tipo_signo_id').live('change, focusout', function() {
      if(($(this).val() * 1) > 4) {
        $('#marca_tipo_marca_id').val('5');
      }
  });

 if ($('#marca_tipo_signo_id').val() == "2"){
    $('#marca_nombre').val("Diseño").hide().after("<span>Diseño</span>");
  }

  if ($('#marca_tipo_signo_id').val() == "1"){
    $('#marca_descripcion_imagen_input').hide();
    $('#marca_descripcion_imagen').val(" Descripcion diseño").hide();
  }

});


  
</script>
