<style type="text/css">
  #left{ width: 70%; float: left;}
  #right{ width: 30%; float: left; }
</style>
<h1>Marca</h1>

<blockquote>
  Los campos con color
  <span class="cambio"></span> son los cambios realizados
</blockquote>


<div id="left">
    <label for="">Nombre</label>
    <%= cambio @marca ,:nombre %>

    <label for="">Clase</label>
    <%= cambio @marca ,:clase %>
    
    <label for="">Numero Solicitud</label>
    <%= cambio @marca ,:numero_solicitud %>

    <label for="">Tipo signo</label>
    <%= cambio @marca ,:tipo_signo_id %>

    <label for="">Propia</label>
    <%= cambio @marca ,:propia %><br/>
    
    <label for="">Agentes</label>
    <%= cambio @marca, :agente_ids_serial, @marca.agentes.map(&:nombre).join(", ") %>

    <label for="">Titulares</label>
    <%= cambio @marca, :titular_ids_serial, @marca.titulares.map(&:nombre).join(", ") %>
    
    <label for="">Tipo Marca</label>
    <%= cambio @marca, :tipo_marca_id, @marca.tipo_marca %>

    <label for="">Estado</label>
    <%= cambio @marca ,:estado %>

    <label for="">Fecha</label>
    <%= cambio @marca ,:estado_fecha %>

    <%= cambio @marca ,:numero_publicacion %>
    <%= cambio @marca ,:fecha_publicacion %>

    <%= cambio @marca ,:numero_gaceta %>

    <%= cambio @marca ,:lema %>
    <%= cambio @marca ,:productos %>
  </div>
  <div id="right">
    <%= render :partial => "posts/new" %>
  </div>

<h2>Historial</h2>



<% @marca.historial.each do |marca| %>
  <%= marca.nombre %><br/>
  <%= marca.propia %>
<% end %>

