<style type="text/css">
  #marca{ width: 54%; float: left;}
  #comments{ width: 44%; float: left; background-color: #EFEFEF; }
  #comments .comments{ padding: 10px; }
  #comments .title { margin: 0px 0px; background: #484848; color: #FFF; padding: 7px 5px; }
  .comments p{ margin: 3px 0px;  }
  .comments h3 { margin: 5px 0px; }
  .comments ul{ list-style: none; }
  .comments ul li.post{ border-bottom: 1px solid #000 }

</style>
<h1>Marca</h1>


<div id="marca">
    <p>
      <label for="">Propia</label>
      <%= cambio @marca ,:propia, valido_img(@marca.propia) %><br/>
    </p>
    
    <p>
      <label for="">Activa</label>
      <%= cambio @marca ,:activa, valido_img(@marca.activa) %><br/>
    </p>

    <p>
      <label for="">Denominación</label>
      <%= cambio @marca ,:nombre %>
    </p>
    <p>
      <label for="">Imagen</label>
      <%= cambio @marca, :archivo_adjunto, image_tag( @marca.adjuntos.last.archivo.url(:mini), :class => 'mini' ) unless @marca.archivo_adjunto.blank? %>
    </p>

    <p>
      <label for="">Estado</label>
      <%= cambio @marca ,:estado, Marca::ESTADOS[ @marca.estado ] %>
    </p>
    <p>
      <label for="">Tipo Marca</label>
      <%= cambio @marca, :tipo_marca_id, @marca.tipo_marca %>
    </p>
    <p>
      <label for="">Tipo signo</label>
      <%= cambio @marca ,:tipo_signo_id %>
    </p>
    <p>
      <label for="">Clase</label>
      <%= cambio @marca ,:clase %>
    </p>
   <p>
      <label for="">Numero Solicitud</label>
      <%= cambio @marca ,:numero_solicitud %>
    </p>
    <p>
      <label for="">Fecha</label>
      <%= cambio @marca ,:estado_fecha, lo( @marca.estado_fecha ) %>
    </p>
    <p>
      <label for="">Fecha de modificación</label>
      <%= l @marca.updated_at, :format => "%d, %B %Y %H:%M" %>
    </p>

    <p>
      <label for="">Usuario</label>
      <%= cambio @marca, :usuario_id %>
    </p>

    <p>
      <label for="">Titulares</label>
      <%= cambio @marca, :titular_ids_serial, @marca.titulares.map(&:nombre).join(", ") %>
    </p>
    <p>
      <label for="">Agentes</label>
      <%= cambio @marca, :agente_ids_serial, @marca.agentes.map(&:nombre).join(", ") %>
    </p>
    <p>
      <label>Apoderado</label>
      <%= cambio @marca, :apoderado %>
    </p>

    <p>
      <label for="">Número de gaceta</label>
      <%= cambio @marca ,:numero_gaceta %>
    </p>
    <p>
      <label for="">Número de publicación</label>
      <%= cambio @marca ,:numero_publicacion %>
    </p>
    <p>
      <label for="">Fecha de publicación</label>
      <%= cambio @marca ,:fecha_publicacion %>
    </p>
    <p>
      <label for="">Productos</label>
      <%= cambio @marca ,:productos %>
    </p>

 

<%= link_to 'Editar', edit_marca_path(@marca), :class =>'edit'%> |
<%= link_to 'Lista', marcas_path, :class =>'list' %>
  <hr />
  <h2>Historial de modificaciones</h2>


  <% @cambios = @marca.cambios %>
  <% @marca.historial.each do |marca| %>

    <% @cambios.delete('usuario_id') %>
    <p>
      Modificado por <strong><%= marca.usuario %></strong> en fecha: <em><%= l marca.updated_at, :format => "%d, %B %Y %H:%M" %></em>
    </p>

    <% @cambios.each do |campo| %>
      <p>
      <%= presentar_campo_historial( marca, campo ) %>
      </p>
    <% end %>

    <hr />
    <% @cambios = marca.cambios %>

  <% end %>
  <div class="clear"></div>
</div>


<div id="comments">
  <%= render :partial => "posts" %>
  <%= link_to "Nuevo comentario", new_post_path('data-title' => 'Nuevo post', :type => 'Marca' ), :class => 'new post' %>
</div>
