<h1>Marca</h1>

<blockquote>
  Los campos con color
  <span class="cambio"></span> son los cambios realizados
</blockquote>

  <div class="half fl">  
    <div class="input">
        <%= label_tag :nombre %><br />
        <%= cambio @marca, :nombre %>
    </div>
    
    <div class="input">
        <%= label_tag :estado_fecha, 'Fecha de solicitud' %><br />
        <%= cambio @marca, :estado_fecha %>
    </div>

    <div class="input">
        <%= label_tag :numero_solicitud, 'Número de solicitud' %><br />
        <%= cambio @marca, :numero_solicitud %>
    </div>




  </div>
  <div class="half fl">
    <%= label_tag :clase, 'Clase' %><br />

    <%= label_tag :tipo_marca, 'Tipo de marca' %>

    <%= label_tag :agente, 'Agente' %>
    
    <%= label_tag :titular, 'Titular' %>

  </div>

<div style="clear:both"></div>

    <%= cambio @marca ,:nombre %>
    <%= cambio @marca ,:clase %>
    
    <%= cambio @marca ,:numero_solicitud %>
    <%= cambio @marca ,:tipo_signo %>
    <label for="">Propia</label>
    <%= cambio @marca ,:propia %><br/>
    <%= cambio @marca ,:agente %>
    <%= cambio @marca ,:titular %>
    
    <%= cambio @marca ,:tipo_marca %>

    <%= cambio @marca ,:estado %>
    <%= cambio @marca ,:estado_fecha %>

    <%= cambio @marca ,:numero_publicacion %>
    <%= cambio @marca ,:fecha_publicacion %>

    <%= cambio @marca ,:numero_gaceta %>

    <%= cambio @marca ,:lema %>
    <%= cambio @marca ,:productos %>

<h2>Historial</h2>



<% @marca.historial.each do |marca| %>
  <%= marca.nombre %><br/>
  <%= marca.propia %>
<% end %>

