<style type="text/css">
  #marca{ width: 90%; float: left; margin: 15px;}
  #posts{ width: 90%; float: left; background-color: #EFEFEF; margin: 15px;}
  #posts p {font-weight: normal !important;}
</style>

<div class="breadcrumps">
  <%= link_to 'Lista de marcas', marcas_path, :class =>'list' %> > Marca
</div>

<div id="abm">
  <%= link_to 'Editar', edit_marca_path(@marca), :class =>'edit'%> 
  <%= link_to 'Lista', marcas_path, :class =>'list' %>
</div>

<div id="contenido">
  <div class="izquierda">
      <label for="">Signo</label><br/><br/>
      <label class="remarcado"><h1><%= cambio @marca ,:nombre %></h1></label>
  </div>
  
  <div class="derecha_img">
    <% unless @marca.archivo_adjunto.blank? %>
    <label for="">Imagen</label>
      <%= cambio @marca, :archivo_adjunto, image_tag( @marca.adjuntos.last.archivo.url(:mini), :class => 'mini' ) unless @marca.archivo_adjunto.blank? %>
    <% end %>
  </div>
  <div style="clear:both"></div>

  <div class="izquierda">

    <div class="subizq">
      <label for="">Propia:</label>
    </div>
    
    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:propia, valido_img(@marca.propia) %><br/></label>
    </div>
    <div style="clear:both"></div>
    
    <div class="subizq">
      <label for="">Activa:</label>
    </div>
    
    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:activa, valido_img(@marca.activa) %><br/></label>
    </div>
    <div style="clear:both"></div>
    
    <div class="subizq">
      <label for="">Clase:</label>
    </div>
    
    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:clase , @marca.clase_id%></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Descripción de productos/servicios:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:productos %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Tipo signo:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:tipo_signo_id , @marca.tipo_signo%></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Tipo Marca:</label>
    </div>
    
    <div class="subder">
      <label class="remarcado"><%= cambio @marca, :tipo_marca_id, @marca.tipo_marca %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Tipo de instrucción:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca, :instruccion %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Fecha de instrucción:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca, :fecha_instruccion %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Fecha solicitud:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:fecha_solicitud %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Numero Solicitud:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:numero_solicitud %></label>
    </div>
    <div style="clear:both"></div>
      
    <div class="subizq">
      <label for="">Fecha de modificación:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= l @marca.updated_at %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Usuario:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca, :usuario_id %></label>
    </div>
  </div>

  <div class="derecha">
    <div class="subizq">
      <% unless @marca.archivo_adjunto.blank? %>
        <label for="">Descripcion de la imagen:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:descripcion_imagen %></label>
      <% end %>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Estado:</label>
    </div>

    <div class="subder">
      <label class="atencion"><%= cambio @marca ,:marca_estado_id %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Titulares:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca, :titular_ids_serial, @marca.titulares.join(", ") %></label>
    </div>
    <div style="clear:both"></div>
  
    <div class="subizq">  
      <label>Domicilio Titular:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca, :domicilio_titular %></label>
    </div>
    <div style="clear:both"></div> 

    <div class="subizq">
      <label>Apoderado:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca, :apoderado %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq"> 
      <label for="">Agentes:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca, :agente_ids_serial, @marca.agentes.join(", ") %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">  
      <label for="">Fecha de publicación:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:fecha_publicacion %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Número de gaceta:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:numero_gaceta %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Número de publicación:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:numero_publicacion %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Fecha registro:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:fecha_registro %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Número de registro:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:numero_registro %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Fecha solicitud renovación:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:fecha_solicitud_renovacion %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Número solicitud renovación:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:numero_solicitud_renovacion %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Fecha renovación:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:fecha_renovacion %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Número renovación:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:numero_renovacion %></label>
    </div>
    <div style="clear:both"></div>

    <div class="subizq">
      <label for="">Id Marca:</label>
    </div>

    <div class="subder">
      <label class="remarcado"><%= cambio @marca ,:id %></label>
    </div>
 </div>

  <div class="clear"></div>

  <hr />
  <div id="posts" data-posts_size="<%= Marca::POSTS_SIZE %>">
    <h2 class="title">Ultimos comentarios</h2>
      <%= render :partial => "posts/posts", :locals => { :posts => @marca.ultimos_posts } %>
      <%= link_post @marca, 'index' %>
      <%= link_post @marca, 'new' %>
  </div>

  <div id="marca"> 
    <h1 class="dark">Historial de modificaciones</h1>

    <% @cambios = @marca.cambios %>
    <% @marca.historial.each do |marca| %>

    <% @cambios.delete('usuario_id') %>
    <% @cambios.delete('errores_manual') %>
    <p>
      Modificado por <strong><%= marca.usuario %></strong> en fecha: <em><%= l marca.updated_at, :format => "%d, %B %Y %H:%M" %></em>
    </p>

    <% @cambios.each do |campo| %>
        <p>
          <%= presentar_campo_historial( marca, campo ) %>
        </p>
      <% end %>

      <hr />
      <% @cambios = marca.cambios %>
    <% end %>
    </div>
</div>
