<style type="text/css">
  #left{ width: 70%; float: left;}
  #comments{ width: 30%; float: left; background-color: #EFEFEF; }
  #comments .comments{ padding: 10px; }
  #comments h2 { margin: 0px 0px; background: #484848; color: #FFF; padding: 7px 5px; }
  .comments p{ margin: 3px 0px;  }
  .comments h3 { margin: 5px 0px; }

</style>
<h1>Marca</h1>

<blockquote>
  <span class="cambio">Cambios realizados</span>
</blockquote>


<div id="left">
    <label for="">Nombre</label>
    <%= cambio @marca ,:nombre %>

    <label for="">Clase</label>
    <%= cambio @marca ,:clase %>
    
    <label for="">Numero Solicitud</label>
    <%= cambio @marca ,:numero_solicitud %>

    <label for="">Tipo signo</label>
    <%= cambio @marca ,:tipo_signo_id %>

    <label for="">Propia</label>
    <%= cambio @marca ,:propia %><br/>
    
    <label for="">Agentes</label>
    <%= cambio @marca, :agente_ids_serial, @marca.agentes.map(&:nombre).join(", ") %>

    <label for="">Titulares</label>
    <%= cambio @marca, :titular_ids_serial, @marca.titulares.map(&:nombre).join(", ") %>
    
    <label for="">Tipo Marca</label>
    <%= cambio @marca, :tipo_marca_id, @marca.tipo_marca %>

    <label for="">Estado</label>
    <%= cambio @marca ,:estado %>

    <label for="">Fecha</label>
    <%= cambio @marca ,:estado_fecha %>

    <%= cambio @marca ,:numero_publicacion %>
    <%= cambio @marca ,:fecha_publicacion %>

    <%= cambio @marca ,:numero_gaceta %>

    <%= cambio @marca ,:lema %>
    <%= cambio @marca ,:productos %>
  </div>

  <div id="comments">
    <%= render :partial => "posts" %>
  </div>

<div style="clear:both"></div>

<h2>Historial</h2>



<% @marca.historial.each do |marca| %>
  <%= marca.nombre %><br/>
  <%= marca.propia %>
<% end %>

<div style="clear:both"></div>
