<h1>Marca</h1>


<div id="marca">

  <div class="half fl" id="div1">
    <p>
      <label for="">Propia</label>
      <span class="<%=  @marca.propia %> icon"></span><br/>
    </p>
    
    <p>
      <label for="">Denominación</label>
      <%=  @marca.nombre %>
    </p>
    <p>
      <label for="">Estado</label>
      <%=  @marca.ver_estado %>
    </p>
    <p>
      <label for="">Tipo Marca</label>
      <%=  @marca.tipo_marca %>
    </p>
    <p>
      <label for="">Tipo signo</label>
      <%=  @marca.tipo_signo %>
    </p>
    <p>
      <label for="">Clase</label>
      <%=  @marca.clase %>
    </p>
   <p>
      <label for="">Numero Solicitud</label>
      <%=  @marca.numero_solicitud %>
    </p>
    <p>
      <label for="">Fecha</label>
      <%= lo @marca.fecha_solicitud %>
    </p>
    <p>
      <label for="">Fecha de modificación</label>
      <%= lo @marca.updated_at %>
    </p>

    <p>
      <label for="">Usuario</label>
      <%=  @marca.usuario %>
    </p>

  </div>


  <div class="half fl" id="div2">
   <%= content_tag 'p', mostrar_imagen(@marca) %>
    <p>
      <label for="">Titulares</label>
      <%=  @marca.titulares.join(", ") %>
    </p>
    <p>
      <label for="">Agentes</label>
      <%=  @marca.agentes.join(", ") %>
    </p>
    <p>
      <label>Apoderado</label>
      <%=  @marca.apoderado %>
    </p>

    <p>
      <label for="">Número de gaceta</label>
      <%=  @marca.numero_gaceta %>
    </p>
    <p>
      <label for="">Número de publicación</label>
      <%=  @marca.numero_publicacion %>
    </p>
    <p>
      <label for="">Fecha de publicación</label>
      <%= lo @marca.fecha_publicacion %>
    </p>
    <p>
      <label for="">Productos</label>
      <%=  @marca.productos %>
    </p>

  </div>


</div>

<div style="clear:both"></div>

