- simple_form_for @proyecto_item do |f|
  = f.error_messages
  %p
    = f.input :proyecto_id
  %p
    = f.input :descripcion
  %p
    = f.input :estado
  %p
    = f.input :referencia_cliente
  %p
    = f.input :referencia_cliente_cobranza
  %p
    = f.input :fecha_limite
  %p
    = f.input :honorarios
  %p
    = f.input :gastos_adminitrativos
  %p
    = f.input :monto
  %p
    = f.input :fecha_solicitud
  %p
    = f.button :submit, 'Guardar Proyecto Item'
