= simple_form_for @proyecto_item, :url => url do |f|
  =f.input :tipo, :input_html => { :value => 1}, :as => :hidden
  = f.error_messages
  %h3= link_to(@proyecto.titulo, proyecto_proyecto_path(@proyecto))
  = render :partial => "/proyecto/proyectos/item_cobro_fields", :locals => {:f => f}
  %p
    = f.button :submit, 'Guardar'

