= simple_form_for @proyecto_item, :url => proyecto_proyecto_proyecto_items_path(@proyecto) do |f|
  - if defined?(contador)
    .contar
      = contador
    = f.input(:contador, :as => :hidden, :input_html => {:value => contador})
  - else
    .contar
    = f.input(:contador, :as => :hidden)  
  = f.input :fecha_solicitud
  =f.input :tipo, :input_html => { :value => 0}, :as => :hidden
  =f.input :descripcion
  =f.input :monto
  =f.button :submit

:javascript
  $(document).ready(function(){
    transformarDateSelect();
  });
