#tabs-items{:style=>'font-size:11px;'}
  %ul
    %li
      %a{:href=>'#tabs-items-1'}
        Servicios
    %li
      %a{:href=>'#tabs-items-2'}
        Solicitud de fondos
    %li
      %a{:href=>'#tabs-items-3'}
        Notas de debito

  #tabs-items-1
    %table.decorated
      %thead
        %tr
          %th= sort_order "Codigo", "proyecto_item.id"
          %th Descripcion
          %th Estado
          %th Número de Trámite
          %th Referencia cliente
          %th Referencia cliente cobranza
          %th Fecha limite
          %th Items
          %th Marcas
          %th Fecha solicitud
      %tbody
        - @proyecto.item_cobros.each do |proyecto_item|
          %tr
            %td= link_to proyecto_item, proyecto_proyecto_proyecto_item_path(@proyecto, proyecto_item)
            %td= proyecto_item.descripcion
            %td= proyecto_item.estado
            %td= proyecto_item.nro_tramite
            %td= proyecto_item.referencia_cliente
            %td= proyecto_item.referencia_cliente_cobranza
            %td= proyecto_item.fecha_limite
            %td= proyecto_item.items.collect{|item| item.nombre}.join(", ")
            %td.marcas= proyecto_item.marcas.collect{|marca| link_to(marca, marca, :class => "ajax")}.join(", ").html_safe
            %td= proyecto_item.fecha_solicitud
            %td= link_to 'Editar', edit_proyecto_proyecto_proyecto_item_path(@proyecto, proyecto_item, :tipo => "cobro"), :class => "edit"
    %p
      = link_to "Añadir servicio", new_proyecto_proyecto_proyecto_item_path(@proyecto, :tipo => "cobro"), :style => "float: right;", :class => "new"
      /= link_to("Anadir alerta", alerta_proyecto_proyecto_instruccion_instruccion_detall_path(@proyecto, @instruccion, @instruccion_detalle), :class => "ajax", :"data-id" => "new_item_cobros",:locals=>{:tipo=>'alerta'})
      %br.clear
  #tabs-items-2
    %h2 Solicitud de fondos
    =render :partial =>'/proyecto/proyecto_items/listado_gastos'
    %p
      = link_to "Nueva solicitud", new_proyecto_proyecto_proyecto_item_path(@proyecto, :tipo => "gasto"), :class => 'new ajax', :style => "float: right;"
      %br.clear
  #tabs-items-3
    %p
      = link_to "Nueva nota debito", new_proyecto_proyecto_items_relacion_path(@proyecto) , :style => "float: right;", :class => "new ajax"
      %br.clear


:javascript
  $(function() {
    $("#tabs-items").tabs();
  });

