%table.decorated
  %thead
    %tr
      %th= sort_order "Codigo ORPAN", "proyecto_item.id"
      %th Descripcion
      - if current_usuario.is?(:admin)
        %th Monto
      %th Fecha solicitud
      %th
  %tbody
    - @proyecto.item_gastos.each do |proyecto_item|
      %tr
        %td= link_to proyecto_item, proyecto_proyecto_proyecto_item_path(@proyecto, proyecto_item)
        %td= proyecto_item.descripcion
        - if current_usuario.is?(:admin)
          %td= proyecto_item.monto
        %td= proyecto_item.fecha_solicitud
        %td= link_to 'Editar', edit_proyecto_proyecto_proyecto_item_path(@proyecto, proyecto_item), :class => "edit"
