- title "Proyecto Items"

%table
  %tr
    %th Proyecto
    %th Descripcion
    %th Estado
    %th Referencia cliente
    %th Referencia cliente cobranza
    %th Fecha limite
    %th Honorarios
    %th Gastos adminitrativos
    %th Monto
    %th Fecha solicitud
  - for proyecto_item in @proyecto_items
    %tr
      %td= proyecto_item.proyecto_id
      %td= proyecto_item.descripcion
      %td= proyecto_item.estado
      %td= proyecto_item.referencia_cliente
      %td= proyecto_item.referencia_cliente_cobranza
      %td= proyecto_item.fecha_limite
      %td= proyecto_item.honorarios
      %td= proyecto_item.gastos_adminitrativos
      %td= proyecto_item.monto
      %td= proyecto_item.fecha_solicitud
      %td= link_to 'Show', proyecto_item
      %td= link_to 'Edit', edit_proyecto_item_path(proyecto_item)
      %td= link_to 'Destroy', proyecto_item, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Proyecto Item", new_proyecto_proyecto_item_path
