- title "Servicio"
%h2 Datos del servicio
#contenido
  .izquierda{:style => "width:40%; text-align: left; padding-left:20px;"}
    .subizq
      %strong Proyecto:
    .subder
      = link_to(@proyecto_item.proyecto_id, proyecto_proyecto_path)
  .derecha{:style => "width:50%; text-align: left; padding-left:20px;"}
    .subizq
      %strong Descripcion:
    .subder
      = @proyecto_item.descripcion
  .clear
  .izquierda{:style => "width:40%; text-align: left; padding-left:20px;"}
    .subizq
      %strong Estado:
    .subder
      = @proyecto_item.estado
  .derecha{:style => "width:50%; text-align: left; padding-left:20px;"}
    .subizq
      %strong Referencia Cliente:
    .subder
      = @proyecto_item.referencia_cliente
  .clear
  .izquierda{:style => "width:40%; text-align: left; padding-left:20px;"}
    .subizq
      %strong Referencia Cliente Cobranza:
    .subder
      = @proyecto_item.referencia_cliente_cobranza
  .derecha{:style => "width:50%; text-align: left; padding-left:20px;"}
    .subizq
      %strong Fecha Limite:
    .subder
      = @proyecto_item.fecha_limite
  .clear
  .izquierda{:style => "width:40%; text-align: left; padding-left:20px;"}
    .subizq
      %strong Honorarios:
    .subder
      = @proyecto_item.honorarios
  .derecha{:style => "width:50%; text-align: left; padding-left:20px;"}
    .subizq
      %strong Gastos Adminitrativos:
    .subder
      = @proyecto_item.gastos_adminitrativos
  .clear
  .izquierda{:style => "width:40%; text-align: left; padding-left:20px;"}
    .subizq
      %strong Monto:
    .subder
      = @proyecto_item.monto
  .derecha{:style => "width:50%; text-align: left; padding-left:20px;"}
    .subizq
      %strong Fecha Solicitud:
    .subder
      = @proyecto_item.fecha_solicitud
  .clear
