- form_for @proyecto/item_gasto do |f|
  = f.error_messages
  %p
    = f.label :monto
    %br
    = f.text_field :monto
  %p
    = f.label :fecha_solicitud
    %br
    = f.datetime_select :fecha_solicitud
  %p
    = f.submit
