- title "Proyecto/Item Gastos"

%table
  %tr
    %th Monto
    %th Fecha solicitud
  - for proyecto/item_gasto in @proyecto/item_gastos
    %tr
      %td= proyecto/item_gasto.monto
      %td= proyecto/item_gasto.fecha_solicitud
      %td= link_to 'Show', proyecto/item_gasto
      %td= link_to 'Edit', edit_proyecto/item_gasto_path(proyecto/item_gasto)
      %td= link_to 'Destroy', proyecto/item_gasto, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Proyecto/Item Gasto", new_proyecto/item_gasto_path
