- title "Proyecto/Item Gasto"

%p
  %strong Monto:
  = @proyecto/item_gasto.monto
%p
  %strong Fecha Solicitud:
  = @proyecto/item_gasto.fecha_solicitud

%p
  = link_to "Edit", edit_proyecto/item_gasto_path(@proyecto/item_gasto)
  |
  = link_to "Destroy", @proyecto/item_gasto, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", proyecto/item_gastos_path
