<% semantic_form_for @titulares do |titular| %>
  
<%= titular.error_messages  %>

<% titular.inputs do %>
  <%= titular.input :nombre , :label => 'Nombre' %>
  <%= titular.input :direccion , :label => 'Direccion' %>
  <%= titular.input :telefono , :label => 'Telefono' %>
  <%= titular.input :email , :label => 'Email' %>
<% end %>
<p>
<%=  titular.submit 'Salvar' %>
</p>
<% end %>
   
   
