<h1>Listado de titulares</h1>

<%= link_to 'Nuevo titular', new_titular_path, :class => 'new' %>

<%= @will = will_paginate @titulares %>

<table class="decorated">
    <tr>
      <th><%= sort_order "Nombre", "representantes.nombre" %></th>
      <th><%= sort_order "País", "paises.nombre" %></th>
      <th>Direccion</th>
      <!--<th>Telefono</th>
      <th>Email</th> -->
      <th></th>
    </tr>

<% @titulares.each do |titular| %>
  <tr>
   <td><%=h link_to titular.nombre, titular %></td>
   <td><%=h titular.pais %></td>
   <td><%=h titular.direccion %></td>
   <td>
     <%= links(titular) %>
   </td>
  </tr>

<% end %>
</table>

<%= @will %>
