<td><span class="<%= marca.propia! %>"><%= link_to marca.nombre, marca_path(marca), :class => :ajax%></span></td>
<td><%= marca.tipo_signo.sigla if marca.tipo_signo %></td>
<td><%= marca.tipo_marca.sigla if marca.tipo_marca %></td>
<td><%= marca.clase_id %></td>
<td><%= marca.numero_marca %></td>
<td><%= I18n.l(marca.fecha_marca, :format => :short) if marca.fecha_marca %></td>
