%tr
  %td{:colspan => 8}
%tr
  %td{:colspan => 8}
%tr
  %td{:colspan => 8}
    %br= t("glosa-1")
    %br= t("glosa-2")
    %br= t("glosa-3")
    %br= t("glosa-4")
    %br= t("glosa-5")
    %br= t("glosa-6")
    %br= t("glosa-7")
    %br= t("glosa-8")
    %br= t("glosa-9")
    %br= t("glosa-10")
    %br= t("glosa-11")