<table class="decorated">
  <tr style="background-color: #000; color: #fff">
    <th class="_200" style="padding: 4px;">Busqueda</th>
    <th class="_200">Signo</th>
    <th class="_200">Tipo</th>
    <th class="_200">Clase</th>
    <th class="_200">Numero</th>
    <th class="_200">Fecha</th>
    <th class="_200">Titulares</th>
    <th>Comentario</th>
  </tr>
  <% @reporte_marca.reporte_marca_detalles.each do |rd|  %>
    <tr>
      <td>
        <%= rd.busqueda %>
      </td>
      <td><%= rd.marca_propia.nombre %></td>
      <td><%= rd.marca_propia.tipo_signo %></td>
      <td><%= rd.marca_propia.clase_id %></td>
      <td><%= rd.marca_propia.numero_marca %></td>
      <td><%= rd.marca_propia.fecha_marca %></td>
      <td><%= rd.marca_propia.titulares.join(", ") %></td>
      <td><%= rd.comentario %></td>
    </tr>
  <% end %>
</table>

