<table class="decorated">
  <tr style="background-color: #000; color: #fff">
    <!--<th class="_200" style="padding: 4px;">Busqueda</th>-->
    <th class="_200">Signo</th>
    <th class="_200">Tipo</th>
    <th class="_200">Cl</th>
    <th class="_200">Numero</th>
    <th class="_200">Fecha</th>
    <% if show_titulares %>
      <th class="_200">Titulares</th>
      <th class="_200">Agentes</th>
    <% end %>
  </tr>
  <% consulta.consulta_detalles.each do |rd|  %>
    <tr>
      <td><span class="<%= rd.marca.propia! %>"><%= link_to rd.marca.nombre, marca_path(rd.marca), :class => :ajax%></span></td>
      <td><%= rd.marca.tipo_signo.sigla if rd.marca.tipo_signo %></td>
      <td><%= rd.marca.clase_id %></td>
      <td><%= rd.marca.numero_marca %></td>
      <td><%= rd.marca.fecha_marca %></td>
      <% if show_titulares %>
        <td><%= rd.marca.titulares.join(", ") %></td>
        <td><%= rd.marca.agentes.join(", ") %></td>
      <% end %>
    </tr>
  <% end %>
</table>

