<h1>Reporte <%= @representante %></h1>
<h2 class="dark">Gaceta <%= @importacion.publicacion %> del <%= l @importacion.publicacion_fecha %></h2>

<% semantic_form_for(@reporte_marca) do |f| %>

  <%= f.input :representante_id, :as => :hidden %>
  <%= f.input :representante_type, :as => :hidden %>
  <%= f.input :importacion_id, :as => :hidden %>

  <p>
    <label for="reporte_marca_idioma_es">
      <%= f.radio_button :idioma, 'es' %>
      Español
    </label>
    <label for="reporte_marca_idioma_en">
      <%= f.radio_button :idioma, 'en' %>
      Ingles
    </label>
  </p>
  <%= f.input :carta, :as => :text, :input_html => {:cols => 100, :rows => 7} %>

  <p class="inline-hints">
    Si no escribe en el comentario la marca no sera seleccionada para reporte
  </p>
  <table class="decorated">
  	<tr>
  		<th>Marca propia</th>
  		<th>Marca agena</th>
  		<th>Comentario</th>
  	</tr>
    <% @marcas.each{ |v| f.object.reporte_marca_detalles.build(:marca_id => v.marca_id, :marca_foranea_id => v.consulta.marca_id) } if params[:reporte_marca].nil? %>
    <% @i = 0 %>
    <% f.semantic_fields_for :reporte_marca_detalles do |rd| %>
      <tr>
        <td>
          <%= rd.input :marca_id, :as => :hidden %>
          <%= rd.input :marca_foranea_id, :as => :hidden %>
      	  <%= @marcas[@i].marca.nombre %>
        </td>
        <td><%= @marcas[@i].consulta.marca.nombre %></td>
        <td>
          <%= rd.input :comentario, :as => :text, :label => false, :input_html => {:cols => 60, :rows => 12} %>
        </td>
      </tr>
      <% @i += 1 %>
    <% end %>
  </table>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<script type="text/javascript">
  $(function() {
      // Idioma
      $('input[name="reporte_marca[idioma]"]').click(function() {
        var val = 'es' == $(this).val() ? carta_es : carta_en;
        $('#reporte_marca_carta').val(val);
      });
      if( $('input[name="reporte_marca[idioma]"]').val() == 'es') {
        $('#reporte_marca_carta').val(carta_es);
      }else {
        $('#reporte_marca_carta').val(carta_en);
      }

      // Habilitar desabilitar
      /*$('input:checkbox').click(function() {
        $(this).parents("tr:first").find("td textarea").attr("disabled", !$(this).attr("checked"));
      });*/
      // Formulario
      $('form').submit(function() {
        /*if( $('input:checkbox[checked]').length <= 0 ) {
          alert("Debe seleccionar al menos una marca");
          return false;
        }else{
          return true;
        }*/
      });
  });
  var carta_es = "Estimado cliente le enviamos las coincidencias de sus marcas en la gaceta \"<%= @importacion.publicacion %>\" en fecha <%= l @importacion.publicacion_fecha %>";
  <% I18n.locale = :en %>
  var carta_en = "Dear customer we have found some coincidences with your trademarks in gaceta \"<%= @importacion.publicacion %>\" from date <%= l @importacion.publicacion_fecha %>";
  <% I18n.locale = :es %>
</script>
