<div class="breadcrumps">
  <%= link_to "Lista de importaciones", importaciones_path %> > 
  <%= link_to "Agentes y Títulares", cruces_reporte_marcas_path(:importacion_id => params[:importacion_id]) %>
  > Reporte
</div>

<h1>Crear Reporte cruce</h1>
<h2 class="dark"><%= params[:representante_type] %>: <%= @representante %></h2>
<h2 class="dark">Gaceta <%= @importacion.publicacion %> del <%= l @importacion.publicacion_fecha %></h2>


<% semantic_form_for(@reporte_marca) do |f| %>

  <%= f.input :representante_id, :as => :hidden %>
  <%= f.input :representante_type, :as => :hidden %>
  <%= f.input :importacion_id, :as => :hidden %>
  <%= hidden_field_tag "_reporte_marca", 1 unless ReporteMarca.buscar_en_cruce(params).nil? %>

  <p>
    <label for="reporte_marca_idioma_es">
      <%= f.radio_button :idioma, 'es' %>
      Español
    </label>
    <label for="reporte_marca_idioma_en">
      <%= f.radio_button :idioma, 'en' %>
      Ingles
    </label>
  </p>
  <%= f.input :carta, :as => :text, :input_html => {:cols => 100, :rows => 7} %>

  <p class="inline-hints">
    Si no escribe en el comentario la marca no sera seleccionada para el reporte
  </p>
  <table class="decorated">
  	<tr>
  		<th>Marca propia</th>
  		<th>Marca agena</th>
  		<th>Comentario</th>
  	</tr>
    <% @marcas.each{ |v| f.object.reporte_marca_detalles.build(:marca_id => v.marca_id, :marca_foranea_id => v.consulta.marca_id) } if params[:reporte_marca].nil? %>
    <% @i = 0 %>
    <% f.semantic_fields_for :reporte_marca_detalles do |rd| %>
      <tr>
        <td>
          <%= rd.input :marca_id, :as => :hidden %>
          <%= rd.input :marca_foranea_id, :as => :hidden %>
          <%= render :partial => "marca_propia", :locals => { :marca => rd.object.marca_propia } %>
        </td>
        <td>
          <%= render :partial => "marca_foranea", :locals => { :marca => rd.object.marca_foranea } %>
        </td>
        <td>
          <%= rd.input :comentario, :as => :text, :label => false, :input_html => {:cols => 60, :rows => 12} %>
        </td>
      </tr>
      <% @i += 1 %>
    <% end %>
  </table>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<script type="text/javascript">
  $(function() {
      // Idioma
      $('input[name="reporte_marca[idioma]"]').click(function() {
        var val = 'es' == $(this).val() ? carta_es : carta_en;
        $('#reporte_marca_carta').val(val);
      });
      if( $('input[name="reporte_marca[idioma]"]').val() == 'es') {
        $('#reporte_marca_carta').val(carta_es);
      }else {
        $('#reporte_marca_carta').val(carta_en);
      }

      // Formulario
      $('form').submit(function() {
        if( $('#_reporte_marca').length > 0 ) {
          if(confirm("Esta seguro de borrar el reporte anterior para crear uno nuevo?") ) {
            return true;
          } else { return false; }
        }
      });
  });
  var carta_es = "<%= @reporte_marca.crear_carta %>";
  var carta_en = "<%= @reporte_marca.crear_carta('en') %>";
</script>
