<h1>Reporte <%= @representante %></h1>

<% semantic_form_for(@reporte_marca) do |f| %>

  <%= f.input :representante_id, :as => :hidden %>
  <%= f.input :representante_type, :as => :hidden %>
  <%= f.input :importacion_id, :as => :hidden %>

  <p>
    <label for="idioma_es">
      <%= radio_button_tag "idioma", 'es' %>
      Español
    </label>
    <label for="idioma_en">
      <%= radio_button_tag "idioma", 'en' %>
      Ingles
    </label>
  </p>
  <%= f.input :carta, :as => :text, :input_html => {:cols => 100} %>

  <table class="decorated">
  	<tr>
  		<th></th>
  		<th>Marca propia</th>
  		<th>Marca agena</th>
  		<th>Comentario</th>
  	</tr>
    <% @marcas.each{ |v| f.object.reporte_marca_detalles.build } if params[:reporte_marca].nil? %>
    <% @i = 0 %>
    <% f.semantic_fields_for :reporte_marca_detalles do |rd| %>
      <tr>
        <td>
          <input id="" name="" type="checkbox" />
        </td>
      	<td><%= @marcas[@i].marca.nombre %></td>
      	<td><%= @marcas[@i].consulta.marca.nombre %></td>
        <td>
          <%= rd.input :comentario, :as => :text, :label => false, :input_html => {:cols => 50, :rows => 10} %>
        </td>
      </tr>
      <% @i += 1 %>
    <% end %>
  </table>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<script type="text/javascript">
  $(function() {
      // Idioma
      $('input[name=idioma]').click(function() {
        var val = 'es' == $(this).val() ? carta_es : carta_en;
        $('#reporte_marca_carta').val(val);
      });
      // Habilitar desabilitar
      $('input:checkbox').click(function() {
        $(this).parents("tr:first").find("td textarea").attr("disabled", $(this).attr("checked"));
      });
      // Formulario
      $('form').submit(function() {
        /*if( $('input:checkbox[checked]').length <= 0 ) {
          alert("Debe seleccionar al menos una marca");
          return false;
        }else{
          return true;
        }*/
      });
  });
  var carta_es = "español";
  var carta_en = "english";
</script>
