<h1>Editing reporte_marca</h1>

<% form_for(@reporte_marca) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :representante_id %><br />
    <%= f.text_field :representante_id %>
  </p>
  <p>
    <%= f.label :representante_type %><br />
    <%= f.text_field :representante_type %>
  </p>
  <p>
    <%= f.label :importacion_id %><br />
    <%= f.text_field :importacion_id %>
  </p>
  <p>
    <%= f.label :reporte_pdf %><br />
    <%= f.text_field :reporte_pdf %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @reporte_marca %> |
<%= link_to 'Back', reporte_marcas_path %>