<h1>Reportes</h1>

<table class="decorated nwl">
	<tr>
		<th>Reporte</th>
                <th></th>
		<th>Cliente</th>
    <th>Fecha</th>
    <th></th>
	</tr>
  <% @reporte_marcas.each do |r| %>
    <tr>
    	<td><%= reporte r %></td>
        <td><%= r.idioma %></td>
      <td><%= r.representante %></td>
    	<td><%= l r.updated_at %></td>
      <td>
        <%= links r %>
        <%= link_to "descargar", download_reporte_marca_path(r), :class => 'pdf' %>
      </td>
    </tr>
  <% end %>
</table>
