<h1>Reportes</h1>

<table class="decorated nwl">
  <tr>
    <th></th>
    <th>Reporte</th>
    <th>Idioma</th>
    <th>Cliente</th>
    <th>Fecha</th>
    <th>Usuario</th>
    <th>Consulta</th>
    <th></th>
  </tr>
  <% @reporte_marcas.each do |r| %>
    <tr>
      <td><%= r.id %></td>
      <td><%= reporte r %></td>
      <td><%= r.idioma %></td>
      <td><%= r.representante %></td>
      <td><%= l r.updated_at %></td>
      <td><%= r.consulta.usuario.nombre if r.consulta && r.consulta.usuario %></td>
      <td><%= link_to(r.consulta.id, r.consulta) if r.consulta %></td>
      <td>
        <%= links r %>
        <%= link_to "descargar", download_reporte_marca_path(r), :class => 'pdf' %>
      </td>
    </tr>
  <% end %>
</table>
