<style type="text/css">
  ._200{ width: 200px; }
</style>

<% if @reporte_marca.importacion_id? %>
  <div class="breadcrumps">
    <%= link_to "Lista de importaciones", importaciones_path %> >
    <%= link_to "Agentes y Títulares", cruces_reporte_marcas_path(:importacion_id => @reporte_marca.importacion_id) %>
    > Reporte
  </div>
<% end %>

<h1>Vista preliminar del reporte</h1>
<% if @reporte_marca.importacion_id? %>
  <h2 class="dark">Gaceta <%= @importacion.publicacion %> del <%= l @importacion.publicacion_fecha %></h2>
<% end %>

<p>
  <label for="">Idioma</label>
  <%= @reporte_marca.idioma! %>
</p>

<p>
  <label for="">Carta</label>
  <%= @reporte_marca.carta %>
</p>
<%= render :partial => ( @reporte_marca.importacion_id? ? "tabla_cruce" : "tabla_busqueda" ), :locals => {:show_titulares => false} %>

<br />


<%= link_to 'Editar', edit_reporte_marca_path(@reporte_marca), :class => 'edit' %>
<% if @reporte_marca.importacion_id? %>
  <%= link_to 'lista', reporte_marcas_path(:importacion_id => @reporte_marca.importacion_id), :class => 'list' %>
<% else %>
  <%= link_to 'lista', reporte_marcas_path, :class => 'list' %>
  <%= link_to "Descargar reporte .xls", download_reporte_marca_path(@reporte_marca, :format => "xls"), :class => 'pdf' %>
<% end %>
<%= link_to "Descargar reporte", download_reporte_marca_path(@reporte_marca), :class => 'pdf' %>
