<% unless @importacion.nil? %>
  <h1>Reporte <%= @reporte_marca.representante_type %>: <%= @reporte_marca.try(:representante) %></h1>
  <h2 class="dark">Gaceta <%= @importacion.publicacion %> del <%= l @importacion.publicacion_fecha %></h2>
<% else %>
  <h1>Reporte de busquedas</h1>
<% end %>

<p>
  <label>Importacion:</label>
  <%=h @reporte_marca.importacion_id %>
</p>



<%= link_to 'Editar', edit_reporte_marca_path(@reporte_marca), :class => 'edit' %>
<%= link_to 'lista', reporte_marcas_path, :class => 'list' %>
