<style type="text/css">
  ._200{ width: 200px; }
</style>

<% if @reporte_marca.importacion_id? %>
  <div class="breadcrumps">
    <%= link_to "Lista de importaciones", importaciones_path %> >
    <%= link_to "Reportes realizados", cruces_reporte_marcas_path(:importacion_id => @reporte_marca.importacion_id) %>
    > Reporte
  </div>
<% end %>

<h1>Datos del reporte</h1>
<% if @reporte_marca.importacion_id? %>
  <h2 class="dark">Gaceta <%= @importacion.publicacion %> del <%= l @importacion.publicacion_fecha %></h2>
<% end %>
  
  <% if @reporte_marca.representante_id %>
    <%= f.hidden_field :representante_id %>
      <label for="">Cliente</label>
      <h2><%= @reporte_marca.representante %></h2>
    <% end %>
<% if !@reporte_marca.importacion_id? %>
<p>
  <label for="">Denominación: </label>
  <h2><%= @reporte_marca.busqueda.upcase %></h2>
</p>
<% end %>
<p>
  <label for="">Idioma</label>
  <h2><%= @reporte_marca.idioma! %></h2>
</p>

<p>
  <label for="">Análisis</label>
  <h2><%= @reporte_marca.carta %></h2>
</p>
<%= render :partial => ( @reporte_marca.importacion_id? ? "tabla_cruce" : "tabla_busqueda" ), :locals => {:show_titulares => true} %>

<br />


<%= link_to 'Editar', edit_reporte_marca_path(@reporte_marca), :class => 'edit' %>
<%= link_to 'lista', reporte_marcas_path, :class => 'list' %>
<%= link_to "Descargar reporte .xls", download_reporte_marca_path(@reporte_marca, :format => "xls"), :class => 'pdf' %>
<%= link_to "Descargar reporte", download_reporte_marca_path(@reporte_marca), :class => 'pdf' %>
