- form_for @instruccion do |f|
  = f.error_messages
  %p
    = f.label :proyecto_id
    %br
    = f.text_field :proyecto_id
  %p
    = f.label :gerencia_id
    %br
    = f.text_field :gerencia_id
  %p
    = f.label :referencia_email
    %br
    = f.text_field :referencia_email
  %p
    = f.submit
