- simple_form_for @instruccion,  :url => url do |f|
  = f.error_messages
  %p
    %b Proyecto:
    %h3 Proyecto > #{@proyecto.titulo} > Nueva Instrucción
    = f.input :referencia_email , :disabled => false
    = f.simple_fields_for :instruccion_detalles do |g|
      = g.input :estado
      = g.input :tarea
      = g.input :fecha_limite, :as => :date
      = g.association :usuario

  %p
    = f.button :submit
