#tabs-instruccion{:style=>'font-size:11px;'}
  %ul
    %li
      %a{:href=>'#tabs-instruccion-1'}
        Mis Tareas
    %li
      %a{:href=>'#tabs-instruccion-2'}
        Asignadas por mi
  #tabs-instruccion-1
    - for instruccion in instrucciones
      = instruccion.referencia_email
      %br
      = instruccion.id
      %br
      = instruccion.proyecto
      %br
      %p= link_to 'Editar',  edit_proyecto_proyecto_instruccion_path(@proyecto, instruccion), :class=>'edit'
      %p= link_to "Añadir Instruccion", new_proyecto_proyecto_instruccion_path(@proyecto), :class=>'new'
      = render :partial =>'proyecto/instruccion_detalles/listado', :locals =>{:instruccion_detalles => instruccion.instruccion_detalles, :instruccion => instruccion}
  #tabs-instruccion-2
    Asignada por mi
:javascript
  $(function() {
   $("#tabs-instruccion").tabs();
  });