#tabs-instruccion{:style=>'font-size:11px;'}
  %ul
    %li
      %a{:href=>'#tabs-instruccion-1'}
        Asignadas por mi
    %li
      %a{:href=>'#tabs-instruccion-2'}
        Mis Tareas


  #tabs-instruccion-1
    %table
      %th Referencia email
      - for instruccion in instrucciones
        %tr
          %td= instruccion.referencia_email
          %td= link_to 'Editar',  edit_proyecto_proyecto_instruccion_path(@proyecto, instruccion), :class=>'edit'
        = link_to "Añadir Instruccion", new_proyecto_proyecto_instruccion_path(@proyecto), :class=>'new', :style => "float: right;"
        = render :partial =>'proyecto/instruccion_detalles/listado', :locals =>{:instruccion_detalles => instruccion.instruccion_detalles.paginate(:per_page => 5, :page => params[:page]), :instruccion => instruccion}
    %br.clear

  #tabs-instruccion-2
    %p
      %table.decorated
        %tr
          %th Intruccion
          %th Tarea
          %th Fecha limite
        - @mistareas.each do |mitarea|
          %tr
            %td= mitarea.instruccion_id
            %td= link_to mitarea.tarea, ver_entrega_proyecto_proyecto_instruccion_instruccion_detall_path(mitarea.instruccion.proyecto,mitarea.instruccion, mitarea) 
            %td= l(mitarea.fecha_limite, :format => "%d %B %Y")
  =will_paginate @mistareas        

:javascript
  $(function() {
   $("#tabs-instruccion").tabs();
  });
