- title "Proyecto/Instruccion"
= @instruccion.referencia_email
%br
= @instruccion.proyecto_id
%br
= @instruccion.area_id
%br
  - for inst in @instruccion.instruccion_detalles
    = inst.tarea
    %br
    = inst.usuario_id



%p
  = link_to "Edit", edit_proyecto_proyecto_instruccion_path(@instruccion)
  |
  = link_to "Destroy", @proyecto_instruccion, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", proyecto_proyecto_instrucciones_path
