- title "Proyecto/Instruccion"

%p
  %strong Proyecto:
  = @instruccion.proyecto_id
%p
  %strong Gerencia:
  = @instruccion.gerencia_id
%p
  %strong Referencia Email:
  = @instruccion.referencia_email

%p
  = link_to "Edit", edit_proyecto_instruccion_path(@instruccion)
  |
  = link_to "Destroy", @proyecto_instruccion, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", proyecto_instrucciones_path
