= simple_form_for [:proyecto, @correspondencia] do |f|
  /= f.error_messages
  %p
    = f.input :proyecto_id
  %p
    = f.input :tipo
  %p
    = f.input :contenido
  %p
    = f.button :submit, 'Guardar'
