= simple_form_for @correspondencia, :url => url do |f|
  = f.error_messages
  %p
    %b Proyecto:
    %h3== Proyecto > #{link_to(@proyecto.titulo, proyecto_proyecto_path(@proyecto))} > Nuevo servicio
  %p
    = f.collection_radio :tipo, [[true, 'Recibido'] ,[false, 'Enviado']], :first, :last
  %p
    = f.input :asunto
  %p
    = f.input :contenido
  %p
    = f.button :submit, 'Guardar'
