= simple_form_for @correspondencia, :url => url do |f|
  = f.error_messages
  %p
    = f.input :proyecto_id, :disabled => true
  %p
    = f.input :tipo, :as => :radio, :label => '¿Recibido?'
  %p
    = f.input :contenido
  %p
    = f.button :submit, 'Guardar'
