%h3= "Proyecto << #{link_to(@proyecto.titulo, proyecto_proyecto_path(@proyecto))}".html_safe

= simple_form_for @correspondencia, :url => url do |f|
  = f.error_messages
  = render :partial => "/proyecto/proyectos/correspondencia_fields", :locals => {:f => f, :contador => (@correspondencia.new_record?)? @correspondencia.siguiente_id : @correspondencia.contador}
  = f.submit "Guardar"

:javascript
  $(document).ready(function(){
    transformarDateSelect();
  });