= simple_form_for @correspondencia, :url => url do |f|
  = f.error_messages
  %p
    %b Proyecto:
    %h3 Proyecto > %h3= @proyecto.titulo > Nuevo servicio
  %p
    = f.input :tipo, :as => :radio, :label => '¿Recibido?'
  %p
    = f.input :contenido
  %p
    = f.button :submit, 'Guardar'
