#tabs{:style=>'font-size:11px;'}
  %ul
    %li
      %a{:href=>'#tabs-1'}
        Correspondencia
        
  #tabs-1
    %table.decorated
      %tr
        %th= sort_order "Id", "correspondencia.id"
        %th Tipo
        %th Contenido
      - for correspondencia in correspondencias
        %tr
          %td= link_to correspondencia.id, proyecto_proyecto_correspondencias_path(@proyecto, correspondencia)
          - if correspondencia.tipo == true
            %td= image_tag("icons/received.png", :size => "16x16", :title => "Recibido")
          - else
            %td= image_tag("icons/sent.png", :size => "16x16", :title => "Enviado")
          %td= correspondencia.contenido
          %td= link_to 'Ver', proyecto_proyecto_correspondencia_path(@proyecto, correspondencia)
          %td= link_to 'Editar', edit_proyecto_proyecto_correspondencia_path(@proyecto, correspondencia), :class => 'edit'
          %td= link_to 'Eliminar', proyecto_proyecto_correspondencia_path(@proyecto, correspondencia), :confirm => 'Are you sure?', :method => :delete, :class => 'delete'

    %p= link_to "Nueva correspondencia", new_proyecto_proyecto_correspondencia_path(@proyecto), :class => 'new'

:javascript
  $(function() {
   $( "#tabs" ).tabs();
  });
