#tabs-correspondencia{:style=>'font-size:11px;'}
  %ul
    %li
      %a{:href=>'#tabs-correspondencia-1'}
        Correspondencia
    %li
      %a{:href=>'#tabs-correspondencia-2'}
        Adjuntos

  #tabs-correspondencia-1
    %table.decorated
      %tr
        %th 
        %th Tipo
        %th Correo
        %th Fecha
        %th Asunto
      - for correspondencia in correspondencias
        %tr
          %td= correspondencia
          - if correspondencia.tipo == true
            %td= image_tag("icons/received.png", :size => "16x16", :title => "Recibido")  
          - else
            %td= image_tag("icons/sent.png", :size => "16x16", :title => "Enviado")
          - if correspondencia.tipo == true
            %td= correspondencia.tipo="Recibido"
          -else
            %td= correspondencia.tipo="Enviado"
          %td= l(correspondencia.orden, :format => "%d, %B %Y %H:%M") if correspondencia.orden
          %td= link_to(truncate(correspondencia.asunto, :length=>50), proyecto_proyecto_correspondencia_path(@proyecto, correspondencia), :class => "correspondencia", :"data-selector" => "#tabs-correspondencia-1")
          %td= link_to 'Editar', edit_proyecto_proyecto_correspondencia_path(@proyecto, correspondencia), :class => 'edit'
          %td= link_to 'Eliminar', proyecto_proyecto_correspondencia_path(@proyecto, correspondencia), :confirm => 'Are you sure?', :method => :delete, :class => 'delete'
    .pagination= will_paginate(correspondencias, :params => {:controller => "proyecto/correspondencias", :proyecto_id => @proyecto.id, :action => "index", :id => nil})
    %p
      = link_to "Añadir email", new_proyecto_proyecto_correspondencia_path(@proyecto), :class => 'new', :style => "float: right;"
      = link_to "Ver todos los email", proyecto_proyecto_correspondencias_path(@proyecto), :class => "correspondencia new", :"data-selector" => "#tabs-correspondencia-1", :style => "float: right;"
      %br.clear
  #tabs-correspondencia-2
    = render :partial => "/adjuntos/index", :locals => {:adjuntos => @proyecto.todos_los_adjuntos}

:javascript
  window.selectorAjax = "tabs-correspondencia";
  $(function() {
    $("#tabs-correspondencia").tabs();
    $(".correspondencia, .next-email, .previus-email, .pagination a").live("click", ajaxeable);
  });
