#remote
  %h2== Proyecto #{@proyecto.titulo}
  = next_email(@proyecto, @correspondencia, "#tabs-correspondencia-1")
  = previus_email(@proyecto, @correspondencia, "#tabs-correspondencia-1")
  #correspondencia
    %p
      %b= l(@correspondencia.orden, :format => "%d, %B %Y %H:%M") if @correspondencia.orden
      - if @correspondencia.tipo == true
        %td= image_tag("icons/received.png", :size => "16x16", :title => "Recibido")
      - else
        %td= image_tag("icons/sent.png", :size => "16x16", :title => "Enviado")
    %h4= @correspondencia.asunto
    %p
      = @correspondencia.contenido.html_safe
    %p
      = render :partial => "/adjuntos/index", :locals => {:adjuntos => @correspondencia.adjuntos, :not_show => true}

    %p
      = link_to "Editar", edit_proyecto_proyecto_correspondencia_path(@proyecto, @correspondencia)
      |
      = link_to "Borrar", proyecto_proyecto_correspondencia_path(@proyecto, @correspondencia), :confirm => 'Are you sure?', :method => :delete
      |
      = link_to "Listado", proyecto_proyecto_correspondencias_path(@proyecto), :class => "correspondencia", :"data-selector" => "#tabs-correspondencia-1", :"data-callback" => "refresh_table_correspondencia()"
