- title "Proyecto/Correspondencia"

%p
  %strong Proyecto:
  = @correspondencia.proyecto_id
%p
  %strong Tipo:
  = @correspondencia.tipo
%p
  %strong Contenido:
  = @correspondencia.contenido

%p
  = link_to "Edit", edit_proyecto_correspondencia_path(@correspondencia)
  |
  = link_to "Destroy", [:proyecto, @correspondencia], :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", proyecto_correspondencias_path
