<h1>Lista de usuarios</h1>

<%= link_to 'Nuevo usuario', new_usuario_path, :class => 'new' %>

<table class="decorated">
  <tr>
    <th>Nombre</th>
    <th>Rol</th>
    <th>Login</th>
    <th></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%=h link_to usuario.nombre, usuario %></td>
    <td><%=h usuario.rol %></td>
    <td><%=h usuario.login %></td>
  
    <td><%= links (usuario) %> </td>
  </tr>

<% end %>
</table>

