<h1>Nuevo usuario</h1>

<% semantic_form_for(@usuario) do |f| %>
  
  <%= f.error_messages %>

  <% usuario.inputs do  %>
    <%= f. :nombre %><br />
    <%= f.text_field :nombre %>
    <%= f.label :rol %><br />
    <%= f.text_field :rol %>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
    <%= f.submit 'Create' %>
<% end %>

<%= link_to 'Back', usuarios_path %>
