<p>
  <b>Nombre:</b>
  <%=h @usuario.nombre %>
</p>

<p>
  <b>Rol:</b>
  <%=h @usuario.rol %>
</p>

<p>
  <b>Login:</b>
  <%=h @usuario.login %>
</p>

<p>
  <b>Password:</b>
  <%=h @usuario.password %>
</p>


<%= link_to 'Editar', edit_usuario_path(@usuario),:class => 'edit' %> |
<%= link_to 'Lista', usuarios_path, :class => 'list' %>
