- title "Proyecto/Item"

%p
  %strong Categoria:
  = @proyecto/item.categoria_id
%p
  %strong Sigla:
  = @proyecto/item.sigla
%p
  %strong Nombre:
  = @proyecto/item.nombre

%p
  = link_to "Edit", edit_proyecto/item_path(@proyecto/item)
  |
  = link_to "Destroy", @proyecto/item, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", proyecto/items_path
