- title "Proyecto/Item"

%p
  %strong Categoria:
  = @item.categoria_id
%p
  %strong Sigla:
  = @item.sigla
%p
  %strong Nombre:
  = @item.nombre

%p#remote
  - if @item.has_children?
    = select :test, :test, @item.children.collect{|c| [c.nombre, c.id]}, :multiple => true

%p
  = link_to "Edit", edit_proyecto_item_path(@item)
  |
  = link_to "Destroy", @item, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", proyecto_items_path
