<ul>
<% posts.each do |p| %>
  <li class="post">
    <h3><%= p.titulo %></h3>
    Por <strong><%= p.usuario %></strong><br /> 
    <em><%= l p.created_at, :format => "%d, %B %Y %H:%M" %></em>
    <p>
      <%= p.comentario %>
    </p>
      <ul>
        <% p.adjuntos.each do |a| %>
          <li class="mime">
          <%= link_to "<strong>#{ a.archivo_file_name }</strong> (#{ a.archivo_file_size.to_byte_size})", adjunto_path(a), :class => a.tipo %>
          </li>
        <% end %>
      </ul>
    <%= link_to "borrar", p, :class => 'delete' if UsuarioSession.current_user[:rol] == 'admin' %>
  </li>
<% end %>
</ul>
<%= link_to "Ver_mas", posts_path(:postable_id => @marca.id, :postable_type => 'Marca'), :class => 'ajax list' %>

