<ul>
<% unless posts.blank? %>
  <% posts.each do |p| %>
    <li class="post">
      <h3><%= p.categoria %></h3>
      <h4><%= p.titulo %></h4>
      <p>
        <%= p.comentario %>
      </p>
      Por <strong><%= p.usuario %></strong><br /> 
      <em><%= l p.created_at, :format => "%d, %B %Y %H:%M" %></em>
        <ul>
          <% p.adjuntos.each do |a| %>
            <li class="mime">
            <%= link_to "<strong>#{ a.archivo_file_name }</strong> (#{ a.archivo_file_size.to_byte_size})".html_safe, a, :class => a.tipo %>
            </li>
          <% end %>
          <hr>
        </ul>
      <%= link_to "borrar", p, :class => 'delete' if UsuarioSession.current_user[:rol] == 'admin' %>
    </li>
  <% end %>
<% end %>
</ul>
