<li class="post">
  <h3><%= @post.titulo %></h3>
  Por <strong><%= @post.usuario %></strong><br /> 
  <em><%= l @post.created_at, :format => "%d, %B %Y %H:%M" %></em>
  <p>
    <%= @post.comentario %>
  </p>
    <ul>
      <% @post.adjuntos.each do |a| %>
        <li class="mime">
        <%= link_to "<strong>#{ a.archivo_file_name }</strong> (#{ a.archivo_file_size.to_byte_size})", adjunto_path(a), :class => a.tipo %>
        </li>
      <% end %>
    </ul>
</li>

<div id="post_show_iframe"></div>
