<% simple_form_for @representante do |f| %>
  <%= f.association :pais %>
  <div class="clear"></div>
  <%= f.input :nombre, :label => 'Nombre', :input_html => { :size => 70 } %>
  <%= f.input :direccion, :label => 'Dirección', :as => :text, :input_html => { :rows => 3, :cols => 45 } %>
  <div class="clear"></div>
  <%= f.input :email, :label => 'Email central' %>
  <%= f.input :telefono, :label => 'Teléfono' %>
  <div class="clear"></div>
  <%= f.input :fax, :label => 'Fax' %>
  <%= f.input :pagina_web, :label => 'Página web' %>
  <div class="clear"></div>
  <%= f.input :postal %>
  <%= f.input :cliente, :label => "Cliente propio" %>
  <%#= f.input :division %>
<p>
<%=  f.submit 'Salvar' %>
</p>
<% end %>
   
