<% semantic_form_for @representante do |representante| %>

  <%= representante.input :pais, :as => :select, :collection => Pais.find(:all) %>
  <%= representante.input :nombre, :label => 'Nombre', :input_html => { :size => 70 } %>
  <%= representante.input :direccion, :label => 'Dirección', :as => :text, :input_html => { :rows => 3, :cols => 45 } %>
  <%= representante.input :email, :label => 'Email central' %>
  <%= representante.input :telefono, :label => 'Teléfono' %>
  <%= representante.input :fax, :label => 'Fax' %>
  <%= representante.input :pagina_web, :label => 'Página web' %>
<p>
<%=  representante.submit 'Salvar' %>
</p>
<% end %>
   
