<h1>Listado de clientes</h1>

<%= link_to 'Nuevo cliente', new_representante_path, :class => 'new' %>

<%= @will = will_paginate @representantes %>

<table class="decorated nwl">
    <tr>
      <th><%= sort_order "Nombre", "representantes.nombre" %></th>
      <th><%= sort_order "País", "paises.nombre" %></th>
      <th>Direccion</th>
      <th></th>
    </tr>

<% @representantes.each do |representante| %>
  <tr>
    <td><%= link_to representante.nombre, representante, :class => cliente_propio(representante) %></td>
    <td><%= representante.pais_datos %></td>
   <td><%= representante.direccion %></td>
   <td>
     <%= links(representante) %>
   </td>
  </tr>

<% end %>
</table>

<%= @will %>
