<h1>Listado de clientes</h1>

<%= link_to 'Nuevo cliente', new_representante_path, :class => 'new' %>


<%= form_tag "/representantes", :method => 'get' do %>
  <%= text_field_tag "search", params[:search] %>
  <%= hidden_field_tag "cliente", 'true' if params[:cliente] %>
  <input type="submit" value="Buscar" />
<% end %>

<%= @will = will_paginate @representantes %>
<table class="decorated nwl">
    <tr>
      <th>Nombre</th>
      <th>País</th>
      <th>Direccion</th>
      <th></th>
    </tr>

<% @representantes.each do |representante| %>
  <tr>
    <td><%= link_to representante.nombre, representante, :class => cliente_propio(representante) %></td>
    <td><%= representante.pais_datos %></td>
   <td><%= representante.direccion %></td>
   <td>
     <%= links(representante) %>
   </td>
  </tr>

<% end %>
</table>

<%= @will %>
