<style type="text/css">
  #marca{ width: 54%; float: left;}
  #posts{ width: 44%; float: left; background-color: #EFEFEF; }
</style>

<h1>Cliente</h1>

<div id="marca">
<p>
  <label>Nombre:</label>
  <%=h @representante.nombre %>
</p>

<p>
  <label>Pais:</label>
  <%=h @representante.pais %>
</p>

<p>
  <label>Email:</label>
  <%=h @representante.email %>
</p>
<p>
  <label>Direccion:</label>
  <%=h @representante.direccion %>
</p>

<p>
  <label>Telefono:</label>
  <%=h @representante.telefono %>
</p>
  
<p>
  <label>Fax:</label>
  <%=h @representante.fax %>
</p>

<p>
  <label>Pagina web:</label>
  <%=h @representante.pagina_web %>
  </p>
  <%= link_to 'Editar', edit_representante_path(@representante), :class =>'edit' %>
  <%= link_to 'Lista', representantes_path, :class =>'list' %>
</div>

<div style="clear:both"></div>

<%= link_to "Nuevo contacto", new_contacto_path, :class => 'new ajax' %>

<div style="clear:both"></div>

<div id="posts" data-max_posts="<%= Marca::POSTS_SIZE %>">
  <h2 class="title">Ultimos comentarios</h2>
  <%= render :partial => "posts/posts", :locals => { :post => @representante.ultimos_posts } %>
  <%= link_nuevo_post @representante %>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('body').live("iframe:click",function() {
    alert("cargo");
  });
})
</script>
