<style type="text/css">
  #cliente{ width: 54%; float: left;}
  #posts{ width: 100%; float: left; background-color: #EFEFEF; }
</style>
<p class="links">
  <%= link_to 'Editar', edit_representante_path(@representante), :class =>'edit' %>
  <%= link_to 'Lista', representantes_path, :class =>'list' %>
</p>

<div id="contenido">
  <div class="izquierda">
    <h1><% if @representante.cliente %>Ficha Cliente <%else %>Ficha representante<%end%></h1>
    <div class="subizq"> 
      <label>Nombre:</label>
    </div>
    <div class="subder">
     <label class="remarcado"><%=h @representante.nombre %></label>
    </div>
     
    <div class="subizq">
      <label for="">Cliente:</label>
    </div>
    <div class="subder">
     <label class="remarcado"><%= valido_img @representante.cliente %></label>
    </div>
    <div style="clear:both"></div>
     
    <div class="subizq"> 
      <label>Pais:</label>
    </div>
    <div class="subder">
     <label class="remarcado"><%=h @representante.pais_datos %></label>
    </div>
    <div style="clear:both"></div>
     
    <div class="subizq"> 
     <label>Email:</label>
    </div>
    <div class="subder">
     <label class="remarcado"><%=h @representante.email %></label>
    </div>
    <div style="clear:both"></div>
     
    <div class="subizq"> 
     <label>Direccion:</label>
    </div>
    <div class="subder">
     <label class="remarcado"><%=h @representante.direccion %></label>
    </div>
    <div style="clear:both"></div>
     
    <div class="subizq"> 
     <label>Telefono:</label>
    </div>
    <div class="subder">
     <label class="remarcado"><%=h @representante.telefono %></label>
    </div>
    <div style="clear:both"></div>
     
    <div class="subizq"> 
     <label>Fax:</label>
    </div>
    <div class="subder">
     <label class="remarcado"><%=h @representante.fax %></label>
    </div>
    <div style="clear:both"></div>
     
    <div class="subizq"> 
     <label>Pagina web:</label>
    </div>
    <div class="subder">
     <label class="remarcado"><%=h @representante.pagina_web %></label>
    </div>
    <div style="clear:both"></div>
     
    <div class="subizq"> 
     <label for="">Postal</label>
    </div>
    <div class="subder">
     <label class="remarcado"><%= @representante.postal %></label>
    </div>
    <div style="clear:both"></div>
     
    <div class="subizq"> 
     <label for="">Division</label>
    </div>
    <div class="subder">
     <label class="remarcado"><%= @representante.division %></label>
    </div>
  </div>

  <div class="derecha">
    <h1>Contactos</h1>
    <% @representante.contactos.each do |contacto| %>
      <%= render :partial => "contactos/contacto", :locals => { :contacto => contacto } %>
    <% end %>
  </div>
  <div class="izquierda">
    <%= link_to "Nuevo contacto", new_contacto_path(:representante_id => @representante.id), 'data-title' => 'Crear contacto', :class => 'new ajax' %>
  </div>
</div>

<div id="posts" class="posts" data-max_posts="<%= Representante::POSTS_SIZE %>">
<hr/>
  <div>
    <h2 class="title">Ultimos comentarios</h2>
    <%= render :partial => "posts/posts", :locals => { :posts => @representante.ultimos_posts } %>
    <%= link_post @representante, 'new' %>
  </div>
</div>
<div style="clear:both"></div>

<script type="text/javascript">
$(document).ready(function() {
    $('body').bind('ajax:complete', function(req, resp) {
      html = $(resp).find('.response').html() + '<div class="clear"></div>';
      div = $('<div/>').attr({
        'class': 'contacto'
      });
      $('#contactos').append(div.html(html));
      $.mark('#contactos>div.contacto:last');
    })
})
</script>
