<h1>Lista de paises</h1>

<%= link_to 'Nuevo pais', new_pais_path, :class => 'new'%>

<%= will_paginate @paises  %>

<table class ="decorated">
  <tr>
    <th>Nombre</th>
    <th>Codigo</th>
    <th></th>
  </tr>

<% @paises.each do |pais| %>
  <tr>
    <td><%=h pais.nombre %></td>
    <td><%=h pais.codigo %></td>
    <td><%= links(pais) %></td>
  </tr>
  </tr>
<% end %>
</table>

<%= will_paginate @paises  %>


