<h1>Solicitud de Marca</h1>

<div class="half fl">  
  <div class="input">
    <%= label_tag :nombre %>
    <%= @marca.nombre %><br /><br />
    
    <%= label_tag :estado_fecha, 'Fecha de solicitud' %>
    <%= @marca.estado_fecha %><br /><br />
        
    <%= label_tag :numero_solicitud, 'Número de solicitud' %>
    <%= @marca.numero_solicitud %><br /><br />

    <%= label_tag :clase, 'Clase' %>
    <%= @marca.clase %><br /><br />
    
  </div>
</div>
<div class="half fl">  
  <div class="input">
    <%= label_tag :tipo_marca, 'Tipo de marca' %>
    <%= @marca.tipo_signo %><br /><br />
   
    <%= label_tag :agente, 'Agente' %>
    <%= @marca.agentes %><br /><br />
   
    <%= label_tag :titular, 'Titular' %>
    <%= @marca.titulares %><br /><br />

  </div>
</div>

<div style="clear:both"></div>

