<%= semantic_form_for(@consulta) do |f| %>
  <%= hidden_field_tag :page, @page %>
  <%= hidden_field_tag :marca_id, params[:marca_id] %>
  <%= hidden_field_tag :importacion_id, params[:importacion_id] %>
  <%= hidden_field_tag :consulta_id, params[:consulta_id] %>

  <%= f.input :busqueda, :as => :hidden %>
  <%= f.input :parametros, :value => f.object.parametros.to_yaml, :as => :hidden %>
  <%= f.input :importacion_id, :as => :hidden %>
  <%= f.input :marca_id, :as => :hidden %>

  <%= f.input :comentario, :as => :text, :input_html => {:cols => 100} %>
  <p>
    <%= f.submit 'Salvar' %>
  </p>

  <h2>Marcas seleccionadas</h2>
  <table class="decorated">
  	<tr>
  		<th>Marca</th>
  		<th>Tipo de Signo</th>
  		<th>Clase</th>
      <th>Tipo de<br />busqueda</th>
      <th>Agentes</th>
      <th>Titulares</th>
    </tr>
    <%= f.semantic_fields_for :consulta_detalles do |cd| %>
      <tr>
        <td>
          <%= cd.hidden_field :marca_id %>
          <%= cd.object.marca %>
        </td>
      	<td><%= buscar_tipo_signo cd.object.marca.tipo_signo_id %></td>
        <td><%= buscar_clase cd.object.marca.clase_id %></td>
        <td>
          <%= cd.hidden_field :tipo_de_busqueda %>
          <%= tipo_busqueda cd.object.tipo_de_busqueda %>
        </td>
        <td>
          <%= cd.object.marca.agentes.join(", ") %>
        </td>
        <td>
          <%= cd.object.marca.titulares.join(", ") %>
        </td>
      </tr>
    <% end %>
  </table>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
