<% semantic_form_for(@consulta) do |f| %>
  <%= f.input :busqueda, :as => :hidden %>
  <%= f.input :parametros, :as => :hidden %>
  <%= f.input :importacion_id, :as => :hidden %>
  <%= f.input :marca_id, :as => :hidden %>

  <%= f.input :comentario, :as => :text %>


  <h2>Marcas seleccionadas</h2>
  <table class="decorated">
  	<tr>
  		<th>Marca</th>
  		<th>Tipo de Signo</th>
  		<th>Clase</th>
      <th>Tipo de<br />busqueda</th>
      <th>Comentario</th>
    </tr>
    <% f.semantic_fields_for :consulta_detalles do |cd| %>
      <tr>
        <td>
          <%= cd.hidden_field :marca_id %>
          <%= cd.object.marca %>
        </td>
      	<td><%= buscar_tipo_signo cd.object.marca.tipo_signo_id %></td>
        <td><%= buscar_clase cd.object.marca.clase_id %></td>
        <td>
          <%= cd.hidden_field :tipo %>
          <%= tipo_busqueda cd.object.tipo %>
        </td>
        <td><%= cd.input :comentario, :as => :text, :label => false, :input_html => { :rows => 3 } %></td>
      </tr>
    <% end %>
  </table>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
