<h1>Busquedas realizadas</h1>
<%= link_to "Nueva busqueda", busquedas_path, :class => 'new fl' %>
<br />
<br />
<br />
<table class="decorated">
  <tr>
    <th>Id</th>
    <th>Busqueda</th>
    <th>Gerencia</th>
    <th>Agente</th>
    <th>Fecha</th>
    <th>Seleccionados</th>
    <th>Usuario</th>
    <th>Tipo</th>
    <th></th>
    <th></th>
  </tr>
  <% @consultas.each do |consulta| %>
    <tr>
      <td><%= consulta.id %></td>
      <td>
        <% if consulta.nil? %>
          <%= h  link_to consulta.busqueda,'Busqueda avanzada'%></td>
        <% else %>  
          <%= h  link_to consulta.busqueda, consulta %></td>
        <% end %>
      <td><%= consulta.representante.gerencia if consulta.representante %></td>
      <td><%= consulta.representante %></td>
      <td><%= l consulta.created_at, :format => :short %></td>
      <td><%=h consulta.consulta_detalles.size %></td>
      <td><%=h consulta.usuario %></td>
      <td><%= consulta.parametros[:tipo_consulta] rescue "" %></td>
      
      <td><%= link_to 'Borrar', consulta, :class => 'delete' %></td>
      <td><%= link_to 'Reporte', new_reporte_marca_path(:consulta_id => consulta.id) %></td>
    </tr>
  <% end %>
</table>
<script type="text/javascript">
  $(function() {
    $('#nuevo_reporte').click(function() {
      if( $('input:checked').length > 0 ) {
        var self = this, arr = [];
        var href = $(this).attr('href');
        $('input:checked').each(function(i, el) {
          arr.push( 'consulta_ids[]=' + $(el).val() );
        });
        window.location = href + '?' + arr.join("&")
        return false;
      }else {
        alert("Debe seleccionar al menos una busqueda");
        return false;
      }
    });
  })
</script>
