<h1>Busquedas realizadas</h1>

<%= link_to "Nueva busqueda", busquedas_path %>

<table class="decorated">
  <tr>
    <th>Busqueda</th>
    <th>Usuario</th>
    <th>Resultados</th>
    <th>Reporte</th>
    <th></th>
  </tr>

<% @consultas.each do |consulta| %>
  <tr>
    <td><%=h  link_to consulta.busqueda, consulta %></td>
    <td><%=h consulta.usuario %></td>
    <td><%=h consulta.consulta_detalles.size %></td>
    <td><%=h consulta.reporte %></td>
    <td>
      <%= link_to 'Borrar', consulta, :class => 'delete' %>
    </td>
  </tr>
<% end %>
</table>

