<p>
  <b>Marca:</b>
  <%=h @consulta.marca_id %>
</p>

<p>
  <b>Usuario:</b>
  <%=h @consulta.usuario_id %>
</p>

<p>
  <b>Busqueda:</b>
  <%=h @consulta.busqueda %>
</p>

<p>
  <b>Parametros:</b>
  <%=h @consulta.parametros %>
</p>

<p>
  <b>Reporte:</b>
  <%=h @consulta.reporte %>
</p>


<%= link_to 'Edit', edit_consulta_path(@consulta) %> |
<%= link_to 'Back', consultas_path %>