<h1><%= titulo_consulta @consulta %></h1>

<% unless @consulta.marca.nil? %>
<p>
  <label>Marca:</label>
  <%=h @consulta.marca %>
</p>
<% end %>

<p>
  <label>Usuario:</label>
  <%=h @consulta.usuario %>
</p>
<p>
  <label for="">Comentario</label>
  <%=h @consulta.comentario %>
</p>


<p>
  <label>Busqueda:</label>
  <%=h @consulta.busqueda %>
</p>
<% if @consulta.importacion.nil? %>
  <% Consulta::PARAMS.each do |param| %>
    <p>
      <%= presentar_parametro @consulta, param unless @consulta.parametros[param].nil? %>
    </p>
  <% end %>
<% end %>

  <table class="decorated">
  	<tr>
  		<th>Marca</th>
  		<th>Tipo de Signo</th>
  		<th>Clase</th>
      <th>Tipo de<br />busqueda</th>
      <th>Agentes</th>
      <th>Titulares</th>
    </tr>
    <% @consulta.consulta_detalles.each do |cd| %>
      <tr>
        <td>
          <%= cd.try(:marca) %>
        </td>
      	<td><%= cd.marca.try(:tipo_signo) %></td>
        <td><%= cd.marca.try(:clase) %></td>
        <td>
          <%= tipo_busqueda cd.tipo %>
        </td>
        <td>
          <%= cd.marca.agentes.join(", ") %>
        </td>
        <td>
          <%= cd.marca.titulares.join(", ") %>
        </td>
      </tr>
    <% end %>
  </table>

  <% unless @consulta.importacion.nil? %>
    <%= link_to "Volver a importación", cruce_importacion_path( @consulta.importacion, :page => @page ) %>
  <% else %>
    <%= link_to "Lista", consultas_path %>
  <% end %>
