<% unless @consulta.importacion_id.nil? %>
  <div class="breadcrumps">
    <%= link_to "Lista de importaciones", importaciones_path %> >
    <%= link_to "Cruce", cruce_importaciones_path(:importacion_id =>  @consulta.importacion, :page => @page ) %> >
    <%= @consulta.marca %>
  </div>
<% end %>
<h1><%= titulo_consulta @consulta %></h1>

<% if @consulta.importacion.nil? %>
  <p class="links">
    <%= link_to "Lista", consultas_path, :class => 'list' %>
  </p>
<% end %>

<% unless @consulta.marca.nil? %>
  <% if @consulta.descartada?  -%>
    <h3 class="red">Consulta descartada</h3>
  <% end -%>

  <p>
    <label>Marca:</label>
    <%=h @consulta.marca %>
  </p>
<% end %>

<p>
  <label>Usuario:</label>
  <%=h @consulta.usuario %>
</p>
<p>
  <label for="">Comentario</label>
  <%=h @consulta.comentario %>
</p>


<p>
  <label>Busqueda:</label>
  <%=h @consulta.busqueda %>
</p>
<% if @consulta.importacion.nil? %>
  <% Consulta::PARAMS.each do |param| %>
    <p>
      <%= presentar_parametro @consulta, param unless @consulta.parametros[param].nil? %>
    </p>
  <% end %>
<% end %>

<h2 class="dark">Marcas que coinciden</h2>
<table class="decorated">
  <tr>
    <th>Marca</th>
    <th>Tipo de Signo</th>
    <th>Clase</th>
    <th>Tipo de<br />busqueda</th>
    <th>Agentes</th>
    <th>Titulares</th>
  </tr>
  <% @consulta.consulta_detalles.each do |cd| %>
    <tr>
      <td>
        <span class="propia"><%= cd.try(:marca) %></span>
      </td>
      <td><%= cd.marca.try(:tipo_signo) %></td>
      <td><%= cd.marca.try(:clase) %></td>
      <td>
        <%= tipo_busqueda cd.tipo_de_busqueda %>
      </td>
      <td>
        <%= cd.marca.agentes.join(", ") %>
      </td>
      <td>
        <%= cd.marca.titulares.join(", ") %>
      </td>
    </tr>
  <% end %>
</table>
<% if !@consulta.marca_id %>
<p>
  <%= link_to 'Reporte', new_reporte_marca_path(:consulta_id => @consulta.id) %>
</p>
<% end  %>
