<p>
  <b>Marca:</b>
  <%=h @consulta.marca %>
</p>

<p>
  <b>Usuario:</b>
  <%=h @consulta.usuario %>
</p>

<p>
  <b>Busqueda:</b>
  <%=h @consulta.busqueda %>
</p>
<% if @consulta.importacion.nil? %>
  <% Consulta::PARAMS.each do |param| %>
    <p>
      <%= presentar_parametro @consulta, param %>
    </p>
  <% end %>
<% end %>

  <table class="decorated">
  	<tr>
  		<th>Marca</th>
  		<th>Tipo de Signo</th>
  		<th>Clase</th>
      <th>Tipo de<br />busqueda</th>
      <th>Comentario</th>
    </tr>
    <% @consulta.consulta_detalles.each do |cd| %>
      <tr>
        <td>
          <%= cd.try(:marca) %>
        </td>
      	<td><%= cd.marca.try(:tipo_signo) %></td>
        <td><%= cd.marca.try(:clase) %></td>
        <td>
          <%= tipo_busqueda cd.tipo %>
        </td>
        <td><%= cd.comentario %></td>
      </tr>
    <% end %>
  </table>

  <% unless @consulta.importacion.nil? %>
    <%= link_to "Volver a importación", cruce_importacion_path( @consulta.importacion, :page => @page ) %>
  <% else %>
    <%= link_to "Lista", consultas_path %>
  <% end %>
