- simple_form_for @instruccion_detalle, :url=>url do |f|
  = f.error_messages
  = f.input :asignado_por, :as => :hidden
  %p
    = f.input :tarea, :as => :text
  %p
    = f.input :fecha_limite, :as => :date
  %p
    = f.association :usuario
  %p
    = f.button :submit, "Crear nueva Tarea"

