= simple_form_for @instruccion_detalle,:url => url do |f|
  = f.error_messages
  %p
    = f.input :tarea, :as => :text
  %p
    = f.input :fecha_limite, :as => :date
  %p
    = f.input :prioridad, :collection =>['A', 'B', 'C'], :as=> :radio, :hint=>'Escoga la prioridad de la tarea'
  %p
    = f.association :tipo_instruccion, :hint=>'Elija de la lista'
  %p
    = f.association :usuario
  %p
    = f.button :submit, "Guardar"

