%table.decorated
  %tr
    %th Nro Instruccion
    %th Referencia Email
    %th Asignado a
    %th Tarea
    %th Fecha Limite
    %th Prioridad
  
  - for instruccion_detall in instruccion_detalles
    %tr
      %td= link_to(instruccion_detall, proyecto_proyecto_instruccion_instruccion_detall_path(@proyecto, instruccion_detall.instruccion,instruccion_detall))
      %td= link_to instruccion_detall.instruccion.referencia_email, proyecto_proyecto_correspondencia_path(@proyecto, instruccion_detall.instruccion.referencia_email)
      %td= instruccion_detall.usuario
      %td= instruccion_detall.tarea
      %td= l(instruccion_detall.fecha_limite, :format => "%d, %B %Y") if instruccion_detall.fecha_limite
      %td= instruccion_detall.prioridad      
      %td
        - if instruccion_detall.estado_tarea == 'pendiente'
          = link_to "Entregar", entrega_proyecto_proyecto_instruccion_instruccion_detall_path(@proyecto, instruccion_detall.instruccion, instruccion_detall), :class => 'terminada'
        - if instruccion_detall.estado_tarea == "aprobado"
          = link_to "Calificada", ver_calificacion_proyecto_proyecto_instruccion_instruccion_detall_path(@proyecto, instruccion_detall.instruccion, instruccion_detall), :class => "aprobado"
        - if instruccion_detall.estado_tarea == "reprobado"
          = link_to "Calificada", ver_calificacion_proyecto_proyecto_instruccion_instruccion_detall_path(@proyecto, instruccion_detall.instruccion, instruccion_detall), :class => "reprobado"
        - if instruccion_detall.estado_tarea == 'revision'
          = link_to "Revision", ver_entrega_proyecto_proyecto_instruccion_instruccion_detall_path(@proyecto, instruccion_detall.instruccion, instruccion_detall), :class => 'revision'
      %td= link_to 'Editar', edit_proyecto_proyecto_instruccion_instruccion_detall_path(@proyecto, instruccion_detall.instruccion,instruccion_detall), :class => "edit"
      %td= link_to 'Eliminar', proyecto_proyecto_instruccion_instruccion_detall_path(@proyecto, instruccion_detall.instruccion,instruccion_detall), :confirm => 'Are you sure?', :method => :delete, :class => 'delete'

%p= link_to "Añadir Instruccion", new_proyecto_proyecto_instruccion_path(@proyecto), :class => 'new', :style => "float: right;"
%br.clear

.pagination= will_paginate(instruccion_detalles)
