%h2 Datos de la tarea
#contenido
  .izquierda
    .subizq
      %strong Instruccion:
    .subder
      = @instruccion_detalle.instruccion_id
    .clear
    .subizq
      %strong Usuario:
    .subder
      = @instruccion_detalle.usuario_id
    .clear
    .subizq
      %strong Tarea:
    .subder
      = @instruccion_detalle.tarea
    .clear
    .subizq
      %strong Fecha Limite:
    .subder
      = @instruccion_detalle.fecha_limite
    .clear
    .subizq
      %strong Estado:
    .subder
      = @instruccion_detalle.estado_tarea
  .derecha
    -if current_usuario.user_asignado(@instruccion_detalle.usuario_id)
      = link_to "Entregar", entrega_proyecto_proyecto_instruccion_instruccion_detall_path(@proyecto, @instruccion, @instruccion_detalle), :class => 'terminada'
