
%p
  %strong Instruccion:
  = @instruccion_detalle.instruccion_id
%p
  %strong Usuario:
  = @instruccion_detalle.usuario_id
%p
  %strong Tarea:
  = @instruccion_detalle.tarea
%p
  %strong Fecha Limite:
  = @instruccion_detalle.fecha_limite
%p
  %strong Estado:
  = @instruccion_detalle.estado

%p
  = link_to "Edit", edit_proyecto_instruccion_detall_path(@instruccion_detalle)
  |
  = link_to "Destroy", @instruccion_detalle, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", proyecto_instruccion_detalles_path
