<h1>Cruce (Faltan <%= @importacion.cruces_pendientes %> cruces)</h1>

<%= link_to "Listado", cruce_importacion_path(@importacion) %>
<% form_tag cruce_importacion_path(@importacion), :method => :get  do %>
  <%= text_field_tag :nombre_marca %>
  <%= submit_tag "Buscar" %>
<% end %>

<%= @will = will_paginate @marcas %>


<table class="decorated">
	<tr>
    <%= '<th>Fila</th>' if @mostra_fila %>
		<th>Marca</th>
		<th>Tipo Signo</th>
		<th>Clase</th>
    <th>Válido</th>
    <th>Usuario</th>
    <th>Cruzar</th>
    <th></th>
    <% @marcas.each do |marca| %>
      <% @css = marca.propia ? 'propia': '' %>
      <% unless marca.valido %>
          <% @css << ' error' %>
         <tr class="<%= @css %>" alt="<%= marca.presentar_errores %>">
      <% else %>
        <tr class="<%= @css %>" >
      <% end %>
        <%= "<td>#{marca.fila}</td>" if @mostra_fila %>
        <td><%= marca.nombre %></td>
        <td><%= marca.tipo_signo %></td>
        <td><%= marca.clase %></td>
        <td><%= verdad marca.valido %></td>
        <% @consult = marca.cruce(@importacion.id) %>
        <td><%= @consult.try(:usuario) %></td>
        <td class="<%= @consult.try(:type) %>">
          <%= realizar_cruce(marca, @importacion, @consult.try(:id)) %>
          <%= ver_cruce (@consult) unless @consult.nil? %>
        </td>

        <td>
        </td>
      </tr>
    <% end %>

	</tr>
</table>

<%= @will %>

<script type="text/javascript">
  $(document).ready(function() {
    /*
    $('td.Consulta a.nueva').click(function() {
      var tr = $(this).parents('tr:first').addClass('selected');
      if(confirm("Esta seguro de borrar la consulta seleccionada y realizar una nueva")) {
        return true;
      }else{
        tr.removeClass('selected');
        return false;
      }
      });
    */
  });
</script>
