<h1>Cruce (Faltan <%= @importacion.cruces_pendientes %> cruces)</h1>

<table class="decorated">
	<tr>
    <%= '<th>Fila</th>' if @mostra_fila %>
		<th>Marca</th>
		<th>Tipo Signo</th>
		<th>Clase</th>
    <th>Válido</th>
    <th>Usuario</th>
    <th>Cruzar</th>
    <th></th>
    <% @marcas.each do |marca| %>
      <% unless marca.valido %>
          <% @css = 'error' %>
         <tr class="<%= @css %>" alt="<%= marca.presentar_errores %>">
      <% else %>
        <tr class="">
      <% end %>
        <%= "<td>#{marca.fila}</td>" if @mostra_fila %>
        <td><%= marca.nombre %></td>
        <td><%= marca.tipo_signo %></td>
        <td><%= marca.clase %></td>
        <td><%= verdad marca.valido %></td>
        <% @con = marca.cruce(@importacion.id) %>
        <td><%= @con.try(:usuario) %></td>
        <td class="<%= @con.try(:type) %>">
          <%= realizar_cruce(marca, @importacion, @con.try(:id)) %>
          <%= link_to "ver cruce", consulta_path( @con, :page => @page ) unless @con.nil? %>
        </td>

        <td>
        </td>
      </tr>
    <% end %>

	</tr>
</table>

<%= will_paginate @marcas %>

<script type="text/javascript">
  $(document).ready(function() {
    $('td.Consulta a.nueva').click(function() {
      var tr = $(this).parents('tr:first').addClass('selected');
      if(confirm("Esta seguro de borrar la consulta seleccionada y realizar una nueva")) {
        return true;
      }else{
        tr.removeClass('selected');
        return false;
      }
    });
  });
</script>
