<div class="breadcrumps">
  <%= link_to "Lista de importaciones", importaciones_path %> > Cruce
</div>

<h1>Cruce (Faltan <%= @importacion.cruces_pendientes %> cruces)<%= gaceta @importacion %></h1>
<br />


<p>
  <%= form_tag cruce_importaciones_path(:importacion_id => @importacion.id), :method => :get  do %>
    <%= hidden_field_tag :importacion_id, params[:importacion_id] %>
    <%= text_field_tag :nombre_marca %>
    <%= submit_tag "Buscar" %>
  <% end %>
  <%= link_to "Borra busqueda", cruce_importaciones_path(:importacion_id => @importacion.id), :class => 'fl' %>
</p>

<br/>
<br/>

<p>
  <span class="icon true"></span>Cruce realizado<br />
  <span class="icon false"></span>Cruce descartado
</p>
<div class="clear"></div>

<%= @will = will_paginate @marcas %>

<table class="decorated nwl nwf">
	<tr>
    <%= '<th>Fila</th>' if @mostra_fila %>
		<th>Marca</th>
		<th>Tipo Signo</th>
		<th>Clase</th>
    <th>Titulares</th>
    <th>Usuario</th>
    <th>Cruzar</th>
    <% @marcas.each do |marca| %>
      <tr>
        <td <%= errores_marca(marca) %>>
          <span class="<%= marca.propia! %>"><%= marca.nombre %></span>
        </td>
        <td><%= marca.tipo_signo %></td>
        <td><%= marca.clase_id %></td>
        <% @consult = marca.cruce(@importacion.id) %>
        <td><%= marca.try(:titulares).map(&:nombre).join(",") %></td>
        <td><%= @consult.try(:usuario) %></td>
        <td class="<%= @consult.class.to_s %>">
          <%= realizar_cruce(marca, @importacion, @consult.try(:id)) %>
        </td>
      </tr>
    <% end %>

	</tr>
</table>

<%= @will %>

