<style>
  .list-clases input{
    -moz-box-shadow: none;
    border: 1px solid #BFBFBF;
    font-size: 8px;
    width: 130px;
  }
  .list-clases input:disabled {
    background-color: white;
  }
</style>
<div class="breadcrumps">
  <%= link_to "Lista de importaciones", importaciones_path %> > Cruce
</div>
<h1>Cruce (Faltan <%= @importacion.cruces_pendientes %> cruces)<%= gaceta @importacion %></h1>
<br />
<p>
  <%= form_tag cruce_importaciones_path(:importacion_id => @importacion.id), :method => :get  do %>
    <%= hidden_field_tag :importacion_id, params[:importacion_id] %>
    <%= text_field_tag :nombre_marca %>
    <%= submit_tag "Buscar" %>
  <% end %>
  <%= link_to "Borra busqueda", cruce_importaciones_path(:importacion_id => @importacion.id), :class => 'fl' %>
</p>
<br/>
<br/>
<p>
  <span class="icon true"></span>Cruce realizado<br />
  <span class="icon false"></span>Cruce descartado
</p>
<div class="clear"></div>
<%= @will = will_paginate @marcas %>
<table class="decorated nwl nwf">
	<tr>
    <%= '<th>Fila</th>' if @mostra_fila %>
		<th>Marca</th>
		<th>Tipo</th>
		<th>Cl</th>
    <th>Titulares</th>
    <th>Usuario</th>
    <th>Clases</th>
    <th>Accciones</th>
    <% @marcas.each do |marca| %>
      <tr>
        <td <%= errores_marca(marca) %>>
          <%= link_to marca.nombre, marca_path(marca), :class => "ajax #{marca.propia!} #{marca.valido!}" %>
        </td>
        <td><%= marca.tipo_signo.sigla if marca.tipo_signo %></td>
        <td><%= marca.clase_id %></td>
        <% @consult = marca.cruce(@importacion.id) %>
        <td><%= marca.try(:titulares).map(&:nombre).join(",") %></td>
        <td><%= @consult.try(:usuario) %></td>
        <td class="list-clases">
          <%= link_to("Elegir", "#", :class => "select-class", :'data-id' => marca.id) %>
          <%= text_field_tag("class-#{marca.id}", nil, :disabled => true) %>
        </td>
        <td class="<%= @consult.class.to_s %> link-cruce">
          <%= realizar_cruce(marca, @importacion, @consult.try(:id)) %>
        </td>
      </tr>
    <% end %>
	</tr>
</table>

<%= @will %>

<div id="selector-clases" style="display:none;">
  <%= render :partial => "/busquedas/generic_select" %>
</div>

<script type="text/javascript">
  $(document).ready(function (){
    $('table.decorated').fixedtableheader();
    $(".select-class").click(function(){
      $("#selector-clases").attr("data-clase", $(this).attr("data-id"));
      select_clases($("#class-" + $("#selector-clases").attr("data-clase")).val());
      $("#selector-clases").dialog({ height: 420, width:700, buttons: { "Cerrar": function() { $(this).dialog("close"); set_state_changes_on_class();} } });
      return false;
    });
    $("#botones a").live('click', function() {
      var clases = $(this).attr("data-clases").split(",");
      var val = !$(this).hasClass("sel");

      $(clases).each(function(i, el) {
        $('#clases_' + el).attr("checked", val);
      });
      marcarBotones();
    });
    $("#clases_grupos input:checkbox").live('click', function() {
      marcarBotones();
    });
    $("#clases_grupos input:checkbox").live('change', set_state_changes_on_class);
    $(".link-cruce a").click(function(){
      window.location = $(this).attr("href") + "&clases_ids=" + $("#class-" + $(this).attr("data-id")).val();
      return false;
    });
  });

  function set_state_changes_on_class() {
    var union = [];
    $("#clases_grupos input:checkbox:checked").each(function(){union.push($(this).val())});
    $("#class-" + $("#selector-clases").attr("data-clase")).val(union.join(","));
  }
  function select_clases(clases){
    $("#clases_grupos input:checked").click();
    $.map(clases.split(","), function(i){ $("#clases_"+i).click(); })
  }

</script>