<h1>Cruce (Faltan <%= @importacion.cruces_pendientes %> cruces)<%= gaceta @importacion %></h1>

<%= link_to "Listado", cruce_importacion_path(@importacion) %>
<% form_tag cruce_importacion_path(@importacion), :method => :get  do %>
  <%= text_field_tag :nombre_marca %>
  <%= submit_tag "Buscar" %>
<% end %>

<%= @will = will_paginate @marcas %>

<table class="decorated">
	<tr>
    <%= '<th>Fila</th>' if @mostra_fila %>
		<th>Marca</th>
		<th>Tipo Signo</th>
		<th>Clase</th>
    <th>Titulares</th>
    <th>Usuario</th>
    <th>Cruzar</th>
    <% @marcas.each do |marca| %>
      <%= tr_marca marca %>
        <td><%= marca.nombre %></td>
        <td><%= marca.tipo_signo %></td>
        <td><%= marca.clase_id %></td>
        <% @consult = marca.cruce(@importacion.id) %>
        <td><%= marca.try(:titulares).map(&:nombre).join(",") %></td>
        <td><%= @consult.try(:usuario) %></td>
        <td class="<%= @consult.try(:type) %>">
          <%= realizar_cruce(marca, @importacion, @consult.try(:id)) %>
          <%= ver_cruce (@consult) unless @consult.nil? %>
        </td>
      </tr>
    <% end %>

	</tr>
</table>

<%= @will %>

