<h1>Importaciones realizadas</h1>

<ul class="menu">
  <li>
    <a href="javascript:" class="new">Importar&nbsp;<span class="more"></span></a>
    <ul>
      <% Marca.lista_estados.each do |nombre, tipo| %>
        <li><%= link_to nombre, new_importacion_path(:tipo => tipo) %></li>
      <% end %>
    </ul>
  </li>
</ul>
<br />
<br />
<br />
<%= will_paginate @importaciones %>

<table class="decorated">
  <tr>
    <th>Fecha</th>
    <th>Tipo</th>
    <th>Total</th>
    <th>Errores</th>
    <th>Cruce</th>
    <th>Descargas</th>
  </tr>
  <%- @importaciones.each do |imp| -%>
    <tr>
      <td><%= link_to fecha_hora(imp.created_at, 'long'), imp %></td>
      <td><strong><%= ver_estado imp.tipo %></strong></td>
      <td><%= imp.marcas.size %></td>
      <td class="error"><%= imp.marcas.where(:valido => false).size %></td>
      <td><%= link_to "Cruce", cruce_importaciones_path(:importacion_id => imp.id) %></td>
      <td><%= link_to "descargar", descarga_importacion_path(imp.id), :class => 'dowload' %></td>
    </tr>
  <%- end -%>
</table>

