<h1>Importaciones realizadas</h1>

<ul class="menu">
  <li>
  <a href="javascript:" class="new">Importar&nbsp;<span class="more"></span></a>
    <ul>
    <% Marca.lista_estados.each do |nombre, tipo| %>
      <li><%= link_to nombre, new_importacion_path(:tipo => tipo) %></li>
    <% end %>
    </ul>
  </li>
</ul>
<br />
<br />
<br />
<table class="decorated">
	<tr>
		<th>Fecha</th>
		<th>Tipo</th>
    <th>Total</th>
    <th>Errores</th>
    <th>Cruce</th>
    <th title="Reportes para agentes y títulares">Reportes</th>
    <th>Descargas</th>
	</tr>
  <%- @marcas.each do |marca| -%>
    <tr>
    	<td><%= link_to fecha_hora(marca.importacion.created_at, 'long'), marca.importacion %></td>
      <td><strong><%= marca.ver_estado %></strong></td>
      <td><%= marca.total %></td>
      <td><%= marca.errores_listado %></td>
      <td><%= cruce marca %></td>
      <td><%= link_to "descargar", descarga_importacion_path(marca.importacion_id), :class => 'dowload' %></td>
    </tr>
  <%- end -%>
</table>

<%= will_paginate @marcas %>
