<h1>Importar Nueva <%= Marca::TIPOS[ params[:tipo] ] %></h1>


<% semantic_form_for( @marca, :url => importaciones_path, :html => { :multipart => true } ) do |f| %>
  <%= hidden_field_tag('tipo', params[:tipo]) %>

  <div> 
    <div class="hide-field">
      <%= f.input :tipo, :label => '&nbsp;' %>
    </div>

    <% if params[:tipo] == 'lp' %>
      <%= f.input :gaceta %>
      <li>
        <%= f.label :formato_fecha, "Formato de la fecha en el PDF" %>
        <%= f.select :formato_fecha, ImportacionVacia::FORMATOS_FECHA %>
        <p class="inline-hints">
        El sistema reconocera automaticamente el separador "/" o "-"
        </p>
      </li>
      <li class="date">
        <%= f.label :gaceta_fecha, "Fecha gaceta" %>
        <%= f.date_select :gaceta_fecha %>
      </li>
    <% end %>
    <%= f.input :archivo, :as => :file, :label => "Archivo", :input_html => { :size => 60 } %>

  </div>

  <div style="clear:both"></div>

  <%= f.submit "Importar" %>
<% end %>
