<h1>Importacion</h1>
<div class="clear"></div>
<h2 class="dark"><%= gaceta @importacion %> <%= fecha_hora @importacion.created_at %>: Fecha limite <%= fecha_hora @importacion.fecha_limite %> </h2>


<% form_tag importacion_path(@importacion), :method => :get  do %>
  <%= text_field_tag :nombre_marca %>
  <%= submit_tag "Buscar" %>
<% end %>
<%= link_to "Borrar busqueda", importacion_path(@importacion) %>
<br />
<br />


<table class="decorated nwf nwl">
  <tr>
    <th>Marca</th>
    <th>Numero<br />Solicitud</th>
    <th>Tipo Signo</th>
    <th>Clase</th>
    <th>Titulares</th>
    <th></th>
    <% @marcas.each do |marca| %>
      <% tr_error marca %>
    <tr>
      <td <%= errores_marca(marca) %>><%= link_to marca.nombre, ver_marca_path(marca), :class => "ajax #{marca.propia!} #{marca.valido!}" %></td>
      <td><%= marca.numero_solicitud %></td>
      <td><%= marca.tipo_signo %></td>
      <td><%= marca.clase_id %></td>
      <td><%= marca.try(:titulares).map(&:nombre).join(",") %></td>

      <td>
        <%= link_to "editar", edit_marca_path(marca, :importacion_id => @importacion.id), :class => 'edit' %>
        <%= link_to "borrar", marca, :class => 'delete' %>
      </td>
    </tr>
  <% end %>

</tr>
</table>

<%= will_paginate @marcas %>
