= form_for @proyecto do |f|
	= f.label :representante_id
	= f.select(:area_id, Proyecto::Area.all.collect{|s|[s.nombre, s.id]})
	= f.label :titulo
	= f.text_field :titulo
	= f.label :referencia_cliente
	= f.text_field :referencia_cliente
	= f.label :prioridad
	= f.radio_button(:prioridad, "A") + "A"  
	= f.radio_button(:prioridad, "B") + "B"
	= f.radio_button(:prioridad, "C") + "C"
	%br
	%br
	%br
	= f.fields_for :proyecto_item do |g|
		= g.label :descripcion
		= g.text_field :descripcion
		= g.label :estado
		= g.text_field :estado
		= g.label :referencia_cliente
		= g.text_field :referencia_cliente
		= g.label :referencia_cliente_cobranza
		= g.text_field :referencia_cliente_cobranza
		= g.label :fecha_limite
		= g.text_field :fecha_limite
		%br
		%br
		%br
		= f.fields_for :correspondencia do |h|
			= h.label :Enviado?
			= h.radio_button(:tipo, "true") + "Si"
			= h.radio_button(:tipo, "false") + "No"
			= h.label :contenido
			= h.text_area  :contenido
		%br
		%br
		%br
	= f.submit



