= simple_form_for (@proyecto , :html => {:multipart => true}) do |f|
  = f.error_messages
  %p
    = f.association :representante, :prompt=>'Seleccione a un Representante', :hint=>'Asigne a un representante', :required => true
    = f.association :area, :prompt => 'Seleccione un Area', :hint=>'A que área corresponde', :required => true
    = f.input :titulo, :hint=> "Escriba una breve descripción de este proyecto", :required => true
  %p
    = f.input :referencia_cliente, :hint => "Introduza una referencia de cliente, por ejemplo : AC-5454-BOL", :required => true
  %p
    = f.input :prioridad, :collection =>['A', 'B', 'C'], :as=> :radio, :hint=> 'Asigne una prioridad para este proyecto, de tipo A = Mayor Prioridad, B = Mediana Prioridad, C = Menor Prioridad ', :required => true
  %p
  = f.simple_fields_for :proyecto_items do |g|
    #tabs{:style=>'font-size:11px;'}
      %ul
        %li
          %a{:href=>'#tabs-1'}
            Servicios
        %li
          %a{:href=>'#tabs-2'}
            Solicitud de Fondos

      #tabs-1
        %p
          = g.input :referencia_cliente
          = g.input :referencia_cliente_cobranza
          = g.input :estado
          = g.input :descripcion
          = g.input :honorarios
          = g.input :gastos_adminitrativos
          = g.input :fecha_solicitud, :as=> :date
          = g.input :hola
      #tabs-2
        %p
          Información relacionada con Solicitud de Fondos

  %div.adjuntos
  = f.simple_fields_for :adjuntos do |adj|
    = adj.input :archivo, :as => :file, :input_html => { :size => 60 }
  %a#a_adjuntar_archivo{:href => 'javascript:', :class=>'new'}
    Adjuntar archivo

  = f.simple_fields_for :correspondencias do |c|
    = c.input :tipo, :as=> :radio
    = c.input :contenido, :as => :text

  = f.button :submit, 'Guardar Proyecto'

:javascript
  $(function() {
   $( "#tabs" ).tabs();
  });
  
  $(document).ready(function() {
  $('#a_adjuntar_archivo').click(function() {
    input = $('<input/>').attr({
      'name': 'post[adjuntos_attributes][' + ( new Date() ).getTime().toString() + '][archivo]',
      'type': 'file',
      'size': 60
    });
    del = '<a href="javascript:" class="adjunto_delete">borrar</a>';
    li = $('<li/>').append('<label>Adjunto</label>').append(input).append(del)
    $('#adjuntos').append( li );
    $.mark(li, 7);
  });

  $('.adjunto_delete').live('click', function(e) {
    $(this).parents('li:first').remove();
  });
  });



