= stylesheet_link_tag 'facebook'
= javascript_include_tag 'jquery.fcbkcomplete.min'

= simple_form_for @proyecto, :html => {:multipart => true} do |f|
  = f.error_messages
  %table{:border=>0}
    %tr
    %td
      %div{:class => "ui-tabs ui-widget ui-widget-content ui-corner-all", :style=>'font-size:11px; width:570px; height:470px;'}
        %h2{:style=>'text-align:center;'} 
          Datos del Proyecto
        = f.association :representante, :prompt=>'Seleccione a un Representante', :hint=>'Asigne a un representante', :collection => []
        = f.association :area, :prompt => 'Seleccione un Area', :hint=>'A que área corresponde'
        = f.association :contactos, :collection => [], :input_html=> {:multiple => true}
        = f.input :titulo, :hint=> "Escriba una breve descripción de este proyecto"
        = f.input :referencia_cliente, :hint => "Introduza una referencia de cliente, por ejemplo : AC-5454-BOL"
        = f.input :prioridad, :collection =>['A', 'B', 'C'], :as=> :radio, :hint=> 'Asigne una prioridad para este proyecto, de tipo A = Mayor Prioridad, B = Mediana Prioridad, C = Menor Prioridad '
    %td
      %div{:class => "ui-tabs ui-widget ui-widget-content ui-corner-all",:style=>'font-size:11px;width:339px; height:470px;'}
        %h2{:style=>'text-align:center;'} 
          Nuevo Email
        = f.simple_fields_for :correspondencias, Proyecto::Correspondencia.new  do |h|
          = render 'correspondencia_fields', :f => h
        .links
          = link_to_add_association 'Añadir correspondencia', f, :correspondencias
  %br
  = f.simple_fields_for :proyecto_items, Proyecto::ProyectoItem.new do |g|
    #tabs{:style=>'font-size:11px;'}
      %h2{:style=>'text-align:center;'}
        Servicios & Solicitud de Fondos
      %ul
        %li
          %a{:href=>'#tabs-1'}
            Servicios
        %li
          %a{:href=>'#tabs-2'}
            Solicitud de Fondos

      #tabs-1
        %table{:border=>0}
          %tr
          %td
            = g.input :referencia_cliente, :input_html=>{:size=>10}, :label => false
          %td
            = g.input :referencia_cliente_cobranza, :input_html=>{:size=>10}, :label => "codigo", :label => false
          %td
            = g.input :estado, :input_html=>{:size=>20},:label => "Tipo", :label => false
          %td
            = g.input :descripcion, :input_html=>{:size=>20}, :label => "Descripción", :label => false
          %td
            = g.input :honorarios, :input_html=>{:size=>5}, :label => "Honorarios", :label => false
          %td
            = g.input :gastos_adminitrativos, :input_html=>{:size=>5}, :label => "Gastos", :label => false
          %td
            = g.input :fecha_solicitud,:label => "Fecha", :input_html=>{:size=>4}, :as => :date, :label => false
          %td
      #tabs-2
        %p
          Información relacionada con Solicitud de Fondos
  %br

  %div{:class => "ui-tabs ui-widget ui-widget-content ui-corner-all",:style=>'font-size:11px;text-align:center;'}
    %h2{:style=>'text-align:center;'}
      Archivos Adjuntos
      %div#adjuntos
        %a#a_adjuntar_archivo{:href => "javascript:", :class => "new"}
          Adjuntar archivo

  %br
  
  %div{:class => "ui-tabs ui-widget ui-widget-content ui-corner-all",:style=>'font-size:11px;'}
    %h2{:style=>'text-align:center;'}
      Instrucciones
    = f.simple_fields_for :instruccions, Proyecto::Instruccion.new do |i|
      = render :partial => 'instruccion_fields', :locals => {:f => i, :g => f}
    .links
      #- link_to_add_association 'Añadir instruccion', f, :instruccion
       
  %br
  = f.button :submit, 'Guardar Proyecto'

:javascript
  $(document).ready(function() {
    $('#a_adjuntar_archivo').click(function() {
      input = $('<input/>').attr({
        'name': 'proyecto_proyecto[adjuntos_attributes][' + ( new Date() ).getTime().toString() + '][archivo]',
        'type': 'file',
        'size': 60
      });
      del = '<a href="javascript:" class="adjunto_delete">borrar</a>';
      li = $('<li/>').append('<label>Adjunto</label>').append(input).append(del)
      $('#adjuntos').append( li );
      $.mark(li, 7);
    });

    $('.adjunto_delete').live('click', function(e) {
      $(this).parents('li:first').remove();
    });
  });

  $(function() {
    $("#tabs").tabs();
    $("#proyecto_proyecto_representante_id").fcbkcomplete({
      json_url: "/representantes/buscar",
      filter_hide: true,
      filter_selected: true,
      newel: false,
      maxitems: 1
    });

    $("#proyecto_proyecto_representante_id").change(function(){
      $("#proyecto_proyecto_contacto_ids").load("/contactos/buscar?id=" + $("#proyecto_proyecto_representante_id option:selected.selected").val());
    });
  });

  $("form").submit(function(){
    $("#proyecto_proyecto_representante_id").attr("name", "proyecto_proyecto[representante_id]")
  });

  tinyMCE.init({
   mode : "textareas",
   theme: "simple"
  });
