= simple_form_for @proyecto do |f|
  = f.error_messages
  %p
    = f.association :representante
  %p
    = f.input :area_id
  %p
    = f.input :titulo
  %p
    = f.input :referencia_cliente
  %p
    = f.input :prioridad
  %p
    = f.button :submit, 'Guardar Proyecto'
