= stylesheet_link_tag 'facebook'
= javascript_include_tag 'jquery.fcbkcomplete.min'

= simple_form_for @proyecto, :html => {:multipart => true} do |f|
  = f.error_messages
  #tabs{:style=>'font-size:11px;'}
    %ul
      %li
        %a{:href=>'#tabs-1'}
          Proyecto
      %li
        %a{:href=>'#tabs-2'}
          Correspondencia e Instrucciones
      %li
        %a{:href=>'#tabs-3'}
          Servicios
      %li
        %a{:href=>'#tabs-4'}
          Archivos adjuntos

    #tabs-1

      %h2
        Datos del Proyecto
      = f.association :representante, :label => 'Agente', :prompt=>'Seleccione a un Representante', :hint=>'Asigne a un representante', :collection => []
      = link_to 'Nuevo cliente', new_representante_path('data-title' => 'Crear cliente'), :class => 'new ajax'
      = f.association :area, :prompt => 'Seleccione un Area', :hint=>'A que área corresponde'
      = f.association :contactos, :collection => [], :input_html=> {:multiple => true}
      = link_to 'Agregar nuevo contacto', new_contacto_path, :class => 'new ajax'
      = f.input :titulo, :hint=> "Escriba una breve descripción de este proyecto"
      = f.input :referencia_cliente, :hint => "Introduza una referencia de cliente, por ejemplo : AC-5454-BOL"
      = f.input :prioridad, :collection =>['A', 'B', 'C'], :as=> :radio, :hint=> 'Asigne una prioridad para este proyecto, de tipo A = Mayor Prioridad, B = Mediana Prioridad, C = Menor Prioridad '
    #tabs-2
      %div.percent_40{:class => "ui-tabs ui-widget ui-widget-content ui-corner-all",:style=>'font-size:11px;'}
        %h2
          Nuevo Email
        .container
          = f.simple_fields_for :correspondencias, Proyecto::Correspondencia.new  do |form|
            = add_child_link "Añadir email", f, :correspondencias
      %div.percent_50{:style=>'font-size:11px;width: 520px; height: auto;'}
        %h2
          Instrucciones
        = f.simple_fields_for :instruccions, Proyecto::Instruccion.new do |i|
          = render 'instruccion_fields', :f => i
          = add_child_link "Añadir Instruccion", f, :instruccions, {:object => Proyecto::Instruccion.new}


    #tabs-3
      %h2 Servicios
      = f.simple_fields_for :item_cobros, Proyecto::ItemCobro.new do |g|
        .container
          = add_child_link "Añadir", f, :item_cobros
    
    #tabs-4
      %h2
        Archivos Adjuntos
      %div#adjuntos
        %a#a_adjuntar_archivo{:href => "javascript:", :class => "new"}
          Adjuntar archivo

  = f.button :submit, 'Guardar Proyecto'

:javascript
  $(document).ready(function() {
    $('#a_adjuntar_archivo').click(function() {
      tiempo = ( new Date() ).getTime().toString();
      input = $('<input/>').attr({
        'name': 'proyecto_proyecto[adjuntos_attributes][' + tiempo + '][archivo]',
        'type': 'file',
        'size': 20
      });
      input2 = $('<input/>').attr({
        'name': 'proyecto_proyecto[adjuntos_attributes][' + tiempo + '][nombre]',
        'type': 'text',
        'size': 60
      });
      del = '<a href="javascript:" class="adjunto_delete">borrar</a>';
      var uno = $("<div class='percent_50'/>").append('<label>descripcion</label>').append(input2);
      var dos = $("<div class='percent_50'/>").append('<label>archivo</label>').append(input);
      li = $('<li/>').append(uno).append(dos).append(del)
      $('#adjuntos').append( li );
      $.mark(li, 7);
    });

    $('.adjunto_delete').live('click', function(e) {
      $(this).parents('li:first').remove();
    });
  });

  $(function() {
    $("#tabs").tabs();
    $("#proyecto_proyecto_representante_id").fcbkcomplete({
      json_url: "/representantes/buscar",
      filter_hide: true,
      filter_selected: true,
      newel: false,
      maxitems: 1
    });

    $("#proyecto_proyecto_representante_id").change(function(){
      $("#proyecto_proyecto_contacto_ids").load("/contactos/buscar?id=" + $("#proyecto_proyecto_representante_id option:selected.selected").val());
    });
  });

  $("form").submit(function(){
    $("#proyecto_proyecto_representante_id").attr("name", "proyecto_proyecto[representante_id]")
  });
