.fieldset
  %table{:border=>0}
    %tr
      %td
        = f.input :parent_id, :as => :hidden
        .input
          = f.label :usuario_id, "Usuario"
          = f.select :usuario_id, grouped_options_for_select(Usuario.all_for_areas)
      %td
        = f.input :tarea,:as => :text, :input_html => {:cols => 50, :rows => 1}
      %td
        = f.input :fecha_limite, :as => :date
      %td
        = link_to 'Subordinada', "#", :class => "subordinada"
        = link_to 'Coordinada', "#", :class => "coordinada"
  = remove_child_link "Quitar", f
  %br.clear