.fieldset
  .percent_20= f.input :referencia_cliente, :input_html=>{:size=>10}
  .percent_20= f.input :referencia_cliente_cobranza, :input_html=>{:size=>10}, :label => "codigo"
  .percent_20= f.input :estado, :input_html=>{:size=>20},:label => "Tipo"
  .percent_20= f.input :descripcion, :input_html=>{:size=>20}
  .percent_20= f.input :honorarios, :input_html=>{:size=>5}
  .percent_20= f.input :gastos_adminitrativos, :input_html=>{:size=>5}
  .percent_20= f.input :fecha_solicitud,:label => "Fecha", :input_html=>{:size=>4}

  = remove_child_link "Remover Servicio", f

