- title "Proyecto"

%p= link_to "Nuevo Proyecto", new_proyecto_proyecto_path, :class => 'new'
%table.decorated
  %tr
    %th Id
    %th Cliente
    %th Area
    %th Titulo
    %th Referencia cliente
    %th Prioridad
  - for proyecto in @proyectos
    %tr
      %td= proyecto.id
      %td= proyecto.representante
      %td= proyecto.area_id
      %td= proyecto.titulo
      %td= proyecto.referencia_cliente
      %td= proyecto.prioridad
      %td= link_to 'Mostrar', proyecto
      %td= link_to 'Eliminar',proyecto, :confirm => 'Are you sure?', :method => :delete, :class => "delete"

= will_paginate(@proyectos)
