.proyecto
  = show_for @proyecto do |p|
    = p.association :representante
    = p.association :contactos
    = p.association :area
    = p.attribute :titulo
    = p.attribute :referencia_cliente
    = p.attribute :prioridad

  = render :partial => "/proyecto/correspondencias/listado", :locals => {:correspondencias => @proyecto.correspondencias.paginate(:per_page=>5, :page=>params[:page])}
  %br
  = render :partial => "/proyecto/proyecto_items/listado", :locals => {:proyecto_items => @proyecto.proyecto_items}
  %br
  = render :partial => "/proyecto/instrucciones/listado", :locals =>{:instrucciones => @proyecto.instruccions}

  %p
    =# link_to "Editar Proyecto", edit_proyecto_proyecto_path(@proyecto),:class => "edit"

    =# link_to "Destruir", @proyecto, :confirm => 'Are you sure?', :method => :delete
 
    = link_to "Ver listado", proyecto_proyectos_path, :class => 'new'



