.proyecto
  %h1 Datos del proyecto
  = show_for @proyecto do |p|
    #contenidoy
      .izquierda{:style => "width:100%;"}
        .subizq{:style => "width:10%; text-align: left; padding-left:20px;"}
          = p.attribute :id, :label => 'Nº'
        .subder{:style => "width:80%; text-align: left;"}
          = p.association :representante, :label => 'Agente'
    .clear
    .percent_40= p.attribute :titulo
    .percent_40= p.association :area, :using=> :sigla
    .percent_40= p.attribute :referencia_cliente
    .percent_40= p.attribute :prioridad
    .percent_40= p.association :contactos
    .percent_40= p.attribute :created_at, :label => 'Fecha creación'

  = render :partial => "/proyecto/correspondencias/tabs"
  %br
  = render :partial => "/proyecto/proyecto_items/listado", :locals => {:proyecto_items => @proyecto.item_cobros}
  %br
  = render :partial => "/proyecto/instruccion_detalles/listado", :locals =>{:instruccion_detalles => @proyecto.todas_las_tareas}
  %p
    = link_to "Ver proyectos", proyecto_proyectos_path, :class => 'new'

:javascript
  $(document).ready(function() {
    $("table.decorated").each(function(){
      $(this).dataTable({
        "bJQueryUI" : true,
        "sPaginationType": "full_numbers",
        "aaSorting"       : [[0, 'asc'], [1, 'asc']],
        "oLanguage": { "sUrl": "/javascripts/datatable-es.js" }
      });
    });
  });