- title "Proyecto/Proyecto"

%p
  %strong Cliente:
  = @proyecto.cliente_id
%p
  %strong Area:
  = @proyecto.area_id
%p
  %strong Titulo:
  = @proyecto.titulo
%p
  %strong Referencia Cliente:
  = @proyecto.referencia_cliente
%p
  %strong Prioridad:
  = @proyecto.prioridad

%p
  = link_to "Edit", edit_proyecto_proyecto_path(@proyecto)
  |
  = link_to "Destroy", @proyecto, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", proyecto_proyectos_path
