.proyecto
  %h1 Datos del proyecto
  = show_for @proyecto do |p|
    #contenidoy
      .izquierda{:style => "width:100%;"}
        .subizq{:style => "width:10%; text-align: left; padding-left:20px;"}
          = p.attribute :id, :label => 'Nº'
        .subder{:style => "width:80%; text-align: left;"}
          = p.association :representante, :label => 'Agente'
    .clear
    .percent_40= p.attribute :titulo
    .percent_40= p.association :area
    .percent_40= p.attribute :referencia_cliente
    .percent_40= p.attribute :prioridad
    .percent_40= p.association :contactos
    .percent_40= p.attribute :created_at, :label => 'Fecha creación'

  = render :partial => "/proyecto/correspondencias/listado", :locals => {:correspondencias => @proyecto.correspondencias.paginate(:per_page=>5, :page=>params[:page])}
  %br
  = render :partial => "/proyecto/proyecto_items/listado", :locals => {:proyecto_items => @proyecto.item_cobros.paginate(:per_page=>5, :page=>params[:page])}
  %br
  = render :partial => "/proyecto/instruccion_detalles/listado", :locals =>{:instruccion_detalles => @proyecto.todas_las_tareas, :instruccion => Proyecto::Instruccion.first}

  %p
    =# link_to "Editar Proyecto", edit_proyecto_proyecto_path(@proyecto),:class => "edit"

    =# link_to "Destruir", @proyecto, :confirm => 'Are you sure?', :method => :delete

    = link_to "Ver listado", proyecto_proyectos_path, :class => 'new'

