<% if usuario_signed_in? %>
<ul id="navigation">
  <li class="first">
  	<%= link_to 'Signos', marcas_path%>
  	<ul>
      <li><%= link_to 'Busquedas por similitud', busquedas_path %></li>
      <li><%= link_to 'Busqueda Avanzada', busqueda_avanzada_busquedas_path %></li>
      <li><%= link_to 'Busquedas realizadas', consultas_path%></li>
      <li><%= link_to 'Reportes realizados', reporte_marcas_path%></li>
      <li><%= link_to 'Importaciones', importaciones_path%></li>
<!--      <li>
        <a href="#">Vigilancia</a>
        </li>-->
 	  </ul>
  </li>
  <li>
  	<a href="/representantes?cliente=true">Clientes</a>
  	<ul>
  		<li><%= link_to 'Agentes/Titulares', representantes_path%></li>
  	</ul>
  </li>


<!--  <li>
    <a href="#">Vigilancia</a>
  	<ul>
  		<li>
  			<a href="#/">Cruce con gaceta</a>
  		</li>
  	  <li>
  			<a href="#">Renovación de marcas</a>
      </li>
      <li>
  			<a href="#">Marcas por títular</a>
  		</li>
   	</ul>
    </li> -->

  <li>
  	<a href="#">Datos generales</a>
  	<ul>
  		<li><%= link_to 'Tipos de marca', tipo_marcas_path%></li>
  		<li><%= link_to 'Tipos de signo', tipo_signos_path%></li>
  		<li><%= link_to 'Clases', clases_path %></li>
  		<li><%= link_to 'Usuarios', usuarios_path%></li>
  		<li><%= link_to 'Paises', paises_path%></li>
  	</ul>
  </li>

  <li>
  	<a href="#">Reportes Estadísticos</a>
    <ul>
      <li>
        <%= last_importation rescue "" %>
      </li>
    </ul>
    <li>
     <%= link_to 'Proyectos', proyecto_proyectos_path%>
    </li>
    	
  <!--	<ul>
  		<li>
  			<a href="#">Marcas por tipo signo</a>
  		</li>
  		<li>
  			<a href="#">Marcas por estado</a>
      </li>
    	<li>
  			<a href="#">Marcas propias/ajenas</a>
      </li>

    </ul>-->
  </li>

</ul>
<% end %>
