<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" >
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="csrf-token" content="<%= form_authenticity_token() %>" />

  <title>ORPAN - GEMA</title>
  <%= stylesheet_link_tag 'style', 'style', 'jquery-ui-1.8.1.custom.css', :cache => 'styles' %>

  <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.1.custom.min', 'jquery.ui.datepicker-es', 'application', :cache => 'js' %>

</head>
<body>
  
<div id="debug-error" style="display:none; width: 640px; height: 480px; overflow: auto; z-index: 10000"></div> 

<div id="wrapper">
  <ul id="navigation">
    <li><a href="/clases">Clases</a></li>
    <li><a href="/solicitudes">Solicitudes</a></li>
  </ul>

  <div id="cont">
    <div id="flashNotice"><%= flash[:notice] %></div>
    <%= yield %>
  </div>
</div>

</body>
</html>
