<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" >
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="csrf-token" content="<%= form_authenticity_token() %>" />

  <title>ORPAN - GEMA</title>
  <%= stylesheet_link_tag 'style', 'jquery-ui-1.8.1.custom.css', :cache => 'styles' %>

  <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.1.custom.min', 'jquery.ui.datepicker-es', 'application', :cache => 'js' %>

</head>
<body>
  
<div id="debug-error" style="display:none; width: 640px; height: 480px; overflow: auto; z-index: 10000"></div> 

<div id="wrapper">

  <div id="header">
  </div>


  <%= render :partial => "layouts/menu" %>
  <div id="cont">
    <%= render :partial => "layouts/notice" %>

    <%= yield %>
  </div>
</div>

</body>
</html>
